<div class="order_wrap my-auctions" ng-controller="MyAuctionBondController">
    <auctionnav></auctionnav> 
    <section class="order_body">
        <!-- 保证金 -->
        <ul>
            <li ng-repeat="au in auctionList">
                <div class="order-bd1">
                    <div class="order_pic col-30 fl">
                    <a href="#/auction-details.html?id={{au.id}}&gid={{au.gid}}&key=detail">
                        <img src="images/index/product2.png" alt="">
                     </a>
                    </div>
                    <div class="order_info_wrap col-67 fs12 fl" ng-if="'release'==au.depositStatus">
                        <div class="order_info_body">
                            <div class="order_title col-70 fl">
                            <a href="#/auction-details.html?id={{au.id}}&gid={{au.gid}}&key=detail">
                             {{au.gname+''+au.propertiesValue}}
                             </a>
                            </div>
                            <div class="order-prices col-30 fr">
                                <span style="color:#807E7E;">释放成功</span>
                                <div class="cl"></div>
                                <div class="order_price" style="color:#807E7E;">
                                    ￥
                                    <span class="fs14">{{au.deposit}}</span>
                                </div>
                            </div>
                            <div class="cl"></div>
                            <p style="color:#807E7E;">{{au.releaseTime| date:'yyyy年MM月dd日  HH:mm'}}</p>
                            <div class="cl h10"></div>
                            <div class="order_btn fl">
                              <a href="#/view-details.html?id={{au.id}}&gid={{au.gid}}">
                                <button class="order_cancel fs12 fr" style="color:#807E7E;">查看保证金</button>
                              </a>
                            </div>

                        </div>
                    </div>
                    <div class="order_info_wrap col-67 fs12 fl" ng-if="'release'!=au.depositStatus">
                        <div class="order_info_body">
                            <div class="order_title col-70 fl">
	                            <a href="#/auction-details.html?id={{au.id}}&gid={{au.gid}}&key=detail">
	                             {{au.gname+''+au.propertiesValue}}
	                             </a>
                            </div>
                            <div class="order-prices col-30 fr">
                                <span style="color:#807E7E;">锁定成功</span>
                                <div class="cl"></div>
                                <div class="order_price" style="color:#807E7E;">
                                    ￥
                                    <span class="fs14">{{au.deposit}}</span>
                                </div>
                            </div>
                            <div class="cl"></div>
                            <p style="color:#807E7E;">{{au.lockTime| date:'yyyy年MM月dd日  HH:mm'}}</p>
                            <div class="cl h10"></div>
                            <div class="order_btn fl">
                              <a href="#/view-details.html?id={{au.id}}&gid={{au.gid}}">
                                <button class="order_cancel fs12 fr" style="color:#807E7E;">查看保证金</button>
                              </a>
                            </div>

                        </div>
                    </div>
                </div>
            </li>
           
        </ul>
    </section>
     <div class="blank-tips" ng-show="notshow">
        <i class="icon-search"></i>
        <p>您还没有相关信息~</p>
    </div>
</div>
<nav></nav>