<div class="order_wrap my-auctions" ng-controller="MyAuctionToPayController">
    <auctionnav></auctionnav> 
    <section class="order_body">
        <!-- 待付款 -->
            <ul>
                <li ng-repeat="au in auctionList" ng-if="'TOPAY'==au.status">
                    <div class="order-hd1">
                        <div class="order-hd1-left fl">
                            {{au.endTime | date:'yyyy年MM月dd日 HH:mm'}}已结束
                        </div>
                    </div>
                    <div class="cl"></div>
                    <div class="order-bd1">
                        <div class="order_pic col-30 fl">
                        <a href="#/marketing/auction/auction-details.html?id={{au.id}}&gid={{au.gid}}">
                            <img src="images/index/product2.png" alt="">
                        </a>
                        </div>
                    <div class="order_info_wrap col-67 fs12 fl">
                        <div class="order_info_body">
                            <div class="order_title col-70 fl">
                            <a href="#/marketing/auction/auction-details.html?id={{au.id}}&gid={{au.gid}}">
                                {{au.gname+''+au.propertiesValue}}
                            </a>
                            </div>
                            <div class="order-prices col-30 fr">
                                <span style="color:#807E7E;">中标价</span>
                                <div class="cl"></div>
                                <div class="order_price">￥<span class="fs14">{{au.soldPrice}}</span></div>
                            </div>
                            <div class="cl"></div>
                            <p style="color:#807E7E;">保证金：￥{{au.deposit}}</p>
                            <div class="cl h10"></div>
                             <div class="order_btn fl">
                                <button class="order_cancel fs12 fr red" ng-click="topay(au.id,au.gid,au.soldPrice-au.deposit,au,au.goods)">立即支付</button>
                            </div>

                        </div>
                    </div>
                    </div>
                </li>
            </ul>
    </section>
     <div class="blank-tips" ng-show="notshow">
        <i class="icon-search"></i>
        <p>您还没有相关信息~</p>
    </div>
</div>
<nav></nav>