<div class="order_wrap my-auctions" ng-controller="MyAuctionController">
    <auctionnav></auctionnav> 
    <section class="order_body">
        <!-- 参拍记录 -->
        <ul class="cur" >
            <li ng-repeat="au in auctionList">
                <div class="order-hd1" ng-if="'AUCTIONING'==au.status">
                    <div class="order-hd1-left fl">{{au.endTime | date:'yyyy年MM月dd日 HH:mm'}}结束 </div>
                    <div class="order-hd1-right fr fs14" ng-if="'PAID'==au.myStatus">出价</div>
                    <div class="order-hd1-right fr fs14" ng-if="'AUCTIONING'==au.myStatus">出价</div>
                </div>
                <div class="order-hd1" style="background-color:#CCCCCC;" ng-if="'OVER'==au.status||'TOPAY'==au.status">
                    <div class="order-hd1-right fl fs14">已结束</div>
                </div>
                <div class="cl"></div>
                <!-- 正在竞拍 -->
                <div class="order-bd1" ng-if="'AUCTIONING'==au.status">
                    <div class="order_pic col-30 fl" >
                    <a href="#/auction-details.html?id={{au.id}}&gid={{au.gid}}&key=detail">
                        <img src="images/index/product2.png" alt="">
                     </a>
                    </div>
                    <div class="order_info_wrap col-67 fs12 fl">
                        <div class="order_info_body">
                            <div class="order_title col-70 fl">
                            <a href="#/auction-details.html?id={{au.id}}&gid={{au.gid}}&key=detail">
                                {{au.gname+''+au.propertiesValue}}
                            </a>
                            </div>
                            <div class="order-prices col-30 fr">
                                <span style="color:#807E7E;">起拍价</span>
                                <div class="cl"></div>
                                <div class="order_price">
                                    ￥
                                    <span class="fs14">{{au.startPrice}}</span>
                                </div>
                            </div>
                            <div class="cl"></div>
                            <p style="color:#807E7E;">保证金：￥{{au.deposit}}</p>
                            <div class="cl h10"></div>
                            <div class="order_btn fl">
                                <a href="#/auction-hall.html?id={{au.id}}&gid={{au.gid}}">
                                 <button class="order_cancel fs12 fr green">出价</button>
<!--                                  <button class="order_cancel fs12 fr green" ui-sref="auction-hall">出价</button> -->
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
                <!--   竞拍结束 -->
                <div class="order-bd1" ng-if="'OVER'==au.status||'TOPAY'==au.status">
                    <div class="order_pic col-30 fl">
                    <a href="#/auction-details.html?id={{au.id}}&gid={{au.gid}}&key=detail">
                        <img src="images/index/product2.png" alt="">
                    </a>
                    </div>
                    <div class="order_info_wrap col-67 fs12 fl" ng-if="'release'!=au.depositStatus">
                        <div class="order_info_body">
                            <div class="order_title col-70 fl" >
                            <a href="#/auction-details.html?id={{au.id}}&gid={{au.gid}}&key=detail">
                                {{au.gname+''+au.propertiesValue}}
                            </a>
                            </div>
                            <div class="order-prices col-30 fr">
                                <span style="color:#807E7E;">成交价</span>
                                <div class="cl"></div>
                                <div class="order_price">
                                    ￥
                                    <span class="fs14">{{au.soldPrice}}</span>
                                </div>
                            </div>
                            <div class="cl"></div>
                            <p style="color:#807E7E;">保证金已锁定：￥{{au.deposit}}</p>
                            <div class="cl h10"></div>
                            <div class="order_btn fl">
	                            <a href="#/view-details.html?id={{au.id}}&gid={{au.gid}}">
	                                <button class="order_cancel fs12 fr" style="color:#807E7E;">查看保证金</button>
	                            </a>
                            </div>

                        </div>
                    </div>
                    <div class="order_info_wrap col-67 fs12 fl" ng-if="'release'==au.depositStatus">
                        <div class="order_info_body">
                            <div class="order_title col-70 fl">
	                            <a href="#/auction-details.html?id={{au.id}}&gid={{au.gid}}&key=detail">
	                                {{au.gname+''+au.propertiesValue}}
	                            </a>
                            </div>
                            <div class="order-prices col-30 fr">
                                <span style="color:#807E7E;">成交价</span>
                                <div class="cl"></div>
                                <div class="order_price">
                                    ￥
                                    <span class="fs14">{{au.soldPrice}}</span>
                                </div>
                            </div>
                            <div class="cl"></div>
                            <p style="color:#807E7E;">保证金已释放：￥{{au.deposit}}</p>
                            <div class="cl h10"></div>
                            <div class="order_btn fl">
                                <a href="#/view-details.html?id={{au.id}}&gid={{au.gid}}">
                                 <button class="order_cancel fs12 fr" style="color:#807E7E;">查看保证金</button>
                                </a>
                            </div>

                        </div>
                    </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</div>


<nav></nav>
<!-- 
<div class="order_wrap my-auctions" ng-controller="MyAuctionController">
    <auctionnav></auctionnav> 
    <section class="order_body">
        参拍记录
        <ul class="cur">
            <li>
                <div class="order-hd1">
                    <div class="order-hd1-left fl">2016年5月25日 22:00结束</div>
                    <div class="order-hd1-right fr fs14">出价</div>
                </div>
                <div class="cl"></div>
                <div class="order-bd1">
                    <div class="order_pic col-30 fl" ui-sref="auction-hall">
                        <img src="images/index/product2.png" alt="">
                    </div>
                    <div class="order_info_wrap col-67 fs12 fl">
                        <div class="order_info_body">
                            <div class="order_title col-70 fl" ui-sref="auction-hall">
                                拉卡拉收款宝手机pos机 信用卡刷
                            </div>
                            <div class="order-prices col-30 fr">
                                <span style="color:#807E7E;">起拍价</span>
                                <div class="cl"></div>
                                <div class="order_price">
                                    ￥
                                    <span class="fs14">1.00</span>
                                </div>
                            </div>
                            <div class="cl"></div>
                            <p style="color:#807E7E;">保证金：￥10.00</p>
                            <div class="cl h10"></div>
                            <div class="order_btn fl">
                                <button class="order_cancel fs12 fr green" ui-sref="auction-hall">出价</button>
                            </div>

                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="order-hd1">
                    <div class="order-hd1-left fl">2016年5月25日 22:00:11</div>
                    <div class="order-hd1-right fr fs14">未报名</div>
                </div>
                <div class="cl"></div>
                <div class="order-bd1">
                    <div class="order_pic col-30 fl" ui-sref="auction-details">
                        <img src="images/index/product2.png" alt="">
                    </div>
                    <div class="order_info_wrap col-67 fs12 fl">
                        <div class="order_info_body">
                            <div class="order_title col-70 fl" ui-sref="auction-details">
                                拉卡拉收款宝手机pos机 信用卡刷
                            </div>
                            <div class="order-prices col-30 fr">
                                <span style="color:#807E7E;">起拍价</span>
                                <div class="cl"></div>
                                <div class="order_price">
                                    ￥
                                    <span class="fs14">1.00</span>
                                </div>
                            </div>
                            <div class="cl"></div>
                            <p style="color:#807E7E;">保证金：￥10.00</p>
                            <div class="cl h10"></div>
                            <div class="order_btn fl">
                                <button class="order_cancel fs12 fr red" ui-sref="auction-details">报名</button>
                            </div>

                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="order-hd1">
                    <div class="order-hd1-left fl">2016年5月25日 22:00:11</div>
                    <div class="order-hd1-right fr fs14">领先</div>
                </div>
                <div class="cl"></div>
                <div class="order-bd1">
                    <div class="order_pic col-30 fl" ui-sref="auction-hall">
                            <img src="images/index/product2.png" alt="">
                    </div>
                    <div class="order_info_wrap col-67 fs12 fl">
                        <div class="order_info_body">
                            <div class="order_title col-70 fl" ui-sref="auction-hall">
                               拉卡拉收款宝手机pos机 信用卡刷
                            </div>
                            <div class="order-prices col-30 fr">
                                <span style="color:#807E7E;">起拍价</span>
                                <div class="cl"></div>
                                <div class="order_price">
                                    ￥
                                    <span class="fs14">1.00</span>
                                </div>
                            </div>
                            <div class="cl"></div>
                            <p style="color:#807E7E;">保证金：￥10.00</p>
                            <div class="cl h10"></div>
                            <div class="order_btn fl">
                                <button class="order_cancel fs12 fr green" ui-sref="auction-hall">出价</button>
                            </div>

                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</div>
<nav></nav>
 -->





<!-- <div class="order_wrap my-auctions" ng-controller="MyAuctionController">
    <auctionnav></auctionnav> 
    <section class="order_body">
        参拍记录
        <ul class="cur">
            <li>
                <div class="order-hd1">
                    <div class="order-hd1-left fl">2016年5月25日 22:00结束</div>
                    <div class="order-hd1-right fr fs14">出价</div>
                </div>
                <div class="cl"></div>
                <div class="order-bd1">
                    <div class="order_pic col-30 fl" ui-sref="auction-hall">
                        <img src="images/index/product2.png" alt="">
                    </div>
                    <div class="order_info_wrap col-67 fs12 fl">
                        <div class="order_info_body">
                            <div class="order_title col-70 fl" ui-sref="auction-hall">
                                拉卡拉收款宝手机pos机 信用卡刷
                            </div>
                            <div class="order-prices col-30 fr">
                                <span style="color:#807E7E;">起拍价</span>
                                <div class="cl"></div>
                                <div class="order_price">
                                    ￥
                                    <span class="fs14">1.00</span>
                                </div>
                            </div>
                            <div class="cl"></div>
                            <p style="color:#807E7E;">保证金：￥10.00</p>
                            <div class="cl h10"></div>
                            <div class="order_btn fl">
                                <button class="order_cancel fs12 fr green" ui-sref="auction-hall">出价</button>
                            </div>

                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="order-hd1">
                    <div class="order-hd1-left fl">2016年5月25日 22:00:11</div>
                    <div class="order-hd1-right fr fs14">未报名</div>
                </div>
                <div class="cl"></div>
                <div class="order-bd1">
                    <div class="order_pic col-30 fl" ui-sref="auction-details">
                        <img src="images/index/product2.png" alt="">
                    </div>
                    <div class="order_info_wrap col-67 fs12 fl">
                        <div class="order_info_body">
                            <div class="order_title col-70 fl" ui-sref="auction-details">
                                拉卡拉收款宝手机pos机 信用卡刷
                            </div>
                            <div class="order-prices col-30 fr">
                                <span style="color:#807E7E;">起拍价</span>
                                <div class="cl"></div>
                                <div class="order_price">
                                    ￥
                                    <span class="fs14">1.00</span>
                                </div>
                            </div>
                            <div class="cl"></div>
                            <p style="color:#807E7E;">保证金：￥10.00</p>
                            <div class="cl h10"></div>
                            <div class="order_btn fl">
                                <button class="order_cancel fs12 fr red" ui-sref="auction-details">报名</button>
                            </div>

                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="order-hd1">
                    <div class="order-hd1-left fl">2016年5月25日 22:00:11</div>
                    <div class="order-hd1-right fr fs14">领先</div>
                </div>
                <div class="cl"></div>
                <div class="order-bd1">
                    <div class="order_pic col-30 fl" ui-sref="auction-hall">
                            <img src="images/index/product2.png" alt="">
                    </div>
                    <div class="order_info_wrap col-67 fs12 fl">
                        <div class="order_info_body">
                            <div class="order_title col-70 fl" ui-sref="auction-hall">
                               拉卡拉收款宝手机pos机 信用卡刷
                            </div>
                            <div class="order-prices col-30 fr">
                                <span style="color:#807E7E;">起拍价</span>
                                <div class="cl"></div>
                                <div class="order_price">
                                    ￥
                                    <span class="fs14">1.00</span>
                                </div>
                            </div>
                            <div class="cl"></div>
                            <p style="color:#807E7E;">保证金：￥10.00</p>
                            <div class="cl h10"></div>
                            <div class="order_btn fl">
                                <button class="order_cancel fs12 fr green" ui-sref="auction-hall">出价</button>
                            </div>

                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</div>
<nav></nav> -->