<div class="order_wrap my-auctions" ng-controller="MyAuctionOverController">
    <auctionnav></auctionnav> 
    <section class="order_body">
        <!-- 已结束 -->
        <ul>
            <li ng-repeat="au in auctionList" ng-if="'OVER'==au.status">
                <div class="order-hd1" style="background-color:#CCCCCC;">
                    <div class="order-hd1-right fl fs14">已结束</div>
                </div>
                <div class="cl"></div>
                <div class="order-bd1">
                    <div class="order_pic col-30 fl" ui-sref="auction-details">
                        <img src="images/index/product2.png" alt="">
                    </div>
                    <div class="order_info_wrap col-67 fs12 fl" ng-if="'lock'==au.depositStatus">
                        <div class="order_info_body">
                            <div class="order_title col-70 fl" ui-sref="auction-details">
                                {{au.gname+''+au.propertiesValue}}
                            </div>
                            <div class="order-prices col-30 fr">
                                <span style="color:#807E7E;">成交价</span>
                                <div class="cl"></div>
                                <div class="order_price">
                                    ￥
                                    <span class="fs14">1.00</span>
                                </div>
                            </div>
                            <div class="cl"></div>
                            <p style="color:#807E7E;">保证金已锁定：￥{{au.deposit}}</p>
                            <div class="cl h10"></div>
                            <div class="order_btn fl">
	                            <a href="#/view-details.html?id={{au.id}}&gid={{au.gid}}">
	                                <button class="order_cancel fs12 fr" style="color:#807E7E;">查看保证金</button>
	                            </a>
                            </div>

                        </div>
                    </div>
                    <div class="order_info_wrap col-67 fs12 fl" ng-if="'release'==au.depositStatus">
                        <div class="order_info_body">
                            <div class="order_title col-70 fl" ui-sref="auction-details">
                                {{au.gname+''+au.propertiesValue}}
                            </div>
                            <div class="order-prices col-30 fr">
                                <span style="color:#807E7E;">成交价</span>
                                <div class="cl"></div>
                                <div class="order_price">
                                    ￥
                                    <span class="fs14">1.00</span>
                                </div>
                            </div>
                            <div class="cl"></div>
                            <p style="color:#807E7E;">保证金已释放：￥{{au.deposit}}</p>
                            <div class="cl h10"></div>
                            <div class="order_btn fl">
                                <a href="#/view-details.html?id={{au.id}}&gid={{au.gid}}">
                                 <button class="order_cancel fs12 fr" style="color:#807E7E;">查看保证金</button>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </li>
           
        </ul>
    </section>
</div>
<nav></nav>