<div class="order_wrap my-auctions">
    <auctionnav></auctionnav> 
    <section class="order_body">
        <!-- 保证金 -->
        <ul>
            <li>
                <div class="order-bd1">
                    <div class="order_pic col-30 fl" ui-sref="auction-hall">
                        <img src="images/index/product2.png" alt="">
                    </div>
                    <div class="order_info_wrap col-67 fs12 fl">
                        <div class="order_info_body">
                            <div class="order_title col-70 fl" ui-sref="auction-hall">
                               拉卡拉收款宝手机pos机 信用卡刷
                            </div>
                            <div class="order-prices col-30 fr">
                                <span style="color:#807E7E;">锁定成功</span>
                                <div class="cl"></div>
                                <div class="order_price" style="color:#807E7E;">
                                    ￥
                                    <span class="fs14">10.00</span>
                                </div>
                            </div>
                            <div class="cl"></div>
                            <p style="color:#807E7E;">05月25日 09:12:25</p>
                            <div class="cl h10"></div>
                            <div class="order_btn fl">
                                <button class="order_cancel fs12 fr" style="color:#807E7E;" ui-sref="view-details">查看保证金</button>
                            </div>

                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="order-bd1">
                    <div class="order_pic col-30 fl" ui-sref="auction-details">
                        <img src="images/index/product2.png" alt="">
                    </div>
                    <div class="order_info_wrap col-67 fs12 fl">
                        <div class="order_info_body">
                            <div class="order_title col-70 fl" ui-sref="auction-details">
                                拉卡拉收款宝手机pos机 信用卡刷
                            </div>
                            <div class="order-prices col-30 fr">
                                <span style="color:#ff473f;">释放成功</span>
                                <div class="cl"></div>
                                <div class="order_price">
                                    ￥
                                    <span class="fs14">10.00</span>
                                </div>
                            </div>
                            <div class="cl"></div>
                            <p style="color:#807E7E;">05月25日 09:12:25</p>
                            <div class="cl h10"></div>
                            <div class="order_btn fl">
                                <button class="order_cancel fs12 fr" style="color:#807E7E;"  ui-sref="view-details">查看保证金</button>
                            </div>

                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</div>
<nav></nav>