<div class="order_wrap my-auctions">
        <div class="order_nav over">
            <ul>
                <li class="cur">
                    <a class="all"> 参拍记录 <i></i></a>                    
                </li>
                <li>
                    <a class="non-payment"> 已结束 <i></i></a>
                </li>
                <li>
                    <a class="unfilled"> 待付款 <i></i></a>
                </li>
                 <li>
                    <a class="delivered"> 保证金 <i></i></a>
                </li>
            </ul>
        </div>
        <section class="order_body">
            <!-- 参拍记录 -->
            <ul class="cur">
                <li>
                    <div class="order-hd1">
                        <div class="order-hd1-left fl">
                            2016年5月25日 22:00结束
                        </div>
                        <div class="order-hd1-right fr fs14">
                            出价
                        </div>
                    </div>
                    <div class="cl"></div>
                    <div class="order-bd1">
                        <div class="order_pic col-30 fl">
                            <a href="#/product/details.html">
                                <img src="images/index/product2.png" alt="">
                            </a>
                        </div>
                    <div class="order_info_wrap col-67 fs12 fl">
                        <div class="order_info_body">
                            <div class="order_title col-70 fl">
                                <a href="#/product/details.html">拉卡拉收款宝手机pos机 信用卡刷 </a>
                            </div>
                            <div class="order-prices col-30 fr">
                                <span style="color:#807E7E;">起拍价</span>
                                <div class="cl"></div>
                                <div class="order_price">￥<span class="fs14">1.00</span></div>
                            </div>
                            <div class="cl"></div>
                            <p style="color:#807E7E;">保证金：￥10.00</p>
                            <div class="cl h10"></div>
                             <div class="order_btn fl">
                                <button class="order_cancel fs12 fr green">出价</button>
                            </div>

                        </div>
                    </div>
                    </div>
                </li>
                <li>
                    <div class="order-hd1">
                        <div class="order-hd1-left fl">
                            2016年5月25日 22:00:11
                        </div>
                        <div class="order-hd1-right fr fs14">
                            未报名
                        </div>
                    </div>
                    <div class="cl"></div>
                    <div class="order-bd1">
                        <div class="order_pic col-30 fl">
                            <a href="#/product/details.html">
                                <img src="images/index/product2.png" alt="">
                            </a>
                        </div>
                    <div class="order_info_wrap col-67 fs12 fl">
                        <div class="order_info_body">
                            <div class="order_title col-70 fl">
                                <a href="#/product/details.html">拉卡拉收款宝手机pos机 信用卡刷 </a>
                            </div>
                            <div class="order-prices col-30 fr">
                                <span style="color:#807E7E;">起拍价</span>
                                <div class="cl"></div>
                                <div class="order_price">￥<span class="fs14">1.00</span></div>
                            </div>
                            <div class="cl"></div>
                            <p style="color:#807E7E;">保证金：￥10.00</p>
                            <div class="cl h10"></div>
                             <div class="order_btn fl">
                                <button class="order_cancel fs12 fr red">报名</button>
                            </div>

                        </div>
                    </div>
                    </div>
                </li>
                <li>
                    <div class="order-hd1">
                        <div class="order-hd1-left fl">
                            2016年5月25日 22:00:11
                        </div>
                        <div class="order-hd1-right fr fs14">
                            领先
                        </div>
                    </div>
                    <div class="cl"></div>
                    <div class="order-bd1">
                        <div class="order_pic col-30 fl">
                            <a href="#/product/details.html">
                                <img src="images/index/product2.png" alt="">
                            </a>
                        </div>
                    <div class="order_info_wrap col-67 fs12 fl">
                        <div class="order_info_body">
                            <div class="order_title col-70 fl">
                                <a href="#/product/details.html">拉卡拉收款宝手机pos机 信用卡刷 </a>
                            </div>
                            <div class="order-prices col-30 fr">
                                <span style="color:#807E7E;">起拍价</span>
                                <div class="cl"></div>
                                <div class="order_price">￥<span class="fs14">1.00</span></div>
                            </div>
                            <div class="cl"></div>
                            <p style="color:#807E7E;">保证金：￥10.00</p>
                            <div class="cl h10"></div>
                             <div class="order_btn fl">
                                <button class="order_cancel fs12 fr green">出价</button>
                            </div>

                        </div>
                    </div>
                    </div>
                </li>
            </ul>
            <!-- 已结束 -->
            <ul>
                <li>
                    <div class="order-hd1" style="background-color:#CCCCCC;">
                        <div class="order-hd1-right fl fs14">
                            已结束
                        </div>
                    </div>
                    <div class="cl"></div>
                    <div class="order-bd1">
                        <div class="order_pic col-30 fl">
                            <a href="#/product/details.html">
                                <img src="images/index/product2.png" alt="">
                            </a>
                        </div>
                    <div class="order_info_wrap col-67 fs12 fl">
                        <div class="order_info_body">
                            <div class="order_title col-70 fl">
                                <a href="#/product/details.html">拉卡拉收款宝手机pos机 信用卡刷 </a>
                            </div>
                            <div class="order-prices col-30 fr">
                                <span style="color:#807E7E;">成交价</span>
                                <div class="cl"></div>
                                <div class="order_price">￥<span class="fs14">1.00</span></div>
                            </div>
                            <div class="cl"></div>
                            <p style="color:#807E7E;">保证金已释放：￥10.00</p>
                            <div class="cl h10"></div>
                             <div class="order_btn fl">
                                <button class="order_cancel fs12 fr" style="color:#807E7E;">保证金详情</button>
                            </div>

                        </div>
                    </div>
                    </div>
                </li>
                <li>
                    <div class="order-hd1" style="background-color:#CCCCCC;">
                        <div class="order-hd1-right fl fs14">
                            已结束
                        </div>
                    </div>
                    <div class="cl"></div>
                    <div class="order-bd1">
                        <div class="order_pic col-30 fl">
                            <a href="#/product/details.html">
                                <img src="images/index/product2.png" alt="">
                            </a>
                        </div>
                    <div class="order_info_wrap col-67 fs12 fl">
                        <div class="order_info_body">
                            <div class="order_title col-70 fl">
                                <a href="#/product/details.html">拉卡拉收款宝手机pos机 信用卡刷 </a>
                            </div>
                            <div class="order-prices col-30 fr">
                                <span style="color:#807E7E;">成交价</span>
                                <div class="cl"></div>
                                <div class="order_price">￥<span class="fs14">1.00</span></div>
                            </div>
                            <div class="cl"></div>
                            <p style="color:#807E7E;">保证金已释放：￥10.00</p>
                            <div class="cl h10"></div>
                             <div class="order_btn fl">
                                <button class="order_cancel fs12 fr" style="color:#807E7E;">保证金详情</button>
                            </div>

                        </div>
                    </div>
                    </div>
                </li>
            </ul>
            <!-- 待付款 -->
            <ul>
                <li>
                    <div class="order-hd1">
                        <div class="order-hd1-left fl">
                            2016年5月25日 22:00已结束
                        </div>
                    </div>
                    <div class="cl"></div>
                    <div class="order-bd1">
                        <div class="order_pic col-30 fl">
                            <a href="#/product/details.html">
                                <img src="images/index/product2.png" alt="">
                            </a>
                        </div>
                    <div class="order_info_wrap col-67 fs12 fl">
                        <div class="order_info_body">
                            <div class="order_title col-70 fl">
                                <a href="#/product/details.html">拉卡拉收款宝手机pos机 信用卡刷 </a>
                            </div>
                            <div class="order-prices col-30 fr">
                                <span style="color:#807E7E;">中标价</span>
                                <div class="cl"></div>
                                <div class="order_price">￥<span class="fs14">1.00</span></div>
                            </div>
                            <div class="cl"></div>
                            <p style="color:#807E7E;">保证金：￥10.00</p>
                            <div class="cl h10"></div>
                             <div class="order_btn fl">
                                <button class="order_cancel fs12 fr red">立即支付</button>
                            </div>

                        </div>
                    </div>
                    </div>
                </li>
            </ul>
            <!-- 保证金 -->
            <ul>
                 <li>
                    <div class="order-bd1">
                        <div class="order_pic col-30 fl">
                            <a href="#/product/details.html">
                                <img src="images/index/product2.png" alt="">
                            </a>
                        </div>
                    <div class="order_info_wrap col-67 fs12 fl">
                        <div class="order_info_body">
                            <div class="order_title col-70 fl">
                                <a href="#/product/details.html">拉卡拉收款宝手机pos机 信用卡刷 </a>
                            </div>
                            <div class="order-prices col-30 fr">
                                <span style="color:#807E7E;">锁定成功</span>
                                <div class="cl"></div>
                                <div class="order_price" style="color:#807E7E;">￥<span class="fs14">10.00</span></div>
                            </div>
                            <div class="cl"></div>
                            <p style="color:#807E7E;">05月25日 09:12:25</p>
                            <div class="cl h10"></div>
                             <div class="order_btn fl">
                                <button class="order_cancel fs12 fr" style="color:#807E7E;">查看明细</button>
                            </div>

                        </div>
                    </div>
                    </div>
                </li>
                 <li>
                    <div class="order-bd1">
                        <div class="order_pic col-30 fl">
                            <a href="#/product/details.html">
                                <img src="images/index/product2.png" alt="">
                            </a>
                        </div>
                    <div class="order_info_wrap col-67 fs12 fl">
                        <div class="order_info_body">
                            <div class="order_title col-70 fl">
                                <a href="#/product/details.html">拉卡拉收款宝手机pos机 信用卡刷 </a>
                            </div>
                            <div class="order-prices col-30 fr">
                                <span style="color:#ff473f;">释放成功</span>
                                <div class="cl"></div>
                                <div class="order_price">￥<span class="fs14">10.00</span></div>
                            </div>
                            <div class="cl"></div>
                            <p style="color:#807E7E;">05月25日 09:12:25</p>
                            <div class="cl h10"></div>
                             <div class="order_btn fl">
                                <button class="order_cancel fs12 fr" style="color:#807E7E;">查看明细</button>
                            </div>

                        </div>
                    </div>
                    </div>
                </li>
            </ul>
        </section>
    </div>
    <nav></nav>