<div class="view-details" ng-controller="MyAuctionBondDetailController">
    <div class="view-details-top" ng-if="'release'!=deposit.depositStatus">
        <p class="fs16">您参与该拍品的报名保证金已锁定成功。</p>
        <p>锁定成功</p>
    </div>
    <div class="view-details-top" ng-if="'release'==deposit.depositStatus">
        <p class="fs16">您参与该拍品的报名保证金已释放成功。</p>
        <p>释放成功</p>
    </div>
    <div class="cl"></div>
    <div class="view-details-state">
        <div class="view-state-hd">
            <div class="view-hd-left fl col-60">状态</div>
            <div class="view-hd-right fl col-40">金额</div>
        </div>
        <div class="cl"></div>
        <div class="view-state-bd" ng-if="'release'!=deposit.depositStatus">
            <ul>
                <li>
                    <div class="view-bd-left fl col-60">
                        <p>锁定成功</p>
                        <p class="fs12" style="color:#7F7F7F;">{{deposit.lockTime| date:'yyyy年MM月dd日  HH:mm'}}</p>
                    </div>
                    <div class="view-bd-right fl col-40">{{auction.deposit}}元</div>
                </li>
            </ul>
        </div>
        <div class="view-state-bd" ng-if="'release'==deposit.depositStatus">
            <ul>
                <li>
                    <div class="view-bd-left fl col-60">
                        <p>释放成功</p>
                        <p class="fs12" style="color:#7F7F7F;">{{deposit.releaseTime| date:'yyyy年MM月dd日  HH:mm'}}</p>
                    </div>
                    <div class="view-bd-right fl col-40">{{auction.deposit}}元</div>
                </li>
                <li>
                    <div class="view-bd-left fl col-60">
                        <p>锁定成功</p>
                        <p class="fs12" style="color:#7F7F7F;">{{deposit.lockTime| date:'yyyy年MM月dd日  HH:mm'}}</p>
                    </div>
                    <div class="view-bd-right fl col-40">{{auction.deposit}}元</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="cl h10"></div>
    <div class="order-bd1" style="background-color: #fff;">
        <div class="order_pic col-30 fl" style="margin-right:3%;padding-bottom: 5px;"  ui-sref="auction-bond">
            <img style="width:100%;border: 1px solid rgb(204, 204, 204);" src="images/index/product2.png" alt=""></div>
        <div class="order_info_wrap col-67 fs12 fl">
            <div class="order_info_body" style="padding-top: 10px;">
                <div class="order_title fs14 text-abb" style="width:100%;"  ui-sref="auction-bond">{{goods.name+' '+goodSku.propertiesValue}}</div>
                <div class="cl"></div>
                <p style="color:#807E7E; margin-bottom: 5px; margin-top: 5px;">保证金：￥{{auction.deposit}}</p>
                <p style="color:#807E7E;">微信账号：2653151122</p>
            </div>
        </div>
    </div>
    <div class="cl h20"></div>
    <div class="view-details-tips">
        <div class="view-tips-hd fs16">竞拍提醒您：</div>
        <div class="view-tips-bd">
            <p>1.如果通过网银缴纳保证金，保证金释放后会退回银行卡，需要1~5个工作日。</p>
            <p>2.通过个人网银或企业网银交纳保证金，保证金退回银行卡时，可能会退回失败，这时保证金会在您的支付宝余额中，需主动提现。</p>
            <p>3.卖家发货后，若您有售中售后的保证金退款、赔付信息不在此展示。</p>
        </div>
    </div>
</div>