<div class="auction-hall center-view" ng-controller="AuctionHallController">
	<div class="ad1-top before" ng-if="'NEW'==auction.status">
		<div class="ad1-circle fl"> <i class="icon-zb"></i>
		</div>
		<p class="fl">{{auction.startTime | date:'MM月dd日 HH:mm'}} 开始</p>
	</div>
	<div class="ad1-top ing" ng-if="'AUCTIONING'==auction.status">
		<div class="ad1-circle fl"> <i class="icon-zb"></i>
		</div>
		<p class="fl">{{end}}</p>
	</div>
	<div class="ad1-top ing" ng-if="'AUCTIONING'!=auction.status && 'NEW'!=auction.status">
		<div class="ad1-circle fl"> <i class="icon-zb"></i>
		</div>
		<p class="fl">{{end}}</p>
	</div>
	<div class="ad-box1">
		<div class="ad1-mid">
			<div class="ah-right fl">
				<img src="images/auction-details/p2.png" alt=""></div>
			<div class="adm-left fr">
				<p>
					<a href="#">{{goods.name+' '+goods.sku.propertiesValue}}</a>
				</p>
				<div class="cl"></div>
				<span class="sp1">
					起拍价:
					<span style="color:#ff473f;">
						￥
						<span class="fs30">{{auction.startPrice|number:2}}</span>
						<!-- <span class="fs30" >{{auction.myPrice}}d</span>
						<span class="fs30" >{{currentPrice}}dd</span> -->
					</span>
				</span>
			</div>

		</div>
	</div>
	<div class="cl"></div>
	<div class="ah-box2">
		<div class="an-box2-top">
			<div class="fl ah-reduce" ng-click="reduce()" ng-if="auction.myPrice>currentPrice">
				<div class="ah-circle"> <i class="icon-jianhao"></i>
				</div>
			</div>
			<div class="fl ah-reduce" ng-if="auction.myPrice<=currentPrice" style="background: #E2E2E2;border-radius:100%;">
				<div class="ah-circle"> <i class="icon-jianhao"></i>
				</div>
			</div>
			<div class="an-box2-prices fl">
				<span class="fs30 ah-num" style="font-weight: bold;">{{auction.myPrice}}</span>
				<p class="fs12" style="color:#B3B1B1;">您将出价{{auction.myPrice|number:2}}元</p>
			</div>
			<div class="fl ah-add" ng-click="add()">
				<div class="ah-circle">
					<i class=" icon-jia"></i>
				</div>
			</div>
		</div>
		<div class="cl h30"></div>
		<div class="an-box2-bottom" ng-if="'NEW'==auction.status">
			<p>等待开拍</p>
	   </div>
		<div class="an-box2-bottom" ng-if="'AUCTIONING'==auction.status" >
		 <div ng-if="userid==winner.uid">
			<p style="color:#ccccc;">正在领先中</p>
		 </div>
		 <div ng-if="userid!=winner.uid">
			 <div ng-if="auction.myPrice>currentPrice" ng-click="bidding()">
				<p style="color:#790001;">立即出价</p>
			 </div>
			 <div ng-if="auction.myPrice<=currentPrice">
				<p style="color:#ccccc;">立即出价</p>
			 </div>
		 </div>
	   </div>
		<div class="an-box2-bottom" ng-if="'AUCTIONING'!=auction.status && 'NEW'!=auction.status">
			<p>竞拍已结束</p>
	   </div>
</div>
<div class="cl h30"></div>
<div class="ah-box3">
		<div class="ah-box3-details">
			<ul class="fl">
				<li class="cur" ng-if="size==1">
					<p class="">
						<i class="icon-jp-king"></i>
						158*******16 {{winner.addtime | date:'HH:mm:ss'}} 出价
						<span>￥{{winner.price|number:2}}</span>
					</p>
				</li>
				<!-- <li class="cur" ng-if="" ng-if="size==0">
					<p class="">
						
					</p>
				</li> -->
				<li class="" ng-repeat="plog in priceLog">
					<ul>
					 <li>
					  <p class="">
						<i class="icon-jp-i"></i>
						138*******32 {{plog.addtime | date:'HH:mm:ss'}} 出价
						<span>￥{{plog.price|number:2}}</span>
					</p>
					 </li>
					</ul>
				</li>
				<li class="">
					<p class="">
						<i class="icon-jp-i"></i>
						拍品起拍价
						<span>￥{{auction.startPrice|number:2}}</span>
					</p>
				</li>
				<li>
					<p class="">
						<i class="icon-jp-i"></i>
						竞拍时间约{{duration}}小时
					</p>
				</li>
			</ul>
			<i class="icon-arrow-12 fr"></i>
		</div>
	</div>
</div>