
<div style="display: none;top: inherit;"  class="modal in" id="add-cart-dialog"   tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" >
  <div class="modal-dialog add-cart-dialog" role="document" ng-controller="BuyController">
    <div class="modal-content ">
      <div class="modal-header">
        <div class="cart-dialog-box1">
            <div class="cd1-left fl">
              <img src="{{condition.path}}" alt="">
            </div>
            <div class="cd1-mid fl">
              <p class="text-abb" style="width: 95%;">
                <a href="">{{condition.name}}</a>
              </p>
              <span class="cd1-mid-price" ng-show="condition.sale">
                ￥{{condition.salePrice}} &nbsp;&nbsp;&nbsp;￥{{condition.price}} 
              </span>
              <span class="cd1-mid-price" ng-show="!condition.sale">
                ￥{{condition.price}} 
              </span>
            </div>
            <div class="cd1-right fl">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="icon-close"></span>
                </button>
            </div>
        </div>
      </div>
      <div class="modal-body">
         <div class="cart-dialog"> 
          <div class="cart-dialog-box2">
          <!--属性li-->
            <ul>
              <li ng-repeat="attr in condition.attrList">
                {{attr.name}}：
                <br/>
                <b class="cd2-select" ng-repeat="v in attr.valueList" ng-click="toCondition(v.id)">
                  {{v.value}}
                  <div class="cd2-select-icon"></div>
                </b>
               <!--  <div class="cd2-select cur" ></div> -->
                <div class="cd2-select cur">
                  50*50cm
                  <div class="cd2-select-icon">
                    <i class="icon-jiaobiao"></i>
                  </div>
                </div>
              </li>
              <li>
                颜色：
                <br/>
                <div class="cd2-select">
                  黑白
                  <div class="cd2-select-icon">
                     <i class="icon-jiaobiao"></i>
                  </div>
                </div>
              </li>
              <li>
                数量：
                <br/>
                <div class="cd2-count fr">
                  <span class="cd2-left fl">
                    <i class="icon-jianhao"></i>
                  </span>
                  <div class="cd2-mid fl">1</div>
                  <span class="cd2-right fl">
                    <i class="icon-jia"></i>
                  </span>
                </div>
              </li>
             
   
            </ul>
            <!--数量li-->
               <ul>
                    <li>
                      数量：
                      <br/>
                      <div class="cd2-count fr">
                        <span class="cd2-left fl">
                          <div class="cd2-count-icon1"></div>
                        </span>
                        <div class="cd2-mid fl">1</div>
                        <span class="cd2-right fl">
                          <div class="cd2-count-icon2"></div>
                        </span>
                      </div>
                    </li>
               </ul>
          </div>
          <input type="hidden" id="skuid"></input>
          <div class="cl h10"></div>
          <div class="cart-dialog-box3" data-dismiss="modal" ui-sref="orderconfirm.page">
           下一步
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
