<div style="display: none;top: inherit;" class="modal in" id="modify-avatar-dialog" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modify-avatar-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header">
      <div class="modify-avatar-dialog-box1">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="icon-close" aria-hidden="true"></span>
        </button>
      </div>
    </div>
    <div class="modal-body">
      <div class="modify-avatar-dialog-box2">
        <ul>
          <li>相册</li>
          <li>相机</li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>