<div class="groupbuy_wrap clearfix" ng-controller="GroupListController">
        <input type="hidden" id='page_id' value="GroupGoodsList">
       <!--  <header>
            <div class="sort"><span>默认排序</span><i></i>
                <div class="sort_content hide">
                    <div class="sortbysales">最新<i class="icon-exchange"></i></div>
                    <div class="sortbyprice">猜你喜欢<i class="icon-exchange"></i></div>
                </div>
            </div>
        </header> -->
        <section class="products clearfix">  
            <ul>
                <li class="fs12" ng-repeat="group in ggoods">
                    <div class="groupbuy-poa1" ng-show="group.showhide">
                        <img src="images/index/hot.png" alt="">
                    </div>
                     <div class="groupbuy-poa1" ng-show="group.hideshow">
                        <img src="images/index/new.png" alt="">
                    </div>
                    <div class="product_pic">
                        <a href="#marketing/group/details.html?ggid={{group.id}}&gid={{group.gid}}">
                            <img src="{{group.goods.path}}" style="height:264px;" alt="">
                        </a>       
                    </div>
                    <div class="groupbuy_info">
                        <div class="groupbuy_title">
                            <a class="fs14" href="#/marketing/group/details.html">{{group.goods.name+''+group.sku.propertiesValue}}</a>
                            <p class="b3 fs12" style="text-indent: 1em;">{{group.goods.about}}</p>
                        </div>
                        <div class="cl h10"></div>
                        <div class="startgroupbuy fs12">
                            <div class="groupprice fl col-65">
                                <div class="groupprice-now fl">
                                    <p class="fl mr15">￥<span class="fs24 mr5"> {{group.groupPrice}}</span></p>
                                </div>
                                <div class="groupprice-old fl b3 mt3 del">
                                    原价：{{group.sku.price}}
                                </div>
                            </div>
                            <div class="groupgo col-35 fr"  ng-show="group.show"><a href="#/marketing/group/details.html?ggid={{group.id}}&gid={{group.gid}}&group_id={{}}">{{group.groupPeople}}人团 | 去开团</a></div>
                        </div>
                    </div>
                </li>
                <!-- <li class="fs12">
                    <div class="groupbuy-poa1">
                        <img src="images/index/new.png" alt="">
                    </div>
                    <div class="product_pic">
                        <a href="#/marketing/group/details.html">
                            <img src="images/index/product1.png" alt="">
                        </a>       
                    </div>
                    <div class="groupbuy_info">
                        <div class="groupbuy_title">
                            <a class="fs14" href="#/marketing/group/details.html">移动机秒到刷卡(中) 1信19.9元</a>
                            <p class="b3 fs12" style="text-indent: 0.5em;">吃葡萄不吐葡萄皮 · 硬脆多汁 · 甜酸可人</p>
                        </div>
                        <div class="cl h10"></div>
                        <div class="startgroupbuy fs12">
                            <div class="groupprice fl col-65">
                                <div class="groupprice-now fl">
                                    <p class="fl">￥<span class="fs24 mr5"> 29.90</span></p>
                                    <p class="fl b3 mr15 mt3">/ 2斤</p>
                                </div>
                                <div class="groupprice-old fl b3 mt3">
                                    原价：34.9
                                </div>
                            </div>
                            <div class="groupgo col-35 fr"><a class="" href="#/marketing/group/details.html">3人团 | 去开团</a></div>
                        </div>
                    </div>
                </li>
                <li class="fs12">
                    <div class="product_pic">
                        <a href="#/marketing/group/details.html">
                            <img src="images/index/product1.png" alt="">
                        </a>       
                    </div>
                    <div class="groupbuy_info">
                        <div class="groupbuy_title">
                            <a class="fs14" href="#/marketing/group/details.html">【直降5元】 移动机秒到刷卡器信2用29.9元【甜过你的初恋】</a>
                            <p class="b3 fs12" style="text-indent: 1em;">吃葡萄不吐葡萄皮 · 硬脆多汁 · 甜酸可人</p>
                        </div>
                        <div class="cl h10"></div>
                        <div class="startgroupbuy fs12">
                            <div class="groupprice fl col-65">
                                <div class="groupprice-now fl">
                                    <p class="fl">￥<span class="fs24 mr5"> 29.90</span></p>
                                    <p class="fl b3 mr15 mt3">/ 2斤</p>
                                </div>
                                <div class="groupprice-old fl b3 mt3">
                                    原价：34.9
                                </div>
                            </div>
                            <div class="groupgo col-35 fr"><a class="" href="#/marketing/group/details.html">4人团 | 去开团</a></div>
                        </div>
                    </div>
                </li>
                <li class="fs12">
                    <div class="product_pic">
                        <a href="#/marketing/group/details.html">
                            <img src="images/index/product1.png" alt="">
                        </a>       
                    </div>
                    <div class="groupbuy_info">
                        <div class="groupbuy_title">
                            <a class="fs14" href="#/marketing/group/details.html">【直降5元】 移动机秒到刷卡器信2用29.9元【甜过你的初恋】</a>
                            <p class="b3 fs12" style="text-indent: 1em;">吃葡萄不吐葡萄皮 · 硬脆多汁 · 甜酸可人</p>
                        </div>
                        <div class="cl h10"></div>
                        <div class="startgroupbuy fs12">
                            <div class="groupprice fl col-65">
                                <div class="groupprice-now fl">
                                    <p class="fl">￥<span class="fs24 mr5"> 29.90</span></p>
                                    <p class="fl b3 mr15 mt3">/ 2斤</p>
                                </div>
                                <div class="groupprice-old fl b3 mt3">
                                    原价：34.9
                                </div>
                            </div>
                            <div class="groupgo col-35 fr"><a class="group-over" href="#/marketing/group/details.html">已结束</a></div>
                        </div>
                    </div>
                </li> -->
            </ul>
        </section>
        <div class="gotop">
            <img src="images/gotop.png" alt="">
        </div>
    </div>
    <nav></nav>




























<!-- 
    
    <div class="groupbuy_wrap clearfix" ng-controller="GroupListController">
        <input type="hidden" id='page_id' value="GroupGoodsList"></input>
        <header>
            <div class="sort"><span>默认排序</span><i></i>
                <div class="sort_content hide">
                    <div class="sortbysales">最新<i class="icon-exchange"></i></div>
                    <div class="sortbyprice">猜你喜欢<i class="icon-exchange"></i></div>
                </div>
            </div>
        </header>
        <section class="products clearfix">    
            <ul>
                <li class="fs12" ng-repeat="g in ggoods">
                    <div class="product_pic col-40 fl">
                        <a href="#/marketing/group/details.html?ggid={{g.id}}&gid={{g.gid}}">
                            <img src="{{g.goods.path}}" alt="{{g.goods.name+' '+g.sku.propertiesValue}}">
                        </a>       
                    </div>
                    <div class="groupbuy_info col-60 fl">
                        <div class="groupbuy_title">
                            <a href="#/marketing/group/details.html?ggid={{g.id}}&gid={{g.gid}}">{{g.goods.name+' '+g.sku.propertiesValue}}</a>
                        </div>
                        <div class="groupbuy_sold">已售 <span class="fs14">{{g.sku.volume}}</span> 件</div>
                        <div class="startgroupbuy fs12">
                            <div class="groupprice col-60 fl">￥{{g.groupPrice}}</div>
                            <div class="groupgo col-35 fl"><a href="#/marketing/group/details.html?ggid={{g.id}}&gid={{g.gid}}">去开团 ＞</a></div>
                        </div>
                    </div>
                </li>
                
            </ul>
        </section>
    </div>
    <nav></nav> -->