<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/swiper.css">
    <link rel="stylesheet" href="../css/shoppingcart/shoppingcart.css">
    <script src="../js/jquery-2.1.4.min.js"></script>
</head>
<body>
    <div class="wrap clearfix">
        <section class="products clearfix">
            <ul>
                <li class="clearfix">
                    <div class="choose col-15 fl">
                        <i></i>
                    </div>
                    <div class="product_pic col-30 fl">
                        <img src="../images/shoppingcart/product1.png" alt="">
                    </div>
                    <div class="product_content col-55 fl">
                        <div class="p_c_body">
                            <div class="product_name">
                                <b>卡拉卡收款宝 手机移动pos机刷卡器实时到账 信用卡还款芯片</b>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
        <section class="nav">
            <a href="index.html" class="index">
                <i></i>
                <div class="nav_name">首页</div>
            </a>
            <a href="" class="shoppingcart">
                <i></i>
                <div class="nav_name">购物车</div>
            </a>
            <a href="products.html" class="allproducts">
                <i></i>
                <div class="nav_name">所有商品</div>
            </a>
            <a href="" class="myinfo">
                <i></i>
                <div class="nav_name">我</div>
            </a>
        </section>
    </div>
<script src="../js/shoppingcart/shoppingcart.js"></script>
</body>
</html>