<div class="auction-hall center-view">
	<div class="ad1-top before">
		<div class="ad1-circle fl"> <i class="icon-zb"></i>
		</div>
		<p class="fl">05月05日 10:00开始</p>
	</div>
	<div class="ad-box1">
		<div class="ad1-mid">
			<div class="ah-right fl">
				<img src="images/auction-details/p2.png" alt=""></div>
			<div class="adm-left fr">
				<p>
					<a href="#">拉卡拉收款宝手机pos机信用卡刷卡器移动pos</a>
				</p>
				<div class="cl"></div>
				<span class="sp1">
					起拍价:
					<span style="color:#ff473f;">
						￥
						<span class="fs30">1.00</span>
					</span>
				</span>
			</div>

		</div>
	</div>
	<div class="cl"></div>
	<div class="ah-box2">
		<div class="an-box2-top">
			<div class="fl ah-reduce">
				<div class="ah-circle"> <i class="icon-jianhao"></i>
				</div>
			</div>
			<div class="an-box2-prices fl">
				<span class="fs30 ah-num" style="font-weight: bold;">1</span>
				<p class="fs12" style="color:#B3B1B1;">您将出价10元</p>
			</div>
			<div class="fl ah-add">
				<div class="ah-circle">
					<i class=" icon-jia"></i>
				</div>
			</div>
		</div>
		<div class="cl h30"></div>
		<div class="an-box2-bottom">
			<p>等待开拍</p>
			<!-- <p style="color:#790001;">正在领先中</p>
		-->
	</div>
</div>
<div class="cl h30"></div>
<div class="ah-box3">
		<div class="ah-box3-details">
			<ul class="fl">
				<li class="cur">
					<p class="">
						<i class="icon-r"></i>
						我 09:00:36 出价
						<span>￥11.00</span>
					</p>
				</li>
				<li class="">
					<p class="">
						<i class="icon-r"></i>
						拍品起拍价
						<span>￥1.00</span>
					</p>
				</li>
				<li>
					<p class="">
						<i class="icon-r"></i>
						竞拍时间约24小时
					</p>
				</li>
			</ul>
			<i class="icon-arrow-12 fr"></i>
		</div>
	</div>
</div>