
    <div class="auction_wrap clearfix">
        <header>
            <div class="sort"><span>默认排序</span><i></i>
                <div class="sort_content hide">
                    <div class="sortbysales">最新</div>
                    <div class="sortbyprice">猜你喜欢</div>
                </div>
            </div>
        </header>
        <section class="products clearfix">    
            <ul>
                <li class="fs12">
                    <div class="product_pic col-40 fl">
                        <a href="#/index/auction-details.html">
                            <img src="../../images/index/product1.png" alt="">
                            <span class="participant">998人参拍</span>
                        </a>       
                    </div> 
                    <div class="groupbuy_info col-60 fl"> 
                        <div class="groupbuy_title">
                            <span class="status">正在热拍</span>
                            <a href="#/index/auction-details.html">拉卡拉收款宝 手机移动pos机刷卡器实时到账 信用卡还款芯片</a>
                        </div>
                        <div class="groupbuy_sale fs12 over">
                            <span class="col-50 fl">起拍价:<span>￥0元</span></span>
                            <span class="col-50 fl">参考价:<span>￥764元</span></span>
                            <span class="col-50 fl">加价幅度:<span>￥10元</span></span>
                            <span class="col-50 fl">保证金:<span>￥10元</span></span>
                        </div>
                        <div class="startgroupbuy over fs12">
                            <div class="countdown col-60 fl">距结束 <span>00:60:12</span></div>
                            <div class="groupgo col-35 fl"><a href="#/index/auction-details.html">我要拍 ＞</a></div>
                        </div>
                    </div>
                </li>
                <li class="fs12">
                    <div class="product_pic col-40 fl">
                        <a href="#/auction-details.html">
                            <img src="../../images/index/product1.png" alt="">
                            <span class="participant">998人参拍</span>
                        </a>       
                    </div> 
                    <div class="groupbuy_info col-60 fl"> 
                        <div class="groupbuy_title">
                            <span class="status">正在热拍</span>
                            <a href="#/auction-details.html">拉卡拉收款宝 手机移动pos机刷卡器实时到账 信用卡还款芯片</a>
                        </div>
                        <div class="groupbuy_sale fs12 over">
                            <span class="col-50 fl">起拍价:<span>￥0元</span></span>
                            <span class="col-50 fl">参考价:<span>￥764元</span></span>
                            <span class="col-50 fl">加价幅度:<span>￥10元</span></span>
                            <span class="col-50 fl">保证金:<span>￥10元</span></span>
                        </div>
                        <div class="startgroupbuy over fs12">
                            <div class="countdown col-60 fl">距结束 <span>00:60:12</span></div>
                            <div class="groupgo col-35 fl"><a href="#/auction-details.html">我要拍 ＞</a></div>
                        </div>
                    </div>
                </li>
                <li class="fs12">
                    <div class="product_pic col-40 fl">
                        <a href="#/auction-details.html">
                            <img src="../../images/index/product1.png" alt="">
                            <span class="participant">998人参拍</span>
                        </a>       
                    </div> 
                    <div class="groupbuy_info col-60 fl"> 
                        <div class="groupbuy_title">
                            <span class="status">正在热拍</span>
                            <a href="#/auction-details.html">拉卡拉收款宝 手机移动pos机刷卡器实时到账 信用卡还款芯片</a>
                        </div>
                        <div class="groupbuy_sale fs12 over">
                            <span class="col-50 fl">起拍价:<span>￥0元</span></span>
                            <span class="col-50 fl">参考价:<span>￥764元</span></span>
                            <span class="col-50 fl">加价幅度:<span>￥10元</span></span>
                            <span class="col-50 fl">保证金:<span>￥10元</span></span>
                        </div>
                        <div class="startgroupbuy over fs12">
                            <div class="countdown col-60 fl">距结束 <span>00:60:12</span></div>
                            <div class="groupgo col-35 fl"><a href="#/auction-details.html">我要拍 ＞</a></div>
                        </div>
                    </div>
                </li>
                <li class="fs12">
                    <div class="product_pic col-40 fl">
                        <a href="#/auction-details.html">
                            <img src="../../images/index/product1.png" alt="">
                            <span class="participant">998人参拍</span>
                        </a>       
                    </div> 
                    <div class="groupbuy_info col-60 fl"> 
                        <div class="groupbuy_title">
                            <span class="status">正在热拍</span>
                            <a href="#/auction-details.html">拉卡拉收款宝 手机移动pos机刷卡器实时到账 信用卡还款芯片</a>
                        </div>
                        <div class="groupbuy_sale fs12 over">
                            <span class="col-50 fl">起拍价:<span>￥0元</span></span>
                            <span class="col-50 fl">参考价:<span>￥764元</span></span>
                            <span class="col-50 fl">加价幅度:<span>￥10元</span></span>
                            <span class="col-50 fl">保证金:<span>￥10元</span></span>
                        </div>
                        <div class="startgroupbuy over fs12">
                            <div class="countdown col-60 fl">距结束 <span>00:60:12</span></div>
                            <div class="groupgo col-35 fl"><a href="#/auction-details.html">我要拍 ＞</a></div>
                        </div>
                    </div>
                </li>
                
            </ul>
        </section>
    </div> 
    <nav></nav>