
    <div class="auction_wrap clearfix" ng-controller="AuctionListController">
        <header>
            <div class="sort"><span>默认排序</span><i></i>
                <div class="sort_content hide">
                    <div class="sortbysales">最新<i class="icon-exchange"></i></div>
                    <div class="sortbyprice">猜你喜欢<i class="icon-exchange"></i></div>
                </div>
            </div>
        </header>
        <section class="products clearfix">    
            <ul>
                <li class="fs12" ng-repeat="au in ggoods" >
                    <div class="product_pic col-40 fl">
                        <a href="#/auction-details.html?id={{au.id}}">
                            <img src="{{au.goods.path}}" alt="{{au.goods.name+' '+au.sku.propertiesValue}}">
                            <span class="participant">{{au.userAmount}}人参拍</span>
                        </a>       
                    </div> 
                    <!--即将开始 -->
                    <div class="groupbuy_info col-60 fl" ng-if="'NEW'==au.status"> 
                        <div class="groupbuy_title">
                            <span class="status status_wait">即将开始</span>
                            <a href="#/auction-details.html?id={{au.id}}">{{au.goods.name+' '+au.sku.propertiesValue}}</a>
                        </div>
                        <div class="groupbuy_sale fs12 over">
                            <span class="col-50 fl">起拍价:<span>￥{{au.startPrice}}元</span></span>
                            <span class="col-50 fl">参考价:<span>￥{{au.sku.salePrice}}元</span></span>
                            <span class="col-50 fl">加价幅度:<span>￥{{au.addPrice}}元</span></span>
                            <span class="col-50 fl">保证金:<span>￥{{au.deposit}}元</span></span>
                            <span class="col-50 fl">出价:<span>{{au.times}}次</span></span>
                            <!-- <span class="col-50 fl">保证金:<span>￥{{au.deposit}}元</span></span>
                            <span class="col-50 fl">保证金:<span>￥{{au.times}}元</span></span> -->
                        </div>
                        <div class="startgroupbuy over fs12">
                            <div class="countdown wait_endtime col-60 fl"> <span>{{au.startTime | date:'MM月dd日 hh:mm'}}开始</span></div>
                            <div class="groupgo group_wait col-35 fl"><a href="#/auction-details.html?id={{au.id}}&gid={{au.goods.id}}">即将开始 ＞</a></div>
                        </div>
                    </div>

                    <div class="groupbuy_info col-60 fl" ng-if="'AUCTIONING'==au.status" >  
                        <div class="groupbuy_title">
                            <span class="status">正在热拍</span>
                            <a href="#/auction-details.html?id={{au.id}}">{{au.goods.name+' '+au.sku.propertiesValue}}</a>
                        </div>
                        <div class="groupbuy_sale fs12 over">
                            <span class="col-50 fl">起拍价:<span>￥{{au.startPrice}}元</span></span>
                            <span class="col-50 fl">参考价:<span>￥{{au.sku.salePrice}}元</span></span>
                            <span class="col-50 fl">加价幅度:<span>￥{{au.addPrice}}元</span></span>
                            <span class="col-50 fl">保证金:<span>￥{{au.deposit}}元</span></span>
                            <span class="col-50 fl">出价:<span>{{au.times}}次</span></span>
                        </div>
                        <div class="startgroupbuy over fs12">
                            <div class="countdown col-60 fl">距结束 <span>{{au.end}}</span></div>
                            <div class="groupgo col-35 fl"><a href="#/auction-details.html?id={{au.id}}">我要拍 ＞</a></div>
                        </div>
                    </div>

                    <div class="groupbuy_info col-60 fl" ng-if="'AUCTIONING'!=au.status && 'NEW'!=au.status"> 
                        <div class="groupbuy_title">
                            <span class="status status_end">竞拍结束</span>
                            <a href="#/auction-details.html?id={{au.id}}">{{au.goods.name+' '+au.sku.propertiesValue}}</a>
                        </div>
                        <div class="groupbuy_sale fs12 over">
                            <span class="col-50 fl">起拍价:<span>￥{{au.startPrice}}元</span></span>
                            <span class="col-50 fl">参考价:<span>￥{{au.sku.salePrice}}元</span></span>
                            <span class="col-50 fl">加价幅度:<span>￥{{au.addPrice}}元</span></span>
                            <span class="col-50 fl">保证金:<span>￥{{au.deposit}}元</span></span>
                            <span class="col-50 fl">出价:<span>{{au.times}}次</span></span>
                        </div>
                        <div class="startgroupbuy over fs12">
                            <div class="countdown col-60 end_time end_endtime fl">距结束 <span>{{au.end}}</span></div>
                            <div class="groupgo group_end col-35  fl"><a href="#/auction-details.html?id={{au.id}}">已结束 ＞</a></div>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
    </div> 
    <nav></nav>