<headertop></headertop>
    <div class="wrap" ng-controller="IndexController">
        <div class="banner_wrap swiper-container" id="index_swiper_container">
            <div class="swiper-wrapper">
                <div class="swiper-slide banner banner1" ng-repeat="img in imgList">
                    <a href=""><img src="{{img.image}}" alt=""></a>
                </div>
                <!-- <div class="swiper-slide banner banner1">
                    <a href="#/product/details.html"><img src="../../images/index/banner1.png" alt=""></a>
                </div>
                <div class="swiper-slide banner banner1">
                    <a href="#/product/details.html"><img src="../../images/index/banner1.png" alt=""></a>
                </div> -->
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <section class="services clearfix">
            <a href="#/one-list.html" class="service_list index_oneyuanbuy fl">
                <div class="service_pic  icon-clock-index"></div>
                <div class="service_title">秒杀</div>
            </a>
            <a href="#/marketing/group/list.html" class="service_list index_groupbuy fl">
                <div class="service_pic icon-tuan"></div>
                <div class="service_title">拼团</div>
            </a>
            <a href="#/index/auction.html" class="service_list index_auction fl">
                <div class="service_pic icon-jingpai"></div>
                <div class="service_title">竞拍</div>
            </a>
            <a href="#products.html" class="service_list index_makemoney fl">
                <div class="service_pic icon-fenlei-1"></div>
                <div class="service_title">所有商品</div>
            </a>
            <!-- <a href="#/orders/history/all.h=tml" class="service_list index_order fl">
                <div class="service_pic icon-huaban"></div>
                <div class="service_title">我的订单</div>
            </a> -->
           <!--  <a href="#/shareproduct.html" class="mt10 service_list index_share fl">
                <div class="service_pic icon-huifenxiang"></div>
                <div class="service_title">惠分享</div>
            </a>
            <a href="#/mycollection.html" ng-click="toFav()"  class="mt10 service_list index_collection fl">
                <div class="service_pic icon-shoucangjia-1"></div>
                <div class="service_title" >收藏夹</div>
            </a>
            <a href="#/products.html" class="mt10 service_list index_classify fl">
                <div class="service_pic icon-fenlei-1"></div>
                <div class="service_title">分类</div>
            </a> -->
        </section>
        <section class="notice clearfix">
            <div class="content" ui-sref="notices">
                <i class="fl icon-xiaoxi"></i>
                <div class="content_words fl">【优惠来袭】一大波优惠在路上，快来抢购啦！</div>
            </div>
        </section>
         <div class="index_products">
            <div class="title">
                <div class="title-circle fl" style="">
                    <i class="icon-sale-index"></i>
                </div>
                <p class="fl fs14">优选特惠</p>
            </div>
        </div>
        <section class="index_activity over">
            <div class="index_groupbuy_body fl">
                <a href="#/marketing/group/details.html?ggid={{groupGoods.id}}&gid={{groupGoods.gid}}"><img src="{{groupGoods.sku.skuPath}}" alt=""></a>
                <div class="index_groupbuy_title fs14">
                   {{groupGoods.goods.name+''+groupGoods.sku.propertiesValue}}
                </div>
                <p style="font-size:12px;line-height:18px;color:#b0b0b0;margin-bottom:4px;">香甜可口 酸甜可口 好吃不贵</p>
                <div class="groupbuy_info">
                    <div class="index_people_num fs12">
                        <i class="icon-renren"></i>
                        <span class="col-20">{{groupGoods.groupPeople}}人团</span>
                        <span>￥<span class="fs14">{{groupGoods.groupPrice}}</span></span>
                        <a href="#/marketing/group/details.html?ggid={{groupGoods.id}}&gid={{groupGoods.gid}}" class="index_groupstart fr col-35">去开团</a>
                    </div>
                </div>
            </div>
            <div class="index_hotsale fr" style="cursor:pointer">
                <a href="#/one-list.html"><img src="../../images/index/hot1.jpg" alt=""></a>
            </div>
        </section>
        <img style="width:100%;" src="images/index/p1.png" alt="">
        <section class="index_products clearfix">
            <div class="title">
                <div class="title-circle fl" style="">
                    <i class="icon-hot-index"></i>
                </div>
                <p class="fl fs14">热销商品</p>
            </div>
            <ul class="cl">
                <li ng-repeat=" goods in showlist">
                    <div class="product_pic">
                        <a href="#/product/details.html?gid={{goods.gid}}">
                            <img src="{{goods.path}}" alt="">
                        </a>     
                    </div>
                    <div class="product_name">
                        <a href="#/product/details.html?gid={{goods.gid}}">
                            <b style="font-weight: normal;">{{goods.name}}</b>
                        </a>
                    </div>
                    <div class="price_info clearfix">
                      
                        <div class="price fl" ng-show="{{goods.sale}}"><span class="fs12">￥</span>{{goods.salePrice}}</div>
                       <!--  <div class="price fl del fs12" ng-show="{{goods.sale}}">￥{{goods.price}}</div> -->
                         <div class="price fl" ng-show="{{!goods.sale}}"><span class="fs12">￥</span>{{goods.price}}</div>
                        <div class="sales fr">已售<span>{{goods.volume}}</span>笔</div>
                    </div>
                </li>
               
             
         
            </ul>
        </section>
        <div class="gotop">
            <i class="icon-top-index"></i>
        </div>
    </div>
    <nav></nav>
    <script>
        //banner滑动
        var swiper = new Swiper('#index_swiper_container', {
            slidesPerView: 1,
            slidesPerColumn: 1,
            autoplay:5000,
            loop:true,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev'
        });
        //图片高度自适应
        var img_hei=$('.index_products .product_pic img').width()*0.7;
        $('.index_products .product_pic img').height(img_hei)
    </script>
    <nav></nav>

