
    <div class="wrap">
        <div class="banner_wrap swiper-container" id="index_swiper_container">
            <div class="swiper-wrapper">
                <div class="swiper-slide banner banner1">
                    <img src="../../images/index/banner1.png" alt="">
                </div>
                <div class="swiper-slide banner banner1">
                    <img src="../../images/index/banner1.png" alt="">
                </div>
                <div class="swiper-slide banner banner1">
                    <img src="../../images/index/banner1.png" alt="">
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
        <section class="services clearfix">
            <a href="#/" class="service_list index_makemoney fl">
                <div class="service_pic"></div>
                <div class="service_title">我要赚钱</div>
            </a>
            <a href="#/order.html" class="service_list index_order fl">
                <div class="service_pic"></div>
                <div class="service_title">我的订单</div>
            </a>
            <a href="#/group-buying.html" class="service_list index_groupbuy fl">
                <div class="service_pic"></div>
                <div class="service_title">团团购</div>
            </a>
            <a href="#/oneyuanbuy.html" class="service_list index_oneyuanbuy fl">
                <div class="service_pic"></div>
                <div class="service_title">1元购</div>
            </a>
        </section>
        <section class="notice clearfix">
            <div class="title col-15 fl">
                <img src="../images/index/notice.png" alt="">
            </div>
            <div class="content col-85 fl">
                <i class="fl"></i>
                <div class="content_words fl">一大波优惠来袭，快来抢购啦！购就送超级优惠券，<span>还有更多大礼等你拿！</span></div>
            </div>
        </section>
        <section class="index_activity over">
            <div class="index_groupbuy_body fl">
                <a href="#/group-buying.html"><img src="../../images/index/groupbuy1.png" alt=""></a>
                <div class="index_groupbuy_title fs12">
                    移动POS机刷卡器 无线0.38积分26封顶一清pos 实时到账pos刷卡机 
                </div>
                <div class="groupbuy_info">
                    <div class="index_people_num fs12">
                        <i></i>
                        <span class="col-20">2人团</span>
                        <span>￥200.00</span>
                        <a href="#/group-buying.html" class="index_groupstart fr col-35">去开团 ＞</a>
                    </div>
                </div>
            </div>
            <div class="index_hotsale fl">
                <img src="../../images/index/hotsale.png" alt="">
            </div>
        </section>
        <section class="index_products clearfix">
            <div class="title">
                <b class="fs12">热销商品</b>
                <a href="" class="fr moreproduct"><b>...</b></a>
            </div>
            <ul>
                <li>
                    <div class="product_pic">
                        <a href="#/product-details.html">
                            <img src="../../images/index/product1.png" alt="">
                        </a>     
                    </div>
                    <div class="product_name">
                        <a href="#/product-details.html">
                            <b>拉卡拉收款宝 手机pos机移动刷卡</b>
                        </a>
                    </div>
                    <div class="price_info clearfix">
                        <div class="price fl">￥199.00</div>
                        <div class="sales fr">已售<span>244</span>笔</div>
                    </div>
                </li>
                <li>
                    <div class="product_pic">
                        <a href="#/product-details.html">
                            <img src="../../images/index/product1.png" alt="">
                        </a>     
                    </div>
                    <div class="product_name">
                        <a href="#/product-details.html">
                            <b>拉卡拉收款宝 手机pos机移动刷卡</b>
                        </a>
                    </div>
                    <div class="price_info clearfix">
                        <div class="price fl">￥199.00</div>
                        <div class="sales fr">已售<span>244</span>笔</div>
                    </div>
                </li>
                <li>
                    <div class="product_pic">
                        <a href="#/product-details.html">
                            <img src="../../images/index/product1.png" alt="">
                        </a>     
                    </div>
                    <div class="product_name">
                        <a href="#/product-details.html">
                            <b>拉卡拉收款宝 手机pos机移动刷卡</b>
                        </a>
                    </div>
                    <div class="price_info clearfix">
                        <div class="price fl">￥199.00</div>
                        <div class="sales fr">已售<span>244</span>笔</div>
                    </div>
                </li>
                <li>
                    <div class="product_pic">
                        <a href="#/product-details.html">
                            <img src="../../images/index/product1.png" alt="">
                        </a>     
                    </div>
                    <div class="product_name">
                        <a href="#/product-details.html">
                            <b>拉卡拉收款宝 手机pos机移动刷卡</b>
                        </a>
                    </div>
                    <div class="price_info clearfix">
                        <div class="price fl">￥199.00</div>
                        <div class="sales fr">已售<span>244</span>笔</div>
                    </div>
                </li>
            </ul>
        </section>
        
    </div>