<div class="joined-group center-view" ng-controller="JoinGroupController">
		<div class="open-group-success">
			<div class="open-top">
				<div class="open-circle fl"><i class="icon-right"></i></div>
				<p class="fl fs18" style="color:#33CC66;">开团成功</p>
			</div>
			<div class="cl"></div>
			<p>快去邀请好友加入吧</p>
		</div>
		<div class="cl h10"></div>
		<div class="pay-info">
	 		<div class="pi-box1"> 
	 			<div class="pi1-pic fl">
	 				<img src="images/no-payment/p1.png" alt="">
	 			</div>
 				<div class="pi1-info fl">
 					<div class="pi1-text">{{goods.name+''+goodSku.propertiesValue}}</div>
 					<div class="pi1-price">
 						<p class="fs12">￥<span class="fs18">{{groupGoods.groupPrice}}</span></p>
 					</div>
 				</div>
	 		</div>
 		</div>	
		<div class="cl h10"></div>
		<div class="joined-group-box2">
			<div class="joined-box2-top">
				<div class="joined-box2-img fl">
					<img src="{{singleUser.headImgUrl}}" alt="">
				</div>
				<div class="joined-box2-head fl">团长 <a href="#">{{singleUser.nickname}}</a></div>
				<div class="joined-box2-share fr">还差<a href="#">{{groupGoods.groupPeople-count}}</a>人，快快分享吧！</div>
			</div>
			<div class="cl h10"></div>
			<div class="joined-box2-bottom">
				<ul>
					 <li class="cur" ng-repeat="groupuser in user">
						<i class="icon-women"></i>
						<img src="{{groupuser.headImgUrl}}" alt="">
					</li>
					<li ng-repeat="one in peopleList" class="showhide"> 
						<i class="icon-women"></i>
						<img src="" alt="">
					</li>
					<!--<li class="cur">
						<i class="icon-women"></i>
						<img src="../../images/user/pic1.png" alt="">
					</li>
					<li class="cur">
						<i class="icon-women"></i>
						<img src="../../images/user/pic1.png" alt="">
					</li>
					<li class="cur">
						<i class="icon-women"></i>
						<img src="../../images/user/pic1.png" alt="">
					</li>
					<li>
						<i class="icon-women"></i>
						<img sr -->
					<!-- <li>
						<i class="icon-women"></i>
						<img src="../../images/user/pic1.png" alt="">
					</li>
					<li>
						<i class="icon-women"></i>
						<img src="../../images/user/pic1.png" alt="">
					</li>
					<li>
						<i class="icon-women"></i>
						<img src="../../images/user/pic1.png" alt="">
					</li>
					<li>
						<i class="icon-women"></i>
						<img src="../../images/user/pic1.png" alt="">
					</li> -->
				</ul>
			</div>
		</div>
		<div class="cl"></div>
		<div class="joined-group-box3">
			<img src="images/bg-line.png" alt="">
			<div class="joined-b3-poa">
				剩余&nbsp;{{groupGoods.time}}&nbsp; 结束
			</div>
		</div>
		<div class="cl"></div>
		<div class="joined-group-box4">
			<div class="joined-box4-hd">猜您可能还喜欢</div>
			<div class="cl h20"></div>
			<div class="joined-box4-bd">
				<ul>
					<li ng-repeat="goods in showlist">
						<a href="#/product/details.html?gid={{goods.gid}}"><img src="{{goods.path}}" alt=""></a>
						<div class="joined-box4-text">
							<p><a href="#/product/details.html?gid={{goods.gid}}">{{goods.name}}</a></p>
							<span class="joined-price">￥{{goods.price}}</span>
						</div>
					</li>
					 <!--<li>
						<a href="#"><img src="../../images/joined-group/info2.png" alt=""></a>
						<div class="joined-box4-text">
							<p><a href="#">味之初 双层芝士蛋糕......</a></p>
							<span class="joined-price">￥10</span>
						</div>
					</li>
					<li>
						<a href="#"><img src="../../images/joined-group/info1.png" alt=""></a>
						<div class="joined-box4-text">
							<p><a href="#">味之初 双层芝士蛋糕......</a></p>
							<span class="joined-price">￥10</span>
						</div>
					</li> 
					<li>
						<a href="#"><img src="../../images/joined-group/info1.png" alt=""></a>
						<div class="joined-box4-text">
							<p><a href="#">味之初 双层芝士蛋糕......</a></p>
							<span class="joined-price">￥10</span>
						</div>
					</li> -->
				</ul>
			</div>
		</div>
		<div class="cl h10"></div>
		<div class="joined-group-box5">
			<div class="joined-box5-hd">拼团规则</div>
			<div class="joined-box5-bd">
				<ul>
					<li class="cur">
						<div class="joined-rule-left fl">1</div>
						<div class="joined-rule-right fl">
							选择<br/>心仪商品
						</div>
					</li>
					<li>
						<div class="joined-rule-left fl">2</div>
						<div class="joined-rule-right fl">
							支付开团<br/>或参团
						</div>
					</li>
					<li>
						<div class="joined-rule-left fl">3</div>
						<div class="joined-rule-right fl">
							等待好友<br/>参团支付
						</div>
					</li>
					<li>
						<div class="joined-rule-left fl">4</div>
						<div class="joined-rule-right fl">
							人数达到<br/>参团成功
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="cl h30"></div>
		<div class="joined-group-box6">
			<div class="joined-box6-left fl">
				<i class="icon-home-1 fl"></i>
				<p>更多团购</p>
			</div>
			<div class="joined-box6-right fl">还差{{groupGoods.groupPeople-count}}人</div>
		</div>
		<div class="joined-gray">
			<div class="cl h35"></div>
			<div class="joined-gray-bottom">
				<p>还差{{groupGoods.groupPeople-count}}人，快快分享吧！</p>
			</div>
			<p class="fs18" style="margin-bottom:20px;">分享给小伙伴</p>
			<p class="fs18">咻的一下就成团了</p>
			<div class="cl h97"></div>
			<div class="fr" style="text-align: left;margin-right: 5%;
">
				<p class="fs14" style="line-height:23px;">分享朋友圈</p>
				<p class="fs14">更容易成团哦</p>
			</div>
			<div class="fr">
					<img src="images/share.png" alt="" style="width: 30px;margin-top: 10px;margin-right: 7px;">
				</div>
			<div class="cl fs14"></div>
		</div>
		<div class="pop_up fs10">
            <div class="third-party cl">
                <div class="qq fl">
                    <a href="">
                        <i class="icon-QQ-feixiang"></i>
                        <h5>QQ</h5>
                    </a> 
                </div>
                <div class="weixin fl">
                    <a href="">
                        <i class="icon-weixin-fenxiang"></i>
                        <h5>微信</h5>
                    </a>
                </div>
                <div class="weibo fl">
                    <a href="">
                        <i class="icon-weibo-fenxiang"></i>
                        <h5>微博</h5>
                    </a>
                </div>
                <div class="pengyouquan fl">
                    <a href="">
                        <i class="icon-pengyouquan-fenxiang"></i>
                        <h5>朋友圈</h5>
                    </a>
                </div>
                <div class="more fl">
                    <a href="">
                        <i class="icon-jiahao-1"></i>
                        <h5>更多</h5>
                    </a>
                </div>
            </div>
            <div class="cancel fs14">取消</div>
            <!-- <i class="icon-close"></i> -->
        </div> 
	</div>
	<script type="text/javascript">
		$(".joined-group .cancel").click(
			function(){
				$(this).parent(".pop_up").hide().siblings(".joined-gray").hide();
			}
		);
		$(document).ready(
			function() {
				$(".joined-gray").delay(10000).show(0);
				$(".pop_up").delay(10000).show(0);
			}
		);
		
	</script>