<div class="one-details center-view" ng-controller="FlashSaleDetailController">
	 	<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide" ng-repeat="img in goods.imgList">
					<img src="{{img.path}}" alt=""></div>
				<!-- <div class="swiper-slide">
					<img src="images/one/tu1.png" alt=""></div>
				<div class="swiper-slide">
					<img src="images/one/tu1.png" alt=""></div>
				<div class="swiper-slide">
					<img src="images/one/tu1.png" alt=""></div> -->
			</div>
			<div class="swiper-pagination"></div>
		</div>
	 	<div class="cl"></div>
	 	<div class="od-box1">
	 		<p>{{goods.name+''+goodSku.propertiesValue}}</p>
	 		<p>{{goods.about}}</p>
	 		<div class="od1-bottom">
	 			<div class="od-box1-left fl fs14">剩余：<span>{{flashsale.stock}}份</span></div>
	 			<div class="od-box1-right fr">距开始 {{flashsale.dao}}</div>
	 		</div>
	 	</div>
	 	<div class="cl h10"></div>
	 	<div class="od-box2">
	 		<div class="od-box2-hd">
	 			<p class="fl fs16" style="color:#999;">秒杀规则</p>
				<p class="fr fs12" ><a href="#problem7.html" style="color:#999;border:1px solid #999;padding:1px 4px;border-radius:4px;">了解详情</a></p>
	 		</div>
	 		<div class="cl h10"></div>
	 		<div class="od-box2-bd">
	 			<ul>
	 				<li>
	 					<div class="od-box2-num fl">1</div>
	 					<div class="od-box2-text fl">选择<br>心仪商品</div>
	 				</li>
	 				<li>
	 					<div class="od-box2-num fl">2</div>
	 					<div class="od-box2-text fl">点击<br>立即秒杀</div>
	 				</li>
	 				<li>
	 					<div class="od-box2-num fl">3</div>
	 					<div class="od-box2-text fl">付款<br>秒杀成功</div>
	 				</li>
	 			</ul>
	 		</div>
	 	</div>
	 	<div class="cl h10"></div>
	 	<div class="ad-box2">
	 		<div class="ad2-hd">
	 			图文详情
	 		</div>
	 		<div class="cl"></div>
	 		<div class="ad2-bd" ng-bind-html="goods.content">
	 			
	 		</div>
	 	</div>
	 	<div class="one-details-fix" style="border-top:1px solid #ccc;">
	 		<div class="ad1-top">
	 			<div class="ad1-left fl">
	 				<div class="fl">
	 					<i class="icon-home-1"></i>
						<p>首页</p>
	 				</div>
	 				<p class="fl">￥<span class="ag">{{flashsale.currentPrice}}</span></p>
	 				<p class="fl">原价：￥{{goodSku.price}}</p>
	 			</div>
	 			<div class={{flashsale.classes}} ng-click="statrtFlash()">
	 				{{flashsale.BtnValue}}<i class={{flashsale.point}}></i>
	 			</div>
	 		</div>
	 	</div>
	 	<div class="gotop">
	 		 <i class="icon-top-index"></i>
	 	</div>
	 </div>
	 <script type="text/javascript">
	/* 	var swiper = new Swiper('', {
        slidesPerView: 1,
        slidesPerColumn: 1,
        autoplay:5000,
        loop:true,
        pagination: '.swiper-pagination',
		paginationClickable :true,
    });*/

	 	 var swiper = new Swiper('.swiper-container', {
            slidesPerView: 1,
            slidesPerColumn: 1,
            autoplay:5000,
            loop:true,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev'
        });
	 	 var img_hei=$('.swiper-container img').width()*0.7;
        $('.swiper-container img').height(img_hei)
	 </script>
























