<div class="one-list center-view">
	 	<ul>
	 		<li>
	 			<a href="#one-details.html">
	 				<img src="../../images/one/tu1.png" alt="">
	 			</a>
	 			<div class="one-list-box1">
	 				<div class="one-list-bg"></div>
	 				<div class="one-list-text">
	 					<p class="fl">
	 						<a href="#one-details.html">味之初 双层芝士蛋糕......</a>
	 					</p>
	 					<p class="fr">剩余：<a href="#">5</a>份</p>
	 				</div>
	 			</div>
	 			<div class="cl"></div>
	 			<div class="one-list-box2">
	 				<div class="one-list-box2-left fl">
	 					<div class="one-list-box2-left1 fl">
	 						<p>￥<a href="#">1.00</a>元</p>
	 					</div>
	 					<div class="one-list-box2-left2 fl">
	 						<p>倒计时</p>
	 						<span>00:03:20:0</span>	
	 					</div>
	 				</div>
	 				<div class="one-list-box2-right fr" ui-sref="one-details">立即秒杀</div>
	 			</div>
	 		</li>
	 		<li>
	 			<a href="#one-details.html">
	 				<img src="../../images/one/tu1.png" alt="">
	 			</a>
	 			<div class="one-list-box1">
	 				<div class="one-list-bg"></div>
	 				<div class="one-list-text">
	 					<p class="fl">
	 						<a href="#one-details.html">味之初 双层芝士蛋糕......</a>
	 					</p>
	 					<p class="fr">剩余：<a href="#">5</a>份</p>
	 				</div>
	 			</div>
	 			<div class="cl"></div>
	 			<div class="one-list-box2">
	 				<div class="one-list-box2-left fl green1">
	 					<div class="one-list-box2-left1 fl">
	 						<p>￥<a href="#">1.00</a>元</p>
	 					</div>
	 					<div class="one-list-box2-left2 fl">
	 						<p>倒计时</p>
	 						<span>00:03:20:0</span>	
	 					</div>
	 				</div>
	 				<div class="one-list-box2-right fr green" ui-sref="one-details">即将开始</div>
	 			</div>
	 		</li>
	 		<li>
	 			<a href="#one-details.html">
	 				<img src="../../images/one/tu1.png" alt="">
	 			</a>
	 			<div class="one-list-box1">
	 				<div class="one-list-bg"></div>
	 				<div class="one-list-text">
	 					<p class="fl">
	 						<a href="#one-details.html">味之初 双层芝士蛋糕......</a>
	 					</p>
	 					<p class="fr">剩余：<a href="#">5</a>份</p>
	 				</div>
	 			</div>
	 			<div class="cl"></div>
	 			<div class="one-list-box2">
	 				<div class="one-list-box2-left fl gray1">
	 					<div class="one-list-box2-left1 fl">
	 						<p>￥<a href="#">1.00</a>元</p>
	 					</div>
	 					<div class="one-list-box2-left2 fl">
	 						<p>倒计时</p>
	 						<span>00:03:20:0</span>	
	 					</div>
	 				</div>
	 				<div class="one-list-box2-right fr gray" ui-sref="one-details">已结束</div>
	 			</div>
	 		</li>
	 	</ul>
	 </div>
	 <nav></nav>