  <div class="one-list center-view" ng-controller="FlashSaleListController">
    <input type="hidden" id="pageId" value="flashsale"></input>
        <ul>
             <li ng-repeat="fs in flashsale">
                <a href="#one-details.html?id={{fs.id}}">
                    <img src="{{fs.goods.path}}" alt="">
                </a>
                <div class="one-list-box1">
                    <div class="one-list-bg"></div>
                    <div class="one-list-text">
                        <div class="fl" style="width:70%;">
                            <p class="text-abb" style="width:100%;">
                                <a href="#">{{fs.goods.name+''+fs.sku.propertiesValue}}</a>
                            </p>
                            <span>{{fs.goods.about}}</span>
                        </div>
                        <p class="fr">剩余：<a href="#">{{fs.stock}}</a>份</p>
                    </div>
                </div>
                <div class="cl"></div>
                <div class={{fs.classes}}>
                    <div class="one-list-box2-left fl">
                        <div class="one-list-box2-left1 fl">
                            <p>￥<a href="#one-details.html?id={{fs.id}}">{{fs.currentPrice}}</a></p>
                        </div>
                        <div class="one-list-box2-left2 fl">
                            <p>倒计时</p>
                            <span class="timer">{{fs.dao}}</span> 
                        </div>
                    </div>
                    <div class="one-list-box2-right fr" ng-click="godetail(fs.id)">{{fs.BtnValue}}</div>
                </div>
            </li> 
        </ul>
        <div class="gotop">
            <img src="images/gotop.png" alt="">
        </div>
     </div>
     <script>
      var img_hei=$('.one-list li img').width()*0.7;
        $('.one-list li img').height(img_hei)
    </script>
     <nav></nav>