<div class="search center-view" ng-controller="SearchController">
    <div class="cl h10"></div>
    <div class="header">

        <div class="col-10 fl" ui-sref="index">
            <i class="icon-arrow2" style="font-size: 30px;color:#999;margin-top: 6px;"></i>
        </div>
        <div class="search_wrap fl col-90" style="position: relative;"> 
            <i class="icon-search fl col-7 fs20 mt10"  style="color:#999;"></i>
            <input type="text" class="fl col-60" ng-model="name">
           <i class="icon-close-shop" ng-click="delname()" style="font-size: 20px;position: absolute;top:11px;right: 26%;color:#999;"></i>
            <div class="gosearch fr" ng-click="beginSearch(name)">搜索</div>
        </div>
    </div>
    <div class="cl"></div>
    <!-- 搜索到 -->
    <div class="search-success" ng-show="searchshow">
    <div class="allproducts_wrap">
        <header class="sort" style="top:61px;background-color: #fff;color:#999;">
            <span>默认排序</span> <i></i>
            <div class="sort_content hide">
                <div class="sortbysales" ng-click="byOrder(2)">
                    按销量排序
                    <i class="icon-exchange"></i>
                </div>
                <div class="sortbyprice" ng-click="byOrder(1)">
                    按价格排序
                    <i class="icon-exchange"></i>
                </div>
            </div>
        </header>
    </div>
    <div class="cl"></div>
    <section class="products_products clearfix" style="margin-top:95px;">
        <ul>
            <li ng-repeat="goods in goodsList">
                <a href="#/product/details.html?gid={{goods.gid}}">
                    <div class="product_pic">
                        <img src="{{goods.path}}" alt=""></div>
                    <div class="product_name"> <b>{{goods.name}}</b>
                    </div>
                    <div class="price_info">
                        <div class="price fl">￥{{goods.salePrice}}</div>
                        <div class="sales fr">
                            已售出
                            <span>{{goods.volume}}</span>
                            笔
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </section>
    </div>
    <!-- 未搜索到 -->
    <div class="search-failed" ng-show="notsearch">
        <div class="blank-tips"  style="padding-top:115px;display: block !important;">
            <i class="icon-search"></i>
            <p>未找到与“{{name}}”相关的产品</p>
        </div>
        <div class="cl h10"></div>
        <div class="search-titles">
            <ul>
                <li></li>
                <li>热销商品</li>
                <li></li>
            </ul>
        </div>
        <section class="products_products clearfix" style="">
        <ul>
            <li ng-repeat="goods in showlist">
                <a href="#/product/details.html?gid={{goods.gid}}">
                    <div class="product_pic">
                        <img src="{{goods.path}}" alt=""></div>
                    <div class="product_name"> <b>{{goods.name}}</b>
                    </div>
                    <div class="price_info">
                        <div class="price fl">￥{{goods.price}}</div>
                        <div class="sales fr">
                            已售出
                            <span>{{goods.volume}}</span>
                            笔
                        </div>
                    </div>
                </a>
            </li>
           
        </ul>
    </section>
    </div>
</div>