<div class="signup center-view">
	<div class="pd-box1" style="background-color: #fff;">
		<div class="consignee-info1 fs18">
			<p class="fl fs18">保证金</p>
			<p class="fr fs12">
				￥
				<span class="fs20" style="color:#ff473f;">10.00</span>
			</p>
		</div>
		<div class="cl h10"></div>
		<p style="color:#999;">保证金只是锁定了，不会少，竞拍不成功将退还到您的银行卡或者微信钱包。</p>
	</div>
	<div class="cl h10"></div>
	<div class="pay-address">
		<div class="pd-box1">
			<div class="consignee-info1 fs18">
				<p class="fl">收货人：麻婷婷</p>
				<p class="fr">18560032060</p>
			</div>
			<div class="cl h10"></div>
			<p style="color:#999;">收货地址 ：山东省-济南市-历下区泉城路世茂国际广场B座</p>
		</div>
	</div>
	<div class="cl"></div>
	<div class="payment-method">
		<div class="pm-box1-hd">为保证竞拍成功后竞品顺利到达，请确认您的收货地址</div>
		<div class="pm-box1-bd">
			<div class="pm-b1-top">
				<div class="pm-circle cur fl"> <i class="icon-right"></i>
				</div>
				<p class="" style="color:#929292;">
					竞拍需同意竞拍协议 &nbsp;
					<a href="#" style="color:#396FAD;">查看协议</a>
				</p>
			</div>
			<div class="cl"></div>
			<div class="pm-box1">报名，提交保证金</div>
		</div>
	</div>
	<div class="cl h70"></div>
</div>