@import "common";

.total-top{
	width: 100%;
	height: 90px;
	background-color: #333333;
}
.total-top>p{
	font-size:36px;
	color: @white-color;
	line-height: 90px;
	text-align: center;
}
.cart-content{
	width: 100%;
	overflow: hidden;
}
.shop{
	width: 100%;
	overflow: hidden;
}
.shop-title{
	width: 100%;
	height: 70px;
	/*padding: 14px 19px 17px 19px;*/
	border-bottom: 1px solid @gray-border;
	padding: 3%;
}
.shop-left{
	width: 80%;
}
.shop-right{
	width: 20%;
}
.shop-name{
	height:30px;
	line-height: 30px;
	margin-left: 5%;
	font-size: 22px;
	color: @txt-color;
}
.edit{
	width: 100%;
	height: 40px;
	border-radius: 4px;
	line-height: 40px;
	text-align: center;
	font-size:18px; 
	border: 1px solid #d5d5d5;
	cursor: pointer;
}