@t1-size:20px;
@t2-size:18px;
@t3-size:16px;
@t4-size:14px;//正文字体大小
@t5-size:12px;

@red-btn-color:#ff3333;
@green-btn-color:#2fcc33;
@orange-btn-color:#ff9900;
@dark-orange-btn-color:#ff6633;
@light-red-txt-color:#ff6666;
@bg-color:#f0f0f0;
@note-color:#ffffcd;
@gray-btn-color:#a0a0a0;
@txt-color:#333;
@gray-txt-color:#ccc;
@dark-gray-color:#999;
@white-color:#fff;//白色

@center-view-width:100%;