@t1-size:20px;
@t2-size:18px;
@t3-size:16px;
@t4-size:14px;//正文字体大小
@t5-size:12px;

@base-color:#cc0000;//主色红
@aid-orange:#ff9933;//辅助色-橙色
@aid-blue:#005aa0;//辅助色-蓝色
@gray-border:#d5d5d5;//灰色边框
@light-gray-bg:#f6f6f6;//浅灰底
@dark-gray-bg:#d3d3d3;//深灰底
@txt-color:#5f5f5f;//正文字体颜色
@title-color:#373737;//标题色
@foot-txt-color:#b4b4b4;//底栏字色
@price-color:#ff3333;//价格颜色
@gray-txt-color:#ccc;//灰色字体颜色
@white-color:#fff;//白色
@bg-green-color: #40d071;//绿色背景按钮

@center-view-width:100%;