@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?almz61');
    src:    url('fonts/icomoon.eot?almz61#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?almz61') format('truetype'),
        url('fonts/icomoon.woff?almz61') format('woff'),
        url('fonts/icomoon.svg?almz61#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-jiahao-1:before {
    content: "\e943";
}
.icon-kongbai:before {
    content: "\e944";
}
.icon-pengyouqian:before {
    content: "\e945";
}
.icon-QQ-1:before {
    content: "\e946";
}
.icon-weibo-1:before {
    content: "\e947";
}
.icon-weixin-1:before {
    content: "\e948";
}
.icon-xiaoxi-1:before {
    content: "\e942";
}
.icon-jia-fenxiang:before {
    content: "\e932";
}
.icon-ling-xiaoxi:before {
    content: "\e939";
}
.icon-pengyouquan-fenxiang:before {
    content: "\e93a";
}
.icon-QQ-denglu:before {
    content: "\e93b";
}
.icon-QQ-feixiang:before {
    content: "\e93c";
}
.icon-shouji-fenglu:before {
    content: "\e93d";
}
.icon-weibo-denglu:before {
    content: "\e93e";
}
.icon-weibo-fenxiang:before {
    content: "\e93f";
}
.icon-weixin-denglu:before {
    content: "\e940";
}
.icon-weixin-fenxiang:before {
    content: "\e941";
}
.icon-wenhao:before {
    content: "\e921";
}
.icon-home-1:before {
    content: "\e909";
}
.icon-home:before {
    content: "\e908";
}
.icon-r:before {
    content: "\e936";
}
.icon-arrow-12:before {
    content: "\e938";
}
.icon-arrow2:before {
    content: "\e933";
}
.icon-zb:before {
    content: "\e926";
}
.icon-me:before {
    content: "\e927";
}
.icon-arrow:before {
    content: "\e900";
}
.icon-UP:before {
    content: "\e928";
}
.icon-bianji:before {
    content: "\e901";
}
.icon-camera:before {
    content: "\e902";
}
.icon-card-ME:before {
    content: "\e5546";
}
.icon-close:before {
    content: "\e903";
}
.icon-ME:before {
    content: "\e92a";
}
.icon-dizhi:before {
    content: "\e904";
}
.icon-erweima-ME:before {
    content: "\e92b";
}
.icon-exchange:before {
    content: "\e905";
}
.icon-fenlei:before {
    content: "\e92c";
}
.icon-fenlei-1:before {
    content: "\e92d";
}
.icon-flag:before {
    content: "\e906";
}
.icon-FLOWER:before {
    content: "\e907";
}
.icon-huaban:before {
    content: "\e90a";
}
.icon-huifenxiang:before {
    content: "\e92e";
}
.icon-jia:before {
    content: "\e90b";
}
.icon-jianhao:before {
    content: "\e92f";
}
.icon-jiaobiao:before {
    content: "\e90c";
}
.icon-jifenduihuan-ME:before {
    content: "\e930";
}
.icon-jingpai:before {
    content: "\e931";
}
.icon-jingpai-me:before {
    content: "\e934";
}
.icon-laji:before {
    content: "\e90d";
}
.icon-logistics:before {
    content: "\e90e";
}
.icon-me-1:before {
    content: "\e910";
}
.icon-meme:before {
    content: "\e90f";
}
.icon-men:before {
    content: "\e911";
}
.icon-one:before {
    content: "\e912";
}
.icon-qiandai:before {
    content: "\e913";
}
.icon-qiaobao:before {
    content: "\e914";
}
.icon-QQ:before {
    content: "\e915";
}
.icon-renren:before {
    content: "\e916";
}
.icon-right:before {
    content: "\e917";
}
.icon-search:before {
    content: "\e918";
}
.icon-share:before {
    content: "\e919";
}
.icon-shopping-1:before {
    content: "\e91a";
}
.icon-shopping-2:before {
    content: "\e91b";
}
.icon-shoucangjia-1:before {
    content: "\e929";
}
.icon-shouchang:before {
    content: "\e91c";
}
.icon-shouchang-1:before {
    content: "\e91d";
}
.icon-sp:before {
    content: "\e91e";
}
.icon-sp-1:before {
    content: "\e91f";
}
.icon-tuan:before {
    content: "\e920";
}
.icon-tuangou-ME:before {
    content: "\e9343";
}
.icon-women:before {
    content: "\e922";
}
.icon-xiala:before {
    content: "\e923";
}
.icon-xiangxia:before {
    content: "\e924";
}
.icon-xiaoxi:before {
    content: "\e925";
}
.icon-xiaoxi-home:before {
    content: "\e935";
}
.icon-youhuiquan-ME:before {
    content: "\e937";
}

