.circle-icon,.circle-cur-icon,.reduce-icon,.plus-icon{
	background-image: url("../images/icons.png");
	background-repeat: no-repeat;
}

.circle-icon{
	width: 25px;
	height: 25px;
	background-position: -201px -189px;
}
.circle-cur-icon{
	width: 25px;
	height: 25px;
	background-position: -201px -251px;
}
.reduce-icon{
	width: 20px;
	height: 20px;
	background-position: -204px -221px;
}
.plus-icon{
	width: 20px;
	height: 20px;
	background-position: -237px -221px;
}
input.numbers{
	width: 93px;
	height: 41px;
	text-align: center;
	line-height: 41px;
}