<div class="no-payment center-view" style="font-size:14px;" ng-controller="GroupOrderDetailController">
	<div class="pay-address">
		<div class="pd-box1" style="border-bottom: none;">
			<div class="consignee-info1 fs16" style="border-bottom: none;">
				<p class="fl">{{address.receiver}}</p>
				<p class="fr">{{address.mobile}}</p>
				<div class="cl"></div>
			</div>
			<p style="" class="fs12">收货地址 ：{{address.address}}</p>
		</div>
	</div>
	<div class="cl h10"></div>
	<div class="pay-info" style="border-top:none;">
		<div class="pi-box1">
			<div class="pi1-pic fl">
				<img src="{{group.path}}" alt=""></div>
			<div class="pi1-info fl">
				<div class="pi1-text">{{group.gname + '' +group.propertyValue}}</div>
				<div class="pi1-price">
					<p class="fs12 fl" style="color:#808080;">
						价格：
						<span style="color:#ff473f;">{{group.goods.groupPrice}}元</span>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="pi1-total" style="font-size: 12px;background-color: #fff;">
		<p>
			共计一件商品：
			<span class="fs12">
				<span class="fs18">{{group.totalPrice}}</span>
				元
			</span>
			（{{(group.postage && group.postage > 0)? (group.group|currency:"￥") : "包邮"}}）
		</p>
	</div>
	<div class="cl h10"></div>
	<div class="pm-box1-hd" style="border:none;background-color: #fff;height:80px;line-height:20px;padding:10px 5%;">
		<p>订单编号：{{group.orderno}}</p>
		<p>支付方式：微信</p>
		<p>下单时间：{{group.ordertime}}</p>
	</div>
</div>