<div class="order_wrap my-groups" ng-controller="MyGroupAllController">
    <ordernav></ordernav>   
    <section class="order_body">
        <ul>
            <li ng-repeat="group in GroupList">
                <div class="order-hd1">
                    <div class="order-hd1-left fl">{{group.start}}</div>
                    <div class="order-hd1-right fr fs14">{{group.type}}</div>
                </div>
                <div class="cl"></div>
                <div class="order-bd1"><!-- {{group.path}}  -->
                    <div class="order_pic col-30 fl">
                        <a href="#/product/details.html">
                            <img src="images/index/product2.png" alt=""></a>
                    </div>
                    <div class="order_info_wrap col-67 fs12 fl">
                        <div class="order_info_body">
                            <div class="order_title col-70 fl">
                                <a href="#/product/details.html">{{group.gname + '' +group.propertyValue}}</a>
                            </div>
                            <div class="order-prices col-30 fr">
                                <div class="order_price">
                                    ￥
                                    <span class="fs14">{{group.goods.groupPrice}}</span>
                                </div>
                            </div>
                            <div class="cl"></div>
                            <p style="color:#ff473f;margin-top:3px;" ng-show="group.showhide">距结束：{{group.time}}</p>
                            <div class="cl"></div>
                            <div class="order_btn fl" ng-show="isIng(group)">
                                <button class="order_cancel fs12 fr" style="color:#34CC67;border-color:#34CC67;">邀请好友</button>
                            </div>
                             <div class="order_btn fl" ng-show="isSuccess(group)">
                                <button class="order_cancel fs12 fr" style="">拼团详情</button>
                            </div>
                            <div class="order_btn fl" ng-show="isFail(group)">
                                <button class="order_cancel fs12 fr" style="color:#ff473f; border-color:#ff473f;">订单详情</button>
                                <a href="" class="order_pay fs12 fr" style="color:#807E7E;border-color:#807E7E;">拼团详情</a>
                            </div>


                        </div>
                    </div>
                </div>
            </li>
            <!-- <li>
                <div class="order-hd1">
                    <div class="order-hd1-left fl">2016年5月25日 22:00:11</div>
                    <div class="order-hd1-right fr fs14">未成团</div>
                </div>
                <div class="cl"></div>
                <div class="order-bd1">
                    <div class="order_pic col-30 fl">
                        <a href="#/product/details.html">
                            <img src="images/index/product2.png" alt=""></a>
                    </div>
                    <div class="order_info_wrap col-67 fs12 fl">
                        <div class="order_info_body">
                            <div class="order_title col-70 fl">
                                <a href="#/product/details.html">拉卡拉收款宝手机pos机 信用卡刷</a>
                            </div>
                            <div class="order-prices col-30 fr">
                                <div class="order_price">
                                    ￥
                                    <span class="fs14">1.00</span>
                                </div>
                            </div>
                            <div class="cl h10"></div>
                            <div class="order_btn fl">
                                <button class="order_cancel fs12 fr" style="">拼团详情</button>
                            </div>

                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="order-hd1">
                    <div class="order-hd1-left fl">2016年5月25日 22:00:11</div>
                    <div class="order-hd1-right fr fs14">已成团</div>
                </div>
                <div class="cl"></div>
                <div class="order-bd1">
                    <div class="order_pic col-30 fl">
                        <a href="#/product/details.html">
                            <img src="images/index/product2.png" alt=""></a>
                    </div>
                    <div class="order_info_wrap col-67 fs12 fl">
                        <div class="order_info_body">
                            <div class="order_title col-70 fl">
                                <a href="#/product/details.html">拉卡拉收款宝手机pos机 信用卡刷</a>
                            </div>
                            <div class="order-prices col-30 fr">
                                <div class="order_price">
                                    ￥
                                    <span class="fs14">1.00</span>
                                </div>
                            </div>
                            <div class="cl"></div>
                            <p style="color:#ff473f;margin-top:3px;">05月29日 20:14:00</p>
                            <div class="cl"></div>
                            <div class="order_btn fl">
                                <button class="order_cancel fs12 fr" style="color:#ff473f; border-color:#ff473f;">订单详情</button>
                                <a href="" class="order_pay fs12 fr" style="color:#807E7E;border-color:#807E7E;">拼团详情</a>
                            </div>

                        </div>
                    </div>
                </div>
            </li> -->
        </ul>
    </section>
</div>
<nav></nav>