<div class="order_nav over">
    <a ui-sref="my-groups-all" class="all" ui-sref-active="groups-all">
        全部 <i></i>
    </a>
    <a ui-sref="my-groups-ing" class="non-payment" ui-sref-active="groups-ing">
        组团中 <i></i>
    </a>
    <a ui-sref="my-groups-success" class="unfilled" ui-sref-active="groups-success">
        已成团
        <i class=""></i>
    </a>
    <a ui-sref="my-groups-failed" class="delivered" ui-sref-active="groups-failed">
        组团失败
        <i class=""></i>
    </a>
</div>