.auction-details{
	overflow: hidden;
	margin-bottom: 50px;
	background-color:#F0F0F0;
}
.ad-img{
	width: 100%;
	height: 275px;
}
.ad-img img{
	width: 100%;
	height: 100%;
}
/**************/
.ad-box1{
	overflow: hidden;
}
.ad1-top{
	width: 100%;
	height:40px;
	line-height:40px;
	overflow: hidden;
	color: #fff;
	position: absolute;
	top:194px;
	left: 0;
	background-color:green;
	padding-left: 3%;
	z-index: 999;
}
.ad1-top.before{
	background-color:#9DE4AC;
}
.ad1-top.ing{
	background-color:#96968D;
}
.ad1-circle{
	width: 20px;
	height: 20px;
	border: 1px solid #fff;
	border-radius: 10px;
	margin-top: 10px;
	line-height:17px;
	text-align: center;
	margin-right:6px;
}
.ad1-circle i{
	font-size: 12px;
}
.ad1-right{
	width: 30%;
	height: 50px;
	text-align: center;
	padding-top: 7px;
	background-color:#999999;
	font-size: 14px;
}
/**************/
.ad1-mid{
	background-color: #fff;
	overflow: hidden;
	padding-left: 3%;
}
.adm-left{
	width: 80%;
	height: 64px;
	padding-left: 2%;
	font-size: 16px;
	font-weight: bold;
	padding-top: 10px;
	color: #333;
}
.auction-details .adm-left{
	height:55px !important;
}
.adm-left a:link,.adm-left a:visited{
	color: #3F3F3F; 
}
.auction-details .adm-right{
	height: 55px !important;
	line-height: 20px !important;
}
.auction-details .adm-right i{
	font-size:22px;
	color: #41D071;
}
.adm-right{
	width: 20%;
	text-align: center;
	line-height: 64px;
	height: 64px;
	padding-top: 10px;
	position: relative;
	cursor: pointer;
	color: #333;
}
.ad1-mid2>ul>li{
	float: left;
	width: 33%;
	height: 20px;
	line-height: 20px;
	text-align: center;
}
.ad1-mid2>ul>li:nth-child(1){
	margin-right: 1%;
	text-align: left;
}
.ad1-mid2>ul>li:nth-child(3){
	text-align: right;
}
.ad1-mid2{
	overflow: hidden;
	background-color: #fff;
	font-size: 12px;
	padding-left:3%;
	padding-right: 6%;
	padding-top:5px;
	padding-bottom:10px;
	color: #999;
}
.ad1-bottom{
	width: 96%;
	margin: 0 auto;
	background-color: #33CC66;
	color: #fff;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius:10px;
	cursor: pointer;
	position: relative;
}
.ad-offer{
	overflow: hidden;
	background-color: #fff;
}
.ad-offer-hd{
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding-left: 2%;
	position: relative;
	padding-right: 2%;
	color: #999;
}
.ad-offer-hd i.icon-arrow-12{
	margin-top:10px;
	transition:all 0.3s ease 0s;
	-webkit-transform:rotate(-180deg);
	-moz-transform:rotate(-180deg);
}
.ad-offer-hd.cur i.icon-arrow-12{
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
}
.ad-offer-bd{
	padding-bottom: 10px;
}
/*************************/
.ad-offer-hd1{
	overflow: hidden;
}
.ad-offer-hd1>ul>li{
	float: left;
	width: 25%;
	text-align: center;
	height: 36px;
	line-height: 36px;
	color: #999999;
	font-size: 14px;
}
.ad-offer-hd1>ul>li:nth-child(1){
	width: 20%;
}
.ad-offer-hd1>ul>li:nth-child(2){
	width: 22%;
}
.ad-offer-hd1>ul>li:nth-child(3){
	width: 18%;
}
.ad-offer-hd1>ul>li:nth-child(4){
	width: 35%;
}
.ad-offer-bd1{
	padding-left: 3%;
	padding-right:3%;
	overflow: hidden;
}
.ad-offer-bd1>ul>li{
	width: 100%;
	height:20px;
	line-height:20px;
	font-size: 12px;
	margin-bottom: 10px;
}
.ad-offer-bd1>ul>li.cur>ul>li:nth-child(1){
	background-color:#ff473f;
}
.ad-offer-bd1>ul>li>ul>li{
	float: left;
	text-align: center;
	color: #666;
	height: 20px;
	line-height: 20px;
}
.ad-offer-bd1>ul>li>ul>li:nth-child(1){
	width: 14%;
	color: #fff;
	border-radius: 4px;
	background-color:#CCCCCC;
}
.ad-offer-bd1>ul>li>ul>li:nth-child(2){
	width: 30%;
}
.ad-offer-bd1>ul>li>ul>li:nth-child(3){
	width: 16%;
}
.ad-offer-bd1>ul>li>ul>li:nth-child(4){
	width:40%;
}
.auction-details .ad-box2{
	background-color: #fff;
	overflow: hidden;
	padding-top:7px;
	padding-left: 3%;
	padding-right: 3%;
}
.auction-details .ad-box2 .ad2-hd{
	width:22%;
	font-size: 16px;
	height:30px;
	line-height:30px;
	text-align: center;
	border-bottom: 1px solid #FF473F;
}
.auction-details .ad2-bd img{
	width: 100%;
}
/**/
.joined-box5-hd{
	color:#B0B0B0;
	font-size: 14px;
	font-weight: normal !important;
	padding-right: 3%;
	overflow: hidden;
	margin-bottom: 10px !important;
}
.joined-box5-hd p:nth-child(2){
	border: 1px solid #B0B0B0;
	border-radius: 4px;
	padding: 2px 2%;
	cursor: pointer;
}
.auction-details span.sp1{
	color: #999;
}
.auction-details span.sp1 span{
	color: #ff473f;
}
.auction-details-fix{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: #fff;
}
.auction-fix-left{
	width: 40%;
	color: #999;
}
.auction-fix-left>ul>li{
	float: left;
	width: 50%;
	height: 50px;
	border-top: 1px solid #ccc;
	text-align: center;
	padding-top:6px; 
	font-size: 12px;
}
.auction-fix-left>ul>li:first-child{
	border-right: 1px solid #999;
}
.auction-fix-left>ul>li i{
	font-size:20px;
}
.auction-fix-right{
	width: 60%;
	height: 50px;
	background-color:#ff473f;
	color: #fff;
	text-align: center;
}
.auction-fix-right span{
	display: block;
}
.auction-fix-right .ap1{
	margin-top:3px;
}
.auction-fix-right .ap2{
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 16px;
}
.auction-fix-right .ap2 i{
	margin-right: 5px;
}
.auction-fix-right p{
	display: none;
}
.auction-fix-right.signup .ap1{
	display: block;
}
.auction-fix-right.into .ap2{
	display: block;
}
.swiper-slide img{
	width: 100%;
}
.swiper-slide img{
	height: 230px !important;
}
/**************auction-success****************/
.auction-success-tip{
	overflow: hidden;
	background-color:#F5FCF7;
	border-bottom: 1px solid #33CC66;
	padding-top: 30px;
	padding-bottom: 30px;
}
.auction-success-top{
	width: 50%;
	margin: 0 auto;
	overflow: hidden;
}
.auction-success-bottom{
	text-align: center;
	color: #666;
}
.auction-success-circle{
	height:20px;
	width:20px;
	line-height: 20px;
	text-align: center;
	border-radius: 15px;
	background-color:#33CC66;
	margin-right: 3px;
}
.auction-success-circle i{
	color: #fff;
}