
i{display: inline-block}

/*热销商品*/
.auction_wrap .products{background: #f0f0f0;margin-bottom: 52px;}
.auction_wrap .products .title a{color: #3e3e3e;margin-right: 3%}
.auction_wrap .products ul li{position: relative;width: 100%;min-height: 132px;margin-bottom: 2%;float: left;background: #fff;padding-bottom: 5px}
.auction_wrap .products ul li,.auction_wrap .products ul li a{color: #333}
.auction_wrap .products .product_pic{text-align: center;}
.auction_wrap .products ul li .product_pic a{display:block;}
.auction_wrap .products .product_pic img{width:100%;vertical-align: middle;height: 100%;}
.auction_wrap .products .groupbuy_info{overflow: hidden;padding-left: 3%;padding-right: 3%;}
.auction_wrap .products .groupbuy_title{max-height:36px;overflow: hidden;font-size: 14px;line-height: 18px;margin:5px 5px 0 0}
.auction_wrap .products .groupbuy_sale{margin:7px 0 8px 0;}


/**************************8*/
.fs25{
	font-size:25px;
}
.offer-amount{
	width:60px;
	height:60px;
	background-color:#ccc;
	text-align: center;
	color: #fff;
}
.offer-title-poa{
	position: absolute;
	bottom:25px;
	right: 3%;
	color: #fff;
}
.offer-title-top{
	position: relative;
}
.offer-poa-bg{
	width: 60px;
	height: 25px;
	line-height: 44px;
	overflow: hidden;
	background-color:#ccc;
	opacity: 0.5;
}
.offer-state{
	position: absolute;
	bottom: 4px;
	right:0;
	color: #fff;
	width:98%;
	text-align: center;
}
.auction_wrap .products>ul>li.conducting .groupbuy_sale span.sp1 span{
	color: #ff473f;
}
.auction_wrap .products>ul>li.conducting .offer-poa-bg{
	background-color:#ff473f;
}
.auction_wrap .products>ul>li.conducting .offer-amount{
	background-color:#ff473f;
}
.auction_wrap .products>ul>li.willbegin .groupbuy_sale span.sp1 span{
	color:#33CC66;
}
.auction_wrap .products>ul>li.willbegin .offer-poa-bg{
	background-color:#33CC66;
}
.auction_wrap .products>ul>li.willbegin .offer-amount{
	background-color:#33CC66;
}
.auction_wrap .products>ul>li.over .groupbuy_sale span.sp1 span{
	color:#808080;
}
.auction_wrap .products>ul>li.over .offer-poa-bg{
	background-color:#808080;
}
.auction_wrap .products>ul>li.over .offer-amount{
	background-color:#808080;
}
