.auction-details{
	overflow: hidden;
	background-color: #fff;
}
.ad-img{
	width: 100%;
	height: 275px;
}
.ad-img img{
	width: 100%;
	height: 100%;
}
/**************/
.ad-box1{
	overflow: hidden;
}
.ad1-top{
	height: 50px;
	overflow: hidden;
	color: #fff;
}
.ad1-left{
	width: 70%;
	height: 50px;
	background-color:#33CC66;
	font-size: 14px;
	text-align: center;
	padding-left: 3%;
}
.ad1-left p{
	float: left;
	line-height: 50px;
}
.ad1-left p:nth-child(2){
	font-size: 12px;
	line-height: 56px;
	margin-left: 2%;
}
span.ag{
	font-size: 20px;
	font-weight: bold;
}
.ad1-right{
	width: 30%;
	height: 50px;
	text-align: center;
	padding-top: 7px;
	background-color:#999999;
	font-size: 14px;
}
/**************/
.ad1-mid{
	background-color: #fff;
}
.adm-left{
	width: 80%;
	height: 64px;
	padding-left: 2%;
	font-size: 16px;
	padding-top: 10px;
}
.adm-left a:link,.adm-left a:visited{
	color: #3F3F3F; 
}
.adm-right{
	width: 20%;
	text-align: center;
	height: 64px;
	padding-top: 10px;
	position: relative;
	cursor: pointer;
	font-size: 13px;
}
.adm-right i.icon-share{
	color: #33CC66;
	font-size: 20px;
}
.ad1-mid2>ul>li{
	float: left;
	width: 33%;
	height: 20px;
	line-height: 20px;
	text-align: center;
}
.ad1-mid2>ul>li:nth-child(1){
	margin-right: 1%;
}
.ad1-mid2{
	font-size: 14px;
	padding-left: 2%;
}
.ad1-bottom{
	width: 96%;
	margin: 0 auto;
	background-color: #33CC66;
	color: #fff;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius:10px;
	cursor: pointer;
	position: relative;
}
.ad1-bottom i.icon-arrow{
	position: absolute;
	top: 13px;
    right: 34%;
}
.ad-offer-hd{
	height: 40px;
	line-height: 40px;
	background-color:#CCCCCC;
	padding-left: 2%;
	position: relative;
}
.ad-offer-hd p{
	float: left;
}
.ad-offer-hd i.icon-UP{
	margin-top: 10px;
	color: #fff;
}
.ad-offer-hd i.icon-xiangxia{
	margin-top: 10px;
	color: #fff;
	display: none;
}
.ad-offer-hd.cur i.icon-UP{
	display: none;
}
.ad-offer-hd.cur i.icon-xiangxia{
	display: block;
}
.ad-offer-hd1{
	overflow: hidden;
}
.ad-offer-hd1>ul>li{
	float: left;
	width: 25%;
	text-align: center;
	height: 36px;
	line-height: 36px;
	color: #999999;
	font-size: 14px;
}
.ad-offer-hd1>ul>li:nth-child(1){
	width: 20%;
}
.ad-offer-hd1>ul>li:nth-child(2){
	width: 22%;
}
.ad-offer-hd1>ul>li:nth-child(3){
	width: 18%;
}
.ad-offer-hd1>ul>li:nth-child(4){
	width: 35%;
}
.ad-offer-bd1{
	padding-left: 3%;
	padding-right:3%;
	overflow: hidden;
}
.ad-offer-bd1>ul>li{
	width: 100%;
	height:20px;
	line-height:20px;
	font-size: 12px;
	margin-bottom: 10px;
}
.ad-offer-bd1>ul>li.cur>ul>li:nth-child(1){
	background-color:#F45C01;
}
.ad-offer-bd1>ul>li>ul>li{
	float: left;
	text-align: center;
	color: #666;
	height: 20px;
	line-height: 20px;
}
.ad-offer-bd1>ul>li>ul>li:nth-child(1){
	width: 14%;
	color: #fff;
	border-radius: 4px;
	background-color:#CCCCCC;
}
.ad-offer-bd1>ul>li>ul>li:nth-child(2){
	width: 30%;
}
.ad-offer-bd1>ul>li>ul>li:nth-child(3){
	width: 16%;
}
.ad-offer-bd1>ul>li>ul>li:nth-child(4){
	width:40%;
}
.ad2-hd>ul>li{
	float: left;
	width: 30%;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.ad2-hd>ul>li.cur{
	border-bottom: 2px solid #F45C01;
}
.ad2-hd>ul>li a{
	display: block;
	color:#666; 
}
.ad2-bd>ul>li{
	display: none;
}
.ad2-bd>ul>li.cur{
	display: block;
}
.ad2-bd>ul>li img{
	border-bottom: 1px solid #C2C2C2;
	width: 100%;
}
.ad-detail-info{
	padding-top: 15px;
	padding-left: 2%;
	padding-right: 2%;
}
.ad-detail-info p{
	line-height: 25px;
	text-indent: 2em;
	margin-bottom: 10px;
}
a.ra{
	color: #F45C01;
}