.wrap{color: #3e3e3e}
i{display: inline-block}

/*banner*/
.banner_wrap{margin-top: 40px!important}
.banner_wrap,.banner_wrap .banner img{width: 100%;}
/*.swiper-button-prev,.swiper-button-next{color: #fff;font-weight: bold;font-size: 24px;background-image: none!important}
.swiper-button-prev{transform:rotate(180deg)}*/

/*主要服务*/
.services{padding:10px 15px;border-bottom: 1px solid #efefef;background: #fff}
.services .service_list{width:25%;text-align: center;}
.services .service_list .service_pic{width: 30px;height: 30px;line-height: 30px;border-radius: 12px;margin: auto;font-size: 38px;text-align: center}
.services .service_list .service_title{margin-top:4px;font-size: 14px;color: #5a5a5a} 
.index_makemoney .service_pic{color: #FF473F} 
.index_order .service_pic{color: #b7a1ff} 
.index_groupbuy .service_pic{color: #3de6f9} 
.index_oneyuanbuy .service_pic{color: #ffc468}
.index_share .service_pic{color: #ff784e}
.index_auction .service_pic{color: #7ee58a}
.index_collection .service_pic{color: #ff4a86}
.index_classify .service_pic{color: #7b91ff}
  
/*站内公告*/
.notice{padding: 7px 0 5px 0;background: #fff}
.notice .title{height: 29px;text-align: center;border-right: 1px solid #efefef;box-sizing: border-box}
.notice .title img{width: 21px;height: 21px;text-align: center;position: relative;top: 4px}
.notice .content{line-height: 24px;}
.notice .content i{text-align: center;line-height: 28px;width:12%;height: 20px;}
.notice .content .content_words{width: 88%;font-size: 12px;line-height: 15px;margin-top: -2px}
.notice .content .content_words span{color: #FF473F}

/*活动*/
.index_activity{height: 173px;background: #f0f0f0;margin-top: 7px}  
.index_activity .index_groupbuy_body{width: 57.5%;height: 100%;margin-right: 2.5%;background: #fff;position: relative} 
.index_activity .index_hotsale{width:40%;height: 100%}
.index_activity .index_groupbuy_title{height: 36px;line-height: 18px;overflow: hidden;margin-left: 3px}   
@media screen and (min-width:350px){
    .index_activity .index_groupbuy_title{height: 32px;line-height: 16px;}
}  
@media screen and (min-width:380px){
    .index_activity{height:190px}
} 
@media screen and (min-width:435px){
    .index_activity{height:205px}
}
.index_activity .groupbuy_info{position:absolute;bottom: 0;width: 100%;height: 20px;background: #909090;line-height: 20px;color: #fff}  
.index_activity .index_people_num i{width: 14px;height: 20px;line-height: 20px;margin-left: 3px}
.index_activity .index_groupbuy_body img,.index_activity .index_hotsale img{width: 100%}
.index_groupstart{text-align: center;background: #FF473F}  
.index_hotsale img{height:100%}  

/*热销商品*/  
.index_products{background: #f0f0f0}
.index_products .title{line-height: 28px;}
.index_products .title b{margin-left: 3%}
.index_products .title a{color: #3e3e3e;margin-right: 3%}
.index_products ul{padding-bottom: 52px}
.index_products ul li{width: 49.8%;min-height: 150px;margin-bottom: 2%;float: left;background: #fff;padding-bottom: 5px}
.index_products ul li:nth-child(2n-1){margin-right: 0.4%}
.index_products .product_pic img{width: 100%}
.index_products ul li .product_name{line-height: 20px; white-space:nowrap;text-overflow: ellipsis;overflow: hidden;}
.index_products ul li .price_info,.index_products ul li .product_name{padding:0 2%;font-size: 14px}
.index_products ul li .product_name a{color: #333} 
.index_products ul li .price_info .price{font-size: 16px;line-height: 24px;color: #FF473F}
.index_products ul li .price_info .sales{line-height: 22px;margin-right: 10px;color: #666464;font-size: 10px}