.wrap{color: #3e3e3e}
i{display: inline-block}
/*头部*/
.wrap header{width: 100%;line-height:40px;background: #fd8842;color: #fff;font-size: 13px;position: fixed;top: 0;z-index: 2}
.wrap .dropdown{width:14%;text-align: center;}
.wrap .search_wrap{line-height:30px;background: #fff;}
.wrap .search_wrap input{line-height: 30px;text-indent: 0.7em;}
.wrap .search_wrap .search_btn{height:30px;background: url(../../images/index/icon.png) -55px 6px}
.wrap .login{line-height: 40px;text-align: center;display: inline-block}

/*banner*/
.banner_wrap{margin-top: 40px}
.banner_wrap,.banner_wrap .banner img{width: 100%;}
.swiper-button-prev{background:url(../../images/index/icon.png) -97px -34px}
.swiper-button-next{background:url(../../images/index/icon.png) -119px -34px}

/*主要服务*/
.services{padding:10px 15px;border-bottom: 1px solid #efefef}
.services .service_list{width:25%;text-align: center;}
.services .service_list .service_pic{width: 30px;height: 30px;background: #ff89d1;border-radius: 12px;margin: auto}
.services .service_list .service_title{margin-top:4px;}

/*站内公告*/
.notice{padding: 7px 0 5px 0;}
.notice .title{height: 29px;text-align: center;border-right: 1px solid #efefef;box-sizing: border-box}
.notice .title img{width: 21px;height: 21px;text-align: center;position: relative;top: 4px}
.notice .content{line-height: 24px;}
.notice .content i{background: url(../../images/index/icon.png) -95px 7px;width:12%;height: 20px;}
.notice .content .content_words{width: 88%;font-size: 12px;line-height: 15px;margin-top: -2px}
.notice .content .content_words span{color: #fd8841}

/*热销商品*/
.products{background: #f0f0f0}
.products .title{line-height: 25px;}
.products .title b{margin-left: 3%}
.products .title a{color: #3e3e3e;margin-right: 3%}
.products ul li{width: 49.8%;min-height: 202px;margin-bottom: 2%;float: left;background: #fff;padding-bottom: 5px}
.products ul li:nth-child(2n-1){margin-right: 0.4%}
.products .product_pic img{width: 100%}
.products ul li .product_name{line-height: 20px; white-space:nowrap;text-overflow: ellipsis;overflow: hidden;}
.products ul li .price_info,.products ul li .product_name{padding:0 2%}
.products ul li .price_info .price{font-size: 14px;line-height: 24px;color: #fd8841}
.products ul li .price_info .sales{line-height: 22px;margin-left: 20px;color: #666464}

/*底部导航*/
.nav{width: 100%;height: 52px;position: fixed;bottom: 0;z-index: 2;background: #fff;border-top: 1px solid #fd8841}
.nav>a{width: 25%;text-align: center;height: 50px;display:block;float: left}
.nav>a i{width:22px;height: 19px;margin:8px auto 0}
.nav .nav_name{height: 20px;color:#3e3e3e}
.nav .index i{background: url(../../images/icon.png) -2px -32px}
.nav .index .nav_name{color: #fd8841}
.nav .shoppingcart i{background: url(../../images/icon.png) -47px -79px}
.nav .allproducts i{background: url(../../images/icon.png) -46px -130px}
.nav .myinfo i{background: url(../../images/icon.png) -45px -178px}
