.one-details{
	overflow: hidden;
	margin-bottom: 50px;
	background-color:#F0F0F0;
}
.one-details .ad-box1{
	background-color: #fff;
}
.one-details .ad-box2{
	background-color: #fff;
}
.one-details .pd1-info>ul>li{
	padding-left: 3%;
}
.one-details .pd1-info>ul>li:nth-child(2){
	width: 39%;
}
.one-details .pd1-info>ul>li:nth-child(3){
	width: 27%;
}
.one-details .pd1-info>ul>li:nth-child(3) a{
	color: #FF6600;
}
.one-details-fix{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
}
.one-details-fix .ad1-top{
	width: 100%;
	color: #000;
	border-top: 1px solid #ccc;
}
.one-details-fix .ad1-left{
	background-color: #fff;
	display: block;
}
.one-details-fix .ad1-left p:nth-child(1){
	color: #FF6600;
}
.one-details-fix .ad1-left p:nth-child(2){
	margin-left: 10%;
}
.one-details-fix .ad1-right{
	text-align: left;
	padding-left: 3%;
	display: block;
}
.one-details-fix .ad1-right p:nth-child(1){
	font-size: 12px;
}
.one-details-fix .ad1-right span{
	font-size:16px;
}
.one-details-fix .ad1-bottom{
	width: 100%;
	border-radius:0;
	display: block;
	cursor: pointer;
}
.one-details .pd-box2{
	padding-left: 2%;
}
.one-details .pd-box2 .pd2-left{
	width: 40%;
}
.one-details .pd-box2 i.icon-sp{
	margin-right: 3%;
}
.one-details-fix .ad1-bottom.org{
	background-color:orange;
}
.one-details-fix .ad1-bottom.gra{
	background-color:gray;
}