<div class="eceipt-address center-view" ng-controller="OrderAddressListController">
	<ul>
		<li ng-repeat="address in addresses">
			<div class="eceipt-address-top" ng-click="select(address);">
				<div class="eceipt-address-user fl">{{address.receiver}}</div>
				<div class="eceipt-address-tel fr">{{address.mobile}}</div>
				<div class="cl"></div>
				<div class="eceipt-address-info fl">{{address.provinceName}}{{address.cityName}}{{address.address}}</div>
			</div>
			<div class="eceipt-address-bottom">
				<div class="eceipt-address-set fl" ng-class="{'cur':address.defaulted}" ng-click="defaulted(address);">
					<span class="address-circle fl">
						<i class="icon-right"></i>
					</span>
					<p>设置默认</p>
				</div>
				<div class="eceipt-address-edit fr">
					<a href="#/orders/address/edit.html?id={{address.id}}">
					<i class="icon-bianji"></i>编辑
					</a>
				</div>
				<div class="eceipt-address-del fr" ng-click="deleteaddr(address);">
					<i class="icon-laji"></i>删除
				</div>
			</div>
		</li>
		
	</ul>
	<div class="cl h200"></div>
	<div class="eceipt-address-add">
		<a href="#/orders/address/edit.html">
			添加新地址
		</a>
	</div>
</div>