<div class="no-payment center-view">
	<div class="pay-address">
		<div class="pad-box1">
			<p>收货地址</p>
			<div class="change-but fr">修改</div>
			<div class="cl h10"></div>
			<div class="consignee-info1">
				<p>收货人： 乔佩佩</p>
				<p>18560032060</p>
			</div>
		</div>
		<div class="pad-box2">
			<div class="consignee-info2">
				<p>收货地址 ：山东省-济南市-历下区泉城路世茂国际广场B座1306室</p>
			</div>
		</div>
	</div>
	<div class="cl h10"></div>
	<div class="pay-info">
		<div class="pi-box1">
			<div class="pi1-hd">店铺： 中华阿胶网自营</div>
			<div class="cl h10"></div>
			<div class="pi1-bd">
				<div class="pi1-pic fl">
					<img src="images/no-payment/p1.png" alt=""></div>
				<div class="pi1-info fl">
					<div class="pi1-text">POS机刷卡器 0.38移动pos机 26封顶 无线刷卡机 信用卡收款机 一清</div>
					<div class="pi1-price">
						<p>
							<span class="s1 fl">￥168</span>
						</p>
						<p>x 1</p>
					</div>
				</div>
			</div>
			<div class="cl"></div>
			<div class="pi1-freight">
				<p>运费</p>
				<p>0.00元</p>
			</div>
			<div class="cl"></div>
			<div class="pi1-message">
				<p>留言信息</p>
				<input type="text" class="pim" placeholder="请勿填写有关支付、发票、物流配送等信息。谢谢！"></div>
			<div class="cl"></div>
			<div class="pi1-total">
				<p>
					合计：
					<span class="s2">￥168.00</span>
				</p>
				<p>共计1件商品</p>
			</div>
		</div>
	</div>
	<div class="cl h10"></div>
	<div class="pay-discount">
		<p>优惠</p>
		<p>使用优惠</p>
	</div>
	<div class="cl h10"></div>
	<div class="pay-price">
		<p>￥168.00+￥0.00运费</p>
		<p>需付： ￥168.00</p>
	</div>
	<div class="cl h20"></div>
	<div class="payment-method">
		<div class="pm-box1">微信安全支付</div>
		<div class="cl h13"></div>
		<div class="pm-box2">其他支付方式</div>
	</div>
	<div class="cl h70"></div>
</div>