
    <div class="order_wrap">
        <div class="order_nav over">
            <a ui-sref="order" class="all">全部<i></i></a>
            <a ui-sref="order_nopay" class="non-payment active">待支付<i></i></a>
            <a ui-sref="order_nodeliver" class="unfilled">待发货<i></i></a>
            <a ui-sref="order_delivered" class="delivered">已发货<i></i></a>
            <a ui-sref="order_received" class="Received">已收货<i></i></a>
        </div>
        <section class="order_body">
            <ul>
                <li>
                    <div class="order_pic col-25 fl">
                        <a href="#/product/details.html">
                            <img src="../images/index/product1.png" alt="">
                        </a>              
                    </div>
                    <div class="order_info_wrap col-75 fs12 fl">
                        <div class="order_info_body">
                            <div class="order_title col-75 fl">
                                <a href="#/product/details.html">拉卡拉收款宝手机pos机 信用卡刷 </a>
                            </div>
                            <div class="order_num col-20 fl">×1</div>
                            <div class="order_price col-75 fl">￥228.00
                                <span class="order_freight">(含运费￥0.00)</span>
                            </div>
                            
                        </div>
                    </div>
                    <div class="order_btn fl">
                        <a href="" class="order_pay fs12 fr">支付</a>
                        <button class="order_cancel fs12 fr">取消订单</button>   
                    </div>
                </li>
                <li>
                    <div class="order_pic col-25 fl">
                        <a href="#/product/details.html">
                            <img src="../images/index/product1.png" alt="">
                        </a>              
                    </div>
                    <div class="order_info_wrap col-75 fs12 fl">
                        <div class="order_info_body">
                            <div class="order_title col-75 fl">
                                <a href="#/product/details.html">拉卡拉收款宝手机pos机 信用卡刷 </a>
                            </div>
                            <div class="order_num col-20 fl">×1</div>
                            <div class="order_price col-75 fl">￥228.00
                                <span class="order_freight">(含运费￥0.00)</span>
                            </div>
                            
                        </div>
                    </div>
                    <div class="order_btn fl">
                        <a href="" class="order_pay fs12 fr">支付</a>
                        <button class="order_cancel fs12 fr">取消订单</button>   
                    </div>
                </li>
                <li>
                    <div class="order_pic col-25 fl">
                        <a href="#/product/details.html">
                            <img src="../images/index/product1.png" alt="">
                        </a>              
                    </div>
                    <div class="order_info_wrap col-75 fs12 fl">
                        <div class="order_info_body">
                            <div class="order_title col-75 fl">
                                <a href="#/product/details.html">拉卡拉收款宝手机pos机 信用卡刷 </a>
                            </div>
                            <div class="order_num col-20 fl">×1</div>
                            <div class="order_price col-75 fl">￥228.00
                                <span class="order_freight">(含运费￥0.00)</span>
                            </div>
                            
                        </div>
                    </div>
                    <div class="order_btn fl">
                        <a href="" class="order_pay fs12 fr">支付</a>
                        <button class="order_cancel fs12 fr">取消订单</button>   
                    </div>
                </li>
            </ul>
        </section>
        <section class="merge_pay hide">
            <a href="" class="merge_pay_a fr">合并支付</a>
        </section>
    </div>   

    <nav></nav>