<div class="no-payment center-view" ng-controller="OrderConfirmController">
	<div class="pay-address">
		<div class="pd-box1">
			<p class="fs18 fl">送至</p>
			<div class="change-but fr">
				<a href="#/orders/address/list.html" style="color:#999;">编辑</a>
			</div>
			<div class="cl"></div>
			<div class="consignee-info1 fs18">
				<p class="fl">收货人：{{transaction.receiver}}</p>
				<p class="fr">{{transaction.mobile}}</p>
			</div>
			<div class="cl h10"></div>
			<p style="color:#999;">{{transaction.countryName}}{{transaction.provinceName}}{{transaction.cityName}}{{transaction.address}}</p>
		</div>
	</div>
	<div class="cl h20"></div>
<div ng-repeat="order in transaction.orders">
	<div class="pay-info">
		<div class="pi-box1" ng-repeat="goods in order.goods">
			<div class="pi1-pic fl">
				<img src="{{goods.imgpath}}" alt=""></div>
			<div class="pi1-info fl">
				<div class="pi1-text">{{goods.gname}}</div>
				<div class="pi1-price">
					<p class="fs12 fl">
						￥
						<span class="fs18">{{goods.pprice && goods.pprice>0?goods.pprice:goods.price}}</span>
					</p>
					<p class="fs12 fr" style="color: rgb(153, 153,153);margin-right: 10px;">x {{goods.count}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="pi1-total">
		<p>
			总价：
			<span class="fs12">
				￥
				<span class="fs18">{{finalmoney|number:2}}</span>
			</span>
		</p>
		<p>快递: 
			{{(order.postage && order.postage > 0)? (order.postage|currency:"￥") : "包邮"}}
		</p>
		
	</div>
</div>
	<div class="cl"></div>
	<div class="payment-method">
		<div class="pm-box1-hd">请选择支付方式</div>
		<div class="pm-box1-bd">
			<div class="pm-circle cur fl"> <i class="icon-right"></i>
			</div>
			<div class="wx fl">
				<img src="images/weixin.png" alt=""></div>
			<p class="mt3" style="color:#929292;">微信支付</p>
			<div class="cl"></div>
			<div class="pm-box1">立即支付</div>
		</div>
	</div>
	<div class="cl h70"></div>
</div> 







<!--  <div class="no-payment center-view" ng-controller="OrderConfirmController">
<div class="pay-address" ng-show="transaction.addressid != ''">
	<div class="pad-box1"> <i class="icon-dizhi fl"></i>
		<p>收货地址</p>
		<div class="change-but fr">
			<a href="#/orders/address/list.html">修改</a>
		</div>
		<div class="cl h10"></div>
		<div class="consignee-info1">
			<p>收货人： {{transaction.receiver}}</p>
			<p>{{transaction.mobile}}</p>
		</div>
	</div>
	<div class="cl"></div>
	<div class="pad-box2">
		<div class="consignee-info2">
			<p>
				收货地址 ：{{transaction.countryName}}{{transaction.provinceName}}{{transaction.cityName}}{{transaction.address}}
			</p>
		</div>
	</div>
</div>
<div class="cl h10"></div>
<div class="pay-info" ng-repeat="order in transaction.orders">
	<div class="pi-box1">
		<div class="pi1-hd">店铺： {{order.mname}}</div>
		<div class="cl h10"></div>
		<div class="pi1-bd" ng-repeat="goods in order.goods">
			<div class="pi1-pic fl">
				<img src="images/no-payment/p1.png" alt=""></div>
			<div class="pi1-info fl">
				<div class="pi1-text">{{goods.gname}}</div>
				<div class="pi1-price">
					<p>
						<span class="s1 fl">￥{{goods.price}}</span>
					</p>
					<p>x {{goods.count}}</p>
				</div>
			</div>
		</div>
		<div class="cl"></div>
		<div class="pi1-freight">
			<p>运费</p>
			<p>
				{{(order.postage && order.postage > 0)? (order.postage|currency:"￥") : "包邮"}}
			</p>
		</div>
		<div class="cl"></div>
		<div class="pi1-message">
			<p>留言信息</p>
			<input type="text" class="pim" placeholder="请勿填写有关支付、发票、物流配送等信息。谢谢！"></div>
	</div>
</div>
<div class="cl h10"></div>
<div class="pay-price">
	<p></p>
	<p>需付： ￥{{finalmoney|number:2}}</p>
</div>
<div class="cl h20"></div>
<div class="payment-method">
	<div class="pm-box1" ng-click="submit()">微信安全支付</div>
</div>
<div class="cl h70"></div>
</div>
 -->