
    <div class="wrap clearfix">
        <section class="shoppingcart_products clearfix">
            <ul>
                <li>
                    <div class="product_body">
                        <div class="product_body_main fl">
                            <div class="choose fl">
                            <i></i>
                            </div>
                            <div class="product_pic fl">
                                <a href="#/product-details.html"><img src="../images/shoppingcart/product1.png" alt=""></a>
                            </div>
                            <div class="product_content fl">
                                <div class="p_c_body">
                                    <div class="product_name"><a href="#/product-details.html">拉卡拉收款宝 手机移动pos机刷卡器实时到账 信用卡还款芯片</a></div>
                                    <div class="product_info">官方直营 正品保障 顺丰包邮 滋
        补上品 超值组合全场满99包邮</div>
                                    <div class="price">
                                        <div class="price_body">
                                            <span class="currentprice">￥228</span>
                                            <span class="originalprice">￥328</span>
                                            <span class="num fr">
                                                <i class="reduce fl"></i>
                                                <i class="number fl">1</i>
                                                <i class="add fl"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product_delete fl">删除</div>
                    </div> 
                </li>
                <li>
                    <div class="product_body">
                        <div class="product_body_main fl">
                            <div class="choose fl">
                            <i></i>
                            </div>
                            <div class="product_pic fl">
                                <a href="#/product-details.html"><img src="../images/shoppingcart/product1.png" alt=""></a>
                            </div>
                            <div class="product_content fl">
                                <div class="p_c_body">
                                    <div class="product_name"><a href="#/product-details.html">拉卡拉收款宝 手机移动pos机刷卡器实时到账 信用卡还款芯片</a></div>
                                    <div class="product_info">官方直营 正品保障 顺丰包邮 滋
        补上品 超值组合全场满99包邮</div>
                                    <div class="price">
                                        <div class="price_body">
                                            <span class="currentprice">￥228</span>
                                            <span class="originalprice">￥328</span>
                                            <span class="num fr">
                                                <i class="reduce fl"></i>
                                                <i class="number fl">1</i>
                                                <i class="add fl"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product_delete fl">删除</div>
                    </div> 
                </li><li>
                    <div class="product_body">
                        <div class="product_body_main fl">
                            <div class="choose fl">
                            <i></i>
                            </div>
                            <div class="product_pic fl">
                                <a href="#/product-details.html"><img src="../images/shoppingcart/product1.png" alt=""></a>
                            </div>
                            <div class="product_content fl">
                                <div class="p_c_body">
                                    <div class="product_name"><a href="#/product-details.html">拉卡拉收款宝 手机移动pos机刷卡器实时到账 信用卡还款芯片</a></div>
                                    <div class="product_info">官方直营 正品保障 顺丰包邮 滋
        补上品 超值组合全场满99包邮</div>
                                    <div class="price">
                                        <div class="price_body">
                                            <span class="currentprice">￥228</span>
                                            <span class="originalprice">￥328</span>
                                            <span class="num fr">
                                                <i class="reduce fl"></i>
                                                <i class="number fl">1</i>
                                                <i class="add fl"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product_delete fl">删除</div>
                    </div> 
                </li><li>
                    <div class="product_body">
                        <div class="product_body_main fl">
                            <div class="choose fl">
                            <i></i>
                            </div>
                            <div class="product_pic fl">
                                <a href="#/product-details.html"><img src="../images/shoppingcart/product1.png" alt=""></a>
                            </div>
                            <div class="product_content fl">
                                <div class="p_c_body">
                                    <div class="product_name"><a href="#/product-details.html">拉卡拉收款宝 手机移动pos机刷卡器实时到账 信用卡还款芯片</a></div>
                                    <div class="product_info">官方直营 正品保障 顺丰包邮 滋
        补上品 超值组合全场满99包邮</div>
                                    <div class="price">
                                        <div class="price_body">
                                            <span class="currentprice">￥228</span>
                                            <span class="originalprice">￥328</span>
                                            <span class="num fr">
                                                <i class="reduce fl"></i>
                                                <i class="number fl">1</i>
                                                <i class="add fl"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product_delete fl">删除</div>
                    </div> 
                </li><li>
                    <div class="product_body">
                        <div class="product_body_main fl">
                            <div class="choose fl">
                            <i></i>
                            </div>
                            <div class="product_pic fl">
                                <a href="#/product-details.html"><img src="../images/shoppingcart/product1.png" alt=""></a>
                            </div>
                            <div class="product_content fl">
                                <div class="p_c_body">
                                    <div class="product_name"><a href="#/product-details.html">拉卡拉收款宝 手机移动pos机刷卡器实时到账 信用卡还款芯片</a></div>
                                    <div class="product_info">官方直营 正品保障 顺丰包邮 滋
        补上品 超值组合全场满99包邮</div>
                                    <div class="price">
                                        <div class="price_body">
                                            <span class="currentprice">￥228</span>
                                            <span class="originalprice">￥328</span>
                                            <span class="num fr">
                                                <i class="reduce fl"></i>
                                                <i class="number fl">1</i>
                                                <i class="add fl"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product_delete fl">删除</div>
                    </div> 
                </li>
            </ul>
        </section>
        <section class="settle">
            <div class="check_all fl">
                <i class="fl"></i>
            </div>
            <span class="check_all_word col-10 fl">全选</span>
            <div class="settle_info fl col-45">
                <div class="total">合计：<span>￥456</span></div>
                <div class="carriage">不含运费</div>
            </div>
            <div class="settle_btn fl"><a href="#/orders/confirmation.html">结算（<span class="checknum">0</span>）</a></div>
        </section>
    </div>

    <nav></nav>