<div ng-controller="OrdersDeliveredController">
<input type="hidden" id="pageId" value="delivered"></input>
<ul>
    <div ng-repeat="order in orders">
    <li ng-repeat="goods in order.goods">
        <div class="order-hd1">
            <div class="order-hd1-left fl">{{order.addtime}}</div>
            <div class="order-hd1-right fr fs14">待收货</div>
        </div>
        <div class="cl"></div>
        <div class="order-bd1">
            <div class="order_pic col-30 fl">
                <a href="#/product/details.html">
                    <img src="images/index/product2.png" alt=""></a>
            </div>
            <div class="order_info_wrap col-67 fs12 fl">
                <div class="order_info_body">
                    <div class="order_title col-70 fl">
                        <a href="#/product/details.html">{{goods.gname}}</a>
                    </div>
                    <div class="order-prices col-30 fr">
                        <div class="order_price">
                            ￥
                            <span class="fs14">{{goods.payout}}</span>
                        </div>
                        <div class="cl"></div>
                        <div class="order_num">×{{goods.count}}</div>
                    </div>
                    <div class="cl h10"></div>
                    <div class="order_btn fl">
                        <button class="order_cancel fs12 fr" style="">查看物流</button>
                        <a href="#confirm-receipt.html?id={{order.id}}" class="order_pay fs12 fr">确认收货</a>
                    </div>

                </div>
            </div>
        </div>
    </li>
</div>
</ul>
</div>

<!--     <div ng-controller="OrdersDeliveredController">
<ul  ng-repeat="order in orders" style="margin-bottom:0px;">
    <li ng-repeat="goods in order.goods">
        <div class="order_pic col-25 fl">
            <a href="#/product/details.html">
                <img src="../images/index/product1.png" alt=""></a>
        </div>
        <div class="order_info_wrap col-75 fs12 fl">
            <div class="order_info_body">
                <div class="order_title col-75 fl">
                    <a href="#/product/details.html">{{goods.gname}}</a>
                </div>
                <div class="order_num col-20 fl">×{{goods.count}}</div>
                <div class="order_price col-75 fl">
                    ￥{{goods.payout}}
                    <span class="order_freight">(含运费￥{{goods.postage}})</span>
                </div>

            </div>
        </div>
        <div class="order_btn fl">
            <a href="" class="order_confirm fs12 fr">确认收货</a>
            <button class="order_cancel fs12 fr">查看物流</button>
        </div>
    </li>
</ul>
</div>
-->