<div class="order_wrap" ng-controller="OrdersToPayController">
      <ordersnav></ordersnav>
    <section class="order_body" ui-view>
        <ul>
           <div ng-repeat="order in orders">
    <li ng-repeat="goods in order.goods">
                <div class="order-hd1">
                    <div class="order-hd1-left fl">{{order.addtime}}</div>
                    <div class="order-hd1-right fr fs14">待支付</div>
                </div>
                <div class="cl"></div>
                <div class="order-bd1">
                    <div class="order_pic col-30 fl">
                        <a href="#order-details.html?id={{order.id}}&gid={{goods.gid}}">
                            <img src="{{goods.path}}" alt=""></a>
                    </div>
                    <div class="order_info_wrap col-67 fs12 fl">
                        <div class="order_info_body">
                            <div class="order_title col-70 fl">
                                <a href="#order-details.html?id={{order.id}}&gid={{goods.gid}}">{{goods.gname}}</a>
                            </div>
                            <div class="order-prices col-30 fr">
                                <div class="order_price">
                                    ￥
                                    <span class="fs14">{{goods.payout}}</span>
                                </div>
                                <div class="cl"></div>
                                <div class="order_num">×{{goods.count}}</div>
                            </div>
                            <div class="cl h10"></div>
                            <div class="order_btn fl">
                               <button class="order_cancel fs12 fr" ng-click="deleteOrder(order)">取消订单</button>
                        <a href="" class="order_pay fs12 fr" ng-click="payment(order,goods)">立即支付</a>
                            </div>

                        </div>
                    </div>
                </div>
            </li>
        </div>
        </ul>
    </section>
    <section class="merge_pay hide">
        <a href="" class="merge_pay_a fr">合并支付</a>
    </section>
</div>

<nav></nav>