    <div ng-controller="OrdersDeliveredController">
    <ul  ng-repeat="order in orders" style="margin-bottom:0px;">
                <li ng-repeat="goods in order.goods">
                    <div class="order_pic col-25 fl">
                        <a href="#/product/details.html">
                            <img src="../images/index/product1.png" alt="">
                        </a>
                    </div>
                    <div class="order_info_wrap col-75 fs12 fl">
                        <div class="order_info_body">
                            <div class="order_title col-75 fl">
                                <a href="#/product/details.html">{{goods.gname}} </a>
                            </div>
                            <div class="order_num col-20 fl">×{{goods.count}}</div>
                            <div class="order_price col-75 fl">￥{{goods.payout}}
                                <span class="order_freight">(含运费￥{{goods.postage}})</span>
                            </div>

                        </div>
                    </div>
                    <div class="order_btn fl">
                        <a href="" class="order_confirm fs12 fr">确认收货</a>
                        <button class="order_cancel fs12 fr">查看物流</button>
                    </div>
                </li>
            </ul>
        </div>
        
