
    <div class="order_wrap">
        <div class="order_nav over">
            <a ui-sref="orderhistory.all" class="all" ng-class="{'active': tabname=='all'}">全部<i></i></a>
            <a ui-sref="orderhistory.topay" class="non-payment" ng-class="{'active': tabname=='topay'}">待支付<i></i></a>
            <a ui-sref="orderhistory.paid" class="unfilled" ng-class="{'active': tabname=='paid'}">待发货<i></i></a>
            <a ui-sref="orderhistory.delivered" class="delivered" ng-class="{'active': tabname=='delivered'}">待收货<i></i></a>
            <!-- <a ui-sref="orderhistory.received" class="Received" ng-class="{'active': tabname=='received'}">已收货<i></i></a> -->
        </div>
        <section class="order_body" ui-view>
        </section>
        <section class="merge_pay hide">
            <a href="" class="merge_pay_a fr">合并支付</a>
        </section>
    </div>

    <nav></nav>
