<div class="order_wrap" ng-controller="OrdersAllController">
    <ordersnav></ordersnav>
    <section class="order_body" ui-view>
        <ul>
           <div ng-repeat="order in orders">
            <li ng-repeat="goods in order.goods">
                <div class="order-hd1">
                    <div class="order-hd1-left fl">2016年5月25日 22:00:11</div>
                    <div class="order-hd1-right fr fs14">待支付</div>
                </div>
                <div class="cl"></div>
                <div class="order-bd1">
                    <div class="order_pic col-30 fl">
                        <a href="#order-details.html?id={{order.id}}&gid={{goods.gid}}">
                            <img src="{{goods.imgpath}}" alt=""></a>
                    </div>
                    <div class="order_info_wrap col-67 fs12 fl">
                        <div class="order_info_body">
                            <div class="order_title col-70 fl">
                                <a href="#order-details.html?id={{order.id}}&gid={{goods.gid}}">{{goods.gname}}</a>
                            </div>
                            <div class="order-prices col-30 fr">
                                <div class="order_price">
                                    ￥
                                    <span class="fs14">{{order.payout}}</span>
                                </div>
                                <div class="cl"></div>
                                <div class="order_num">×{{goods.count}}</div>
                            </div>
                            <div class="cl h10"></div>
                            <div class="order_btn fl" ng-show="ispayment(order)">
                        <button class="order_cancel fs12 fr" ng-click="deleteOrder(order,goods)">取消订单</button>
                        <a href="" class="order_pay fs12 fr" ng-click="payment(order,goods)">立即支付</a>
                    </div>
                    <div class="order_btn fl" ng-show="ispaid(order)">
                        <a href="#customer-service.html" class="order_cancel fs12 fr">联系客服</a>
                        <a href="#order-details.html?id={{order.id}}&gid={{goods.gid}}" class="order_pay fs12 fr">查看订单</a>
                    </div>
                     <div class="order_btn fl" ng-show="isdelivered(order)">
                        <button class="order_cancel fs12 fr" ng-click="gologistics(order.id)" style="">查看物流</button>
                        <a href="#confirm-receipt.html?id={{order.id}}" class="order_pay fs12 fr">确认收货</a>
                    </div>
                        </div>
                    </div>
                </div>
            </li>
        </div>
            <!-- <li>
                <div class="order-hd1">
                    <div class="order-hd1-left fl">2016年5月25日 22:00:11</div>
                    <div class="order-hd1-right fr fs14">待收货</div>
                </div>
                <div class="cl"></div>
                <div class="order-bd1">
                    <div class="order_pic col-30 fl">
                        <a href="#/product/details.html">
                            <img src="images/index/product2.png" alt=""></a>
                    </div>
                    <div class="order_info_wrap col-67 fs12 fl">
                        <div class="order_info_body">
                            <div class="order_title col-70 fl">
                                <a href="#/product/details.html">拉卡拉收款宝手机pos机 信用卡刷</a>
                            </div>
                            <div class="order-prices col-30 fr">
                                <div class="order_price">
                                    ￥
                                    <span class="fs14">228.00</span>
                                </div>
                                <div class="cl"></div>
                                <div class="order_num">×1</div>
                            </div>
                            <div class="cl h10"></div>
                            <div class="order_btn fl">
                                <button class="order_cancel fs12 fr" style="">查看物流</button>
                                <a href="" class="order_pay fs12 fr">确认收货</a>
                            </div>

                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="order-hd1">
                    <div class="order-hd1-left fl">2016年5月25日 22:00:11</div>
                    <div class="order-hd1-right fr fs14">待发货</div>
                </div>
                <div class="cl"></div>
                <div class="order-bd1">
                    <div class="order_pic col-30 fl">
                        <a href="#/product/details.html">
                            <img src="images/index/product2.png" alt=""></a>
                    </div>
                    <div class="order_info_wrap col-67 fs12 fl">
                        <div class="order_info_body">
                            <div class="order_title col-70 fl">
                                <a href="#/product/details.html">拉卡拉收款宝手机pos机 信用卡刷</a>
                            </div>
                            <div class="order-prices col-30 fr">
                                <div class="order_price">
                                    ￥
                                    <span class="fs14">228.00</span>
                                </div>
                                <div class="cl"></div>
                                <div class="order_num">×1</div>
                            </div>
                            <div class="cl h10"></div>
                            <div class="order_btn fl">
                                <button class="order_cancel fs12 fr" style="">联系客服</button>
                                <a href="" class="order_pay fs12 fr">查看订单</a>
                            </div>

                        </div>
                    </div>
                </div>
            </li> -->
        </ul>
    </section>
    <section class="merge_pay hide">
        <a href="" class="merge_pay_a fr">合并支付</a>
    </section>
    <div class="blank-tips" ng-show="notshow">
        <i class="icon-index-goumai"></i>
        <p>您还没有相关订单~</p>
    </div>
</div>
<nav></nav>