<div class="order_nav over">
    <a class="all" ui-sref="order-history-all" ui-sref-active="groups-all">
        全部 <i class="all"></i>
    </a>
    <a class="payment" ui-sref="order-history-topay" ui-sref-active="groups-all">
        待支付 <i class="payment"></i>
    </a>
    <a class="paid" ui-sref="order-history-paid" ui-sref-active="groups-all">
        待发货
        <i class="paid"></i>
    </a>
    <a class="delivered" ui-sref="order-history-delivered" ui-sref-active="groups-all">
        待收货
        <i class="delivered"></i>
    </a>
</div>