
    <div class="order_wrap" ng-controller="OrderParentController">
        <div class="order_nav over">
            <a class="all" style="cursor:pointer" ng-click="goall()">全部<i class="all"></i></a>
            <a class="payment" style="cursor:pointer" ng-click="gopayment()">待支付<i class="payment"></i></a>
            <a class="paid" style="cursor:pointer" ng-click="gounfilled()">待发货<i class="paid"></i></a>
            <a class="delivered" style="cursor:pointer" ng-click="godelivered()">待收货<i class="delivered"></i></a>
            <!-- <a ui-sref="orderhistory.received" class="Received" ng-class="{'active': tabname=='received'}">已收货<i></i></a> -->
        </div>
        <section class="order_body" ui-view>
        </section>
        <section class="merge_pay hide">
            <a href="" class="merge_pay_a fr">合并支付</a>
        </section>
    </div>

    <nav></nav>
