<div class="order_wrap" ng-controller="OrdersPaidController">
    <ordersnav></ordersnav>
    <section class="order_body" ui-view>
        <ul>
            <div ng-repeat="order in orders">
    <li ng-repeat="goods in order.goods">
                <div class="order-hd1">
                    <div class="order-hd1-left fl">2016年5月25日 22:00:11</div>
                    <div class="order-hd1-right fr fs14">待发货</div>
                </div>
                <div class="cl"></div>
                <div class="order-bd1">
                    <div class="order_pic col-30 fl">
                        <a href="#order-details.html?id={{order.id}}&gid={{goods.gid}}">
                            <img src="{{goods.imgpath}}" alt=""></a>
                    </div>
                    <div class="order_info_wrap col-67 fs12 fl">
                        <div class="order_info_body">
                            <div class="order_title col-70 fl">
                                <a href="#order-details.html?id={{order.id}}&gid={{goods.gid}}">{{goods.gname}}</a>
                            </div>
                            <div class="order-prices col-30 fr">
                                <div class="order_price">
                                    ￥
                                    <span class="fs14">{{order.payout}}</span>
                                </div>
                                <div class="cl"></div>
                                <div class="order_num">×{{goods.count}}</div>
                            </div>
                            <div class="cl h10"></div>
                            <div class="order_btn fl">
                                <a href="#customer-service.html" class="order_cancel fs12 fr">联系客服</a>
                        <a href="#order-details.html?id={{order.id}}&gid={{goods.gid}}" class="order_pay fs12 fr">查看订单</a>
                            </div>

                        </div>
                    </div>
                </div>
            </li>
        </div>
        </ul>
    </section>
    <section class="merge_pay hide">
        <a href="" class="merge_pay_a fr">合并支付</a>
    </section>
     <div class="blank-tips" ng-show="notshow">
        <i class="icon-index-goumai"></i>
        <p>您还没有相关订单~</p>
    </div>
</div>

<nav></nav>