<div class="auction-rules">
	<div class="auction-rules-hd">竞拍规则详情</div>
	<div class="auction-rules-box1">
		<img src="images/user/p1.png" alt=""></div>
	<div class="cl"></div>
	<div class="auction-rules-hd">保证金流程</div>
	<div class="auction-rules-box2">
		<img src="images/user/p2.png" alt="">
		<div class="auction-rules-text">
			<ul>
				<li>
					<p>O保证金转货款</p>
					<br/>
					<p style="text-indent: 2em;">
						竞拍成功后，买家的竞拍保证金将自动转为拍品货歉的一部分，在竞拍结束后的72小时内，买家只需支付尾款（拍品总货款减去竞拍保证金）。
					</p>
					<br/>
					<p style="text-indent: 2em;">竞拍保证金的转贷款举例：</p>
					<p style="text-indent: 2em;">
						假设拍品的竞拍保证金为1000元，拍品的最终成交价格为3000元，则买家竞拍成功后，竞拍保证金1000元自动转为拍品货款(3000元)的一部分，买家仅须在竞拍结束时起72小时内再支付2000元即可。
					</p>
				</li>
				<li>
					<p>O保证金释放</p>
					<br/>
					<p>1宝贝未竞拍成功（出局），待拍卖结束后，系统会在72小时内释放保证金；</p>
					<br/>
					<p>2竞拍成功后，送拍机构主动关闭交易，系统会在72小时内释放保证金：</p>
					<br/>
					<p>
						3．如您缴纳的拍卖保证金已符合释放条件，但是系统还没有给予释放，您可以联系拍卖会客服400-822-2870，我们收到后会尽快帮您处理。
					</p>
				</li>
				<li>
					<p>O保证金扣除</p>
					<br/>
					<p>1.凡是竞拍成功的买家，在竞拍结束后的72小时内未付款，系统会自动关闭交易，将扣除的保证金用于赔付给送拍机构。</p>
					<br/>
					<p>2．如买家竞拍不买，扣除其参拍时锁定的对应拍品的保证金同等金额且不超过成交价款的资金作为违约金赔付给送拍机构：</p>
					<br/>
					<p>
						3.如困送拍机构原因导致买家不付款，买家可在交易关闭的1 5天内联系拍卖会客服400-8800--8888，逾期保证金申诉不给予受理。
					</p>
				</li>
				<li>
					<p>O服务保障</p>
				</li>
				<li>
					<p>O 送拍机构服务及承诺</p>
					<br/>
					<p>1.送拍机构承诺如实描述拍品</p>
					<br/>
					<p>2．送拍机构成交不卖，则拍品保证金退一赔五（汽车／房产品类退一赔一）作为赔付给竞买成功人；</p>
				</li>
				<li>
					<p>O  拍卖会基础服务</p>
					<br/>
					<p>O如实描述承诺</p>
					<p>送拍机构承诺如实描述，一旦发现描述不符的拍品，买家可在交易成功后指定期限内向拍卖会投诉送拍机构。</p>
					<br/>
					<p>O保证金保障</p>
					<p>送拍机构人驻拍卖会需缴纳较高的经营保证金，买家维权有保障。</p>
					<br/>
					<p>O售后服务保障</p>
					<p>送拍机构承诺提供全面的售后服务，买家在竞拍过程中及竞拍成功后，如遇售中或售后问题，可以要求拍卖会介入。</p>
				</li>
			</ul>
		</div>
	</div>
</div>