<div class="coupons_wrap">
    <div class="nav fs14">
        <div class="fl col-50"><span class="col-60 voucher active">抵用券</span></div>
        <div class="fl col-50"><span class="col-60 p-cash">购物金</span></div>
    </div>
    <div class="coupons_body over">
        <div class="newcoupon">
            <i></i>
            <span class="addvoucher">新增抵用券</span>
        </div>
        <div class="coupons_list">
            <ul>
                <li>
                    <div class="coupon_left col-70 fl">
                        <div class="coupon_name">抵用券</div>
                        <div class="coupon_usetime fs12">使用时间： <span>2016.02.05-2016.03.04</span></div>
                    </div>
                    <div class="coupon_right col-30 fl">
                        <div class="sum">50<span class="fs12">&nbsp;元</span></div>
                        <div class="limit fs12">满299元可用</div>
                        <i></i>
                    </div>
                </li>
                <li class="p-cash">
                    <div class="coupon_left col-70 fl">
                        <div class="coupon_name">购物金</div>
                        <div class="coupon_usetime fs12">使用时间： <span>2016.02.05-2016.03.04</span></div>
                    </div>
                    <div class="coupon_right col-30 fl">
                        <div class="sum">20<span class="fs12">&nbsp;元</span></div>
                        <div class="limit fs12">满299元可用</div>
                        <i></i>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class='curtain hide'></div>
    <div class='addvoucher_body hide'>
        <form action='' name=''>
            <div class='addvoucher_title'>输入充值码</div>
            <i class='close'></i>
            <input type='text' placeholder='请输入充值码' class='voucher_int coupons_int'>
            <a href='' class='instructions fs12 fr'>使用说明</a>
            <input type='submit' class='coupons_int coupons_sub' value="确定">
        </form>
    </div>
</div>
<nav></nav>
<script>
    $('.coupons_body').height($(window).height()-35)
</script>