<div class="customer-service center-view">
		<div class="customer-service-hd">
			<div class="customer-service-title">联系客服（早8:30-晚10:00）</div>
		</div>
		<div class="customer-service-bd" style="border-bottom: 1px solid #E9E9E9;">
			<div class="customer-service-top">
				<div class="customer-service-left fl">
					<div class="customer-service-circle">
						<i class=" icon-me-dh"></i>
					</div>
				</div>
				<div class="customer-service-right fl">
					<p>客服热线 400-000-0000</p>
				</div>
			</div>
		</div>
		<div class="customer-service-hd">
			<div class="customer-service-title">崇仁阿胶微信</div>
		</div>
		<div class="customer-service-bd">
			<div class="customer-service-top">
				<div class="customer-service-left fl">
					<div class="customer-service-img">
						<a href="#">
							<img src="images/user/pic1.png" alt="">
						</a>
					</div>
				</div>
				<div class="customer-service-right fl">
					<p>搜索微信号“崇仁阿胶”，关注【崇仁阿胶】微信公众号，有任何问题可以随时联系我们哦</p>
				</div>
			</div>
			<div class="cl h10"></div>
			<div class="customer-service-bottom">
				<div class="customer-service-bottom-img">
					<img src="images/erweima.png" alt="">
				</div>
			</div>
		</div>
	</div>
<nav></nav>
<script type="text/javascript">
	$(document).ready(function() {
		$(".customer-service").height($(window).height());
	});
</script>