<div class="eceipt-address center-view">
	<ul>
		<li>
			<div class="eceipt-address-top">
				<div class="eceipt-address-user fl">麻婷婷</div>
				<div class="eceipt-address-tel fr">18954195152</div>
				<div class="cl"></div>
				<div class="eceipt-address-info fl">山东省济南市历下区泉城路街道世贸国际广场A座1010室</div>
			</div>
			<div class="eceipt-address-bottom">
				<div class="eceipt-address-set cur fl">
					<p>设置默认</p>
				</div>
				<div class="eceipt-address-edit fr">编辑</div>
				<div class="eceipt-address-del fr">删除</div>
			</div>
		</li>
		<div class="cl h10"></div>
		<li>
			<div class="eceipt-address-top">
				<div class="eceipt-address-user fl">麻婷婷</div>
				<div class="eceipt-address-tel fr">11111111111</div>
				<div class="cl"></div>
				<div class="eceipt-address-info fl">山东省济南市历下区泉城路街道世贸国际广场A座1010室</div>
			</div>
			<div class="eceipt-address-bottom">
				<div class="eceipt-address-set fl">
					<p>设置默认</p>
				</div>
				<div class="eceipt-address-edit fr">编辑</div>
				<div class="eceipt-address-del fr">删除</div>
			</div>
		</li>
		<div class="cl h10"></div>
	</ul>
	<div class="cl h200"></div>
	<div class="eceipt-address-add">
		<a href="#add-address.html">
			添加新地址
		</a>
	</div>
</div>