<div class="erweima center-view">
	<div class="erweima-top">
		<div class="erweima-left fl">
			<div class="erweima-img">
				<a href="#user-info.html">
					<img src="images/user/pic1.png" alt="">
				</a>
			</div>
		</div>
		<div class="erweima-right fl">
			<p>我是小呀小乐谷</p> <i class="icon-women fl"></i>
			<div class="cl"></div>
			<p>中国 山东</p>
		</div>
	</div>
	<div class="cl h20"></div>
	<div class="erweima-bottom">
		<div class="erweima-bottom-img">
			<img src="images/erweima.png" alt="">
		</div>
		<div class="cl h10"></div>
		<p>分享二维码给好友</p>
	</div>
</div>
<nav></nav>
<script type="text/javascript">
	$(document).ready(function() {
		$(".erweima").height($(window).height());
	});
</script>