<div class="logistics-info" ng-controller="LogisticsController">
    <div class="pay-info" style="border-top:none;">
        <div class="pi-box1">
            <div class="pi1-pic fl">
                <img src="images/index/product2.png" alt=""></div>
            <div class="pi1-info fl">
                <div class="pi1-text">
                    <p class="fs16">
                        物流状态
                        <span style="color:#ff473f;">{{order.statusName}}</span>
                    </p>
                    <p>乘运公司：{{order.expressName}}</p>
                    <p>运单编号：{{order.orderno}}</p>
                </div>

            </div>
        </div>
    </div>
    <div class="cl h10" style="background-color: #f0f0f0;"></div>
    <div class="logistics-infos">
        <div class="logistics-info-hd">物流跟踪</div>
        <div class="logistics-info-bd">
            <ul>
                <li class="cur">
                    <div class="logistics-left fl icon-r"></div>
                    <div class="logistics-right fl">
                        <div class="title">{{expressinfo1.content}}</div>
                        <div class="time">&nbsp;{{expressinfo1.time}}</div>
                    </div>
                </li>
                <li ng-repeat="espress in expressinfo2">
                    <div class="logistics-left fl icon-r"></div>
                    <div class="logistics-right fl">
                        <div class="title">{{espress.content}}</div>
                        <div class="time">&nbsp;{{espress.time}}</div>
                    </div>
                </li>
                <!-- <li>
                    <div class="logistics-left fl icon-r"></div>
                    <div class="logistics-right fl">
                        <div class="title">【济南】泺源大街</div>
                        <div class="time">&nbsp;2016-05-01 22 : 07 : 11</div>
                    </div>
                </li>
                <li>
                    <div class="logistics-left fl icon-r"></div>
                    <div class="logistics-right fl">
                        <div class="title">【济南】泺源大街</div>
                        <div class="time">&nbsp;2016-05-01 22 : 07 : 11</div>
                    </div>
                </li>
                <li>
                    <div class="logistics-left fl icon-r"></div>
                    <div class="logistics-right fl">
                        <div class="title">【济南】泺源大街</div>
                        <div class="time">&nbsp;2016-05-01 22 : 07 : 11</div>
                    </div>
                </li> -->
            </ul>
        </div>
    </div>
</div>
<nav></nav>
<script type="text/javascript">
    $(document).ready(function() {
        $(".logistics-info").height($(window).height());
    });
</script>