<div class="login_wrap">
    <section class="choose_title fs14">选择登录方式</section>
    <section class="login_lists cl">
        <div class="wexin">
            <i class="icon-weixin-denglu"></i>
            <h5>微信登录</h5>
        </div>
        <div class="qq">
            <i class="icon-QQ-denglu"></i>
            <h5>QQ登录</h5>
        </div>
        <div class="weibo">
            <i class="icon-weibo-denglu"></i>
            <h5>微博登录</h5>
        </div>
        <div class="mobile">
            <i class="icon-shouji-fenglu"></i>
            <h5>手机登录</h5>
        </div>
    </section>
    <section class="foot">
        <i class="logo"></i><br>
        <img src="../../images/user/slogan.png" class="slogan" alt="">
        <p class="version fs10">版本信息：V1.0.1</p>
    </section>
</div>
<script>
    $('.login_wrap').height($(window).height())
</script>