
    <div class="mycollection_wrap">
        <section class="products clearfix fs12">
            <ul>
                <li>
                    <div class="product_body over">
                        <div class="product_body_main fl">
                            <a href="#/product/details.html">
                                <div class="product_pic col-35 fl">
                                    <img src="../images/shoppingcart/product1.png" alt="">
                                </div>
                            </a>  
                            <div class="product_content fl">
                                <div class="p_c_body">
                                    <a href="#/product/details.html"><div class="product_name fs12">拉卡拉收款宝 手机移动pos机刷卡器实时到账 信用卡还款芯片</div> </a>
                                    <div class="price">
                                        <div class="price_body">
                                            <span class="currentprice fs12">￥228</span>
                                        </div>
                                    </div>
                                    <div class="operation over fs12">
                                        <div class="deselect fl"><i></i>取消收藏</div>
                                        <div class="share fr"><i></i>分享到</div>
                                    </div>
                                </div>
                            </div>
                            <div class="commission_wrap col-20 fl">
                                <div class="commission_body">
                                    <span class="commission_title">佣金</span>
                                    <i></i>
                                    <p class="commission_num">11.40元</p>
                                </div>
                            </div>
                        </div>
                    </div> 
                </li>
                <li>
                    <div class="product_body over">
                        <div class="product_body_main fl">
                            <a href="#/product/details.html">
                                <div class="product_pic col-35 fl">
                                    <img src="../images/shoppingcart/product1.png" alt="">
                                </div>
                            </a>  
                            <div class="product_content fl">
                                <div class="p_c_body">
                                    <a href="#/product/details.html"><div class="product_name fs12">拉卡拉收款宝 手机移动pos机刷卡器实时到账 信用卡还款芯片</div> </a>
                                    <div class="price">
                                        <div class="price_body">
                                            <span class="currentprice fs12">￥228</span>
                                        </div>
                                    </div>
                                    <div class="operation over fs12">
                                        <div class="deselect fl"><i></i>取消收藏</div>
                                        <div class="share fr"><i></i>分享到</div>
                                    </div>
                                </div>
                            </div>
                            <div class="commission_wrap col-20 fl">
                                <div class="commission_body">
                                    <span class="commission_title">佣金</span>
                                    <i></i>
                                    <p class="commission_num">11.40元</p>
                                </div>
                            </div>
                        </div>
                    </div> 
                </li>
                <li>
                    <div class="product_body over">
                        <div class="product_body_main fl">
                            <a href="#/product/details.html">
                                <div class="product_pic col-35 fl">
                                    <img src="../images/shoppingcart/product1.png" alt="">
                                </div>
                            </a>  
                            <div class="product_content fl">
                                <div class="p_c_body">
                                    <a href="#/product/details.html"><div class="product_name fs12">拉卡拉收款宝 手机移动pos机刷卡器实时到账 信用卡还款芯片</div> </a>
                                    <div class="price">
                                        <div class="price_body">
                                            <span class="currentprice fs12">￥228</span>
                                        </div>
                                    </div>
                                    <div class="operation over fs12">
                                        <div class="deselect fl"><i></i>取消收藏</div>
                                        <div class="share fr"><i></i>分享到</div>
                                    </div>
                                </div>
                            </div>
                            <div class="commission_wrap col-20 fl">
                                <div class="commission_body">
                                    <span class="commission_title">佣金</span>
                                    <i></i>
                                    <p class="commission_num">11.40元</p>
                                </div>
                            </div>
                        </div>
                    </div> 
                </li>
                <li>
                    <div class="product_body over">
                        <div class="product_body_main fl">
                            <a href="#/product/details.html">
                                <div class="product_pic col-35 fl">
                                    <img src="../images/shoppingcart/product1.png" alt="">
                                </div>
                            </a>  
                            <div class="product_content fl">
                                <div class="p_c_body">
                                    <a href="#/product/details.html"><div class="product_name fs12">拉卡拉收款宝 手机移动pos机刷卡器实时到账 信用卡还款芯片</div> </a>
                                    <div class="price">
                                        <div class="price_body">
                                            <span class="currentprice fs12">￥228</span>
                                        </div>
                                    </div>
                                    <div class="operation over fs12">
                                        <div class="deselect fl"><i></i>取消收藏</div>
                                        <div class="share fr"><i></i>分享到</div>
                                    </div>
                                </div>
                            </div>
                            <div class="commission_wrap col-20 fl">
                                <div class="commission_body">
                                    <span class="commission_title">佣金</span>
                                    <i></i>
                                    <p class="commission_num">11.40元</p>
                                </div>
                            </div>
                        </div>
                    </div> 
                </li>
                <li>
                    <div class="product_body over">
                        <div class="product_body_main fl">
                            <a href="#/product/details.html">
                                <div class="product_pic col-35 fl">
                                    <img src="../images/shoppingcart/product1.png" alt="">
                                </div>
                            </a>  
                            <div class="product_content fl">
                                <div class="p_c_body">
                                    <a href="#/product/details.html"><div class="product_name fs12">拉卡拉收款宝 手机移动pos机刷卡器实时到账 信用卡还款芯片</div> </a>
                                    <div class="price">
                                        <div class="price_body">
                                            <span class="currentprice fs12">￥228</span>
                                        </div>
                                    </div>
                                    <div class="operation over fs12">
                                        <div class="deselect fl"><i></i>取消收藏</div>
                                        <div class="share fr"><i></i>分享到</div>
                                    </div>
                                </div>
                            </div>
                            <div class="commission_wrap col-20 fl">
                                <div class="commission_body">
                                    <span class="commission_title">佣金</span>
                                    <i></i>
                                    <p class="commission_num">11.40元</p>
                                </div>
                            </div>
                        </div>
                    </div> 
                </li>
            </ul>
        </section>       
    </div>

    <nav></nav>