
    <div class="mycollection_wrap" ng-controller="CollectionController">
        <section class="products clearfix fs12">
            <ul>
                <li ng-repeat="fav in favList">
                    <div class="product_body over">
                        <div class="product_body_main fl">
                            <a href="#/product/details.html?gid={{fav.gid}}">
                                <div class="product_pic col-35 fl">
                                    <img src="{{fav.path}}" alt="">
                                </div>
                            </a>  
                            <div class="product_content col-65 fl">
                                <div class="p_c_body">
                                    <a href="#/product/details.html">
                                    <div class="product_name fs12">{{fav.name}}</div> 
                                    </a>
                                    <div class="price">
                                        <div class="price_body" ng-show="{{fav.sale}}">
                                        <span class="currentprice fs14" >￥{{fav.salePrice}}</span>
                                            <span class="currentprice fs14 del" >￥{{fav.price}}</span>
                                            
                                        </div>
                                        <div class="price_body" ng-show="{{!fav.sale}}">
                                            <span class="currentprice fs14">￥{{fav.price}}</span>
                                        </div>
                                    </div>
                                    <div class="operation over fs12">
                                        <div class="deselect fl" ng-click="cleanCollection(fav.favId)">
                                        <i class="icon-shouchang"></i>取消收藏
                                        </div>
                                        <div class="movetocart fl">
                                        <i class="icon-share"></i>分享到
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </li>
                
            </ul>
        </section>       
    </div>

    <nav></nav>