<div class="myintegral_wrap">
    <div class="integral">
        <div class="title">可用的积分</div>
        <div class="num">290<span class="fs12">&nbsp;分</span></div>
    </div>
    <div class="integral_help_wrap">
        <div class="integral_help">
            <a href="">1.积分怎么使用？</a>
        </div>
        <div class="integral_help">
            <a href="">2.如何获得积分？</a>
        </div>
        <div class="integral_help">
            <a href="">3.积分怎么查看？</a>
        </div>
    </div>
</div>
<nav></nav>
<script>
    $('.myintegral_wrap').height($(window).height()-52)
</script>