<div class="news_wrap" style="margin-bottom:50px;" ng-controller="MyNewController">
    <input type="hidden" id="pageId" value="new"></input>
    <!-- <div ng-repeat="list in newList">
        <div ng-click="updateStatus(list)" style="cursor:pointer">
            <div class={{list.class}}>
                <div class="left fl icon-tuan"></div>
                <div class="right fl">
                    <div class="title fl fs12">{{list.title}}</div>
                    <div class="time fr fs12">{{list.addtime}}</div>
                    <div class="content cl fs10">{{list.content}}</div>
                </div>
            </div>
        </div>
    </div> -->
   
    <div class="newslist" ng-repeat="list in newList" >
        <div class={{list.class}} ng-click="updateStatus(list.id)"></div>
        <div class="right fl" ng-click="updateStatus(list.id)">
            <div class="title fl fs12">{{list.title}}</div>
            <div class="time cl fs10">{{list.addtime}}</div>
        </div>
    </div>
    <div class="gotop">
         <i class="icon-top-index"></i>
    </div>
  <!--  <div class="newslist seen">
        <div class="left fl icon-jingpai"></div>
        <div class="right fl">
            <div class="title fl fs12">恭喜您，已团购成功！</div>
            <div class="time cl fs10">2016-05-01</div>
        </div>
    </div>
    <div class="newslist seen">
        <div class="left fl icon-me-tz"></div>
        <div class="right fl">
            <div class="title fl fs12">恭喜您，已团购成功！</div>
            <div class="time cl fs10">2016-05-01</div>
        </div>
    </div>
    <div class="newslist seen">
        <div class="left fl me-tz"></div>
        <div class="right fl">
            <div class="title fl fs12">非常抱歉，您竞拍的商品已结束！</div>
            <div class="time cl fs10">2016-05-01</div>
        </div>
    </div> -->
</div>
<nav></nav>
<script>
$('.news_wrap').height($(window).height())
</script>