<div class="partner center-view">
	<div class="partner-box1">
		<div class="partner-box1-top">
			<p>
				<span class="b11">20</span>
				元
			</p>
			<p>今日收入</p>
			<p>（含待确认）</p>
		</div>
		<div class="partner-box1-bottom" ui-sref="erweima">分享二维码给好友</div>
		<div class="partnet-box1-poa"> <i class="icon-wenhao"></i>
		</div>
	</div>
	<div class="cl"></div>
	<div class="partner-box2">
		<div class="partner2-left fl">
			<p>
				<span class="b12">20</span>
				元
			</p>
			<p>账户余额（元）</p>
			<p>查看收入明细</p>
		</div>
		<div class="partner2-right fr">立即提现</div>
	</div>
	<div class="cl"></div>
	<div class="partner-box3">
		<ul>
			<li>
				<p>
					<a href="javascript:;">10</a>
					元
				</p>
				<p>待确认金额（元）</p>
			</li>
			<li>
				<p>
					<a href="javascript:;">20</a>
					元
				</p>
				<p>累计收入（元）</p>
			</li>
			<li>
				<p>
					<a href="javascript:;">20</a>
					元
				</p>
				<p>正在体现（元）</p>
			</li>
		</ul>
	</div>
	<div class="cl h10"></div>
	<div class="partner-box4">
		<div class="partner4-hd">我的好友</div>
		<div class="partner4-bd">
			<ul>
				<li >
					<div class="partner4-bd-top">
						<p>
							一级好友
							<a href="#">(20人)</a>
						</p> <i class="icon-arrow fr"></i>
						<i class="icon-arrow-12 fr"></i>
					</div>
					<div class="partner4-bd-bottom">
						<ul>
							<li>
								<ul>
									<li>小苹果</li>
									<li>5.00元</li>
									<li>2016-04-25</li>
								</ul>
							</li>
							<li>
								<ul>
									<li>小苹果</li>
									<li>5.00元</li>
									<li>2016-04-25</li>
								</ul>
							</li>
						</ul>
					</div>
				</li>
				<li>
					<div class="partner4-bd-top">
						<p>
							二级好友
							<a href="#">(20人)</a>
						</p>
						<i class="icon-arrow fr"></i>
						<i class="icon-arrow-12 fr"></i>
					</div>
					<div class="partner4-bd-bottom">
						<ul>
							<li>
								<ul>
									<li>小苹果</li>
									<li>5.00元</li>
									<li>2016-04-25</li>
								</ul>
							</li>
							<li>
								<ul>
									<li>小苹果</li>
									<li>5.00元</li>
									<li>2016-04-25</li>
								</ul>
							</li>
						</ul>
					</div>
				</li>
				<li>
					<div class="partner4-bd-top">
						<p>
							三级好友
							<a href="#">(20人)</a>
						</p>
						<i class="icon-arrow fr"></i>
						<i class="icon-arrow-12 fr"></i>
					</div>
					<div class="partner4-bd-bottom">
						<ul>
							<li>
								<ul>
									<li>小苹果</li>
									<li>5.00元</li>
									<li>2016-04-25</li>
								</ul>
							</li>
							<li>
								<ul>
									<li>小苹果</li>
									<li>5.00元</li>
									<li>2016-04-25</li>
								</ul>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<nav></nav>
<script type="text/javascript">
	$(document).ready(function() {
		$(".partner").height($(window).height());
	});
</script>