<div class="partner-help_wrap">
    <div class="help_list">
        <div class="help_list_body col-95">
            <i class="circle fl"></i>
            <div class="help_title fs12 fl">什么是合伙人？</div>
            <i class="icon-arrow fr"></i>
            <div class="help_content fs10 hide cl">经营者销售或者购买商品，可以以明示方式给中间人佣金。经营者给中间人佣金的，必须如实入账；中间人接收佣金的，必须如实入账</div>
        </div> 
    </div>
    <div class="help_list">
        <div class="help_list_body col-95">
            <i class="circle fl"></i>
            <div class="help_title fs12 fl">如何成为合伙人？</div>
            <i class="icon-arrow fr"></i>
            <div class="help_content fs10 hide cl">经营者销售或者购买商品，可以以明示方式给中间人佣金。经营者给中间人佣金的，必须如实入账；中间人接收佣金的，必须如实入账</div>
        </div> 
    </div>
    <div class="help_list">
        <div class="help_list_body col-95">
            <i class="circle fl"></i>
            <div class="help_title fs12 fl">合伙人是如何赚取佣金的？</div>
            <i class="icon-arrow fr"></i>
            <div class="help_content fs10 hide cl">经营者销售或者购买商品，可以以明示方式给中间人佣金。经营者给中间人佣金的，必须如实入账；中间人接收佣金的，必须如实入账</div>
        </div> 
    </div>
</div>
<nav></nav>
<script>
    $('.partner-help_wrap').height($(window).height());
    $('.nav .myinfo').addClass('nav_myinfo_active');
    console.log($('.nav').height())
</script>