<div class="user-set center-view">
	<div class="user-set-pic">
		<div class="user-set-img">
			<img src="../../images/user/pic1.png" alt="">
			<div class="user-set-camera"></div>
		</div>
	</div>
	<div class="cl h20"></div>
	<div class="user-set-name">我是小呀小乐谷</div>
	<div class="cl h16"></div>
	<div class="user-set-infos">
		<ul>
			<li>
				生日
				<select class="user-set-sel1 fr" name="" id="">
					<option value="">1990</option>
					<option value="">1991</option>
					<option value="">1992</option>
					<option value="">1993</option>
					<option value="">1994</option>
				</select>
			</li>
			<li>
				地区
				<select class="user-set-sel2 fr" name="" id="">
					<option value="">北京</option>
					<option value="">上海</option>
					<option value="">广州</option>
					<option value="">哈尔滨</option>
					<option value="">青岛</option>
				</select>
			</li>
			<li>
				性别
				<div class="user-set-sex fr">
					<div class="user-set-mans fr">女</div>
					<div class="user-set-mans cur fr">男</div>
				</div>
			</li>
			<li>职业</li>
		</ul>
	</div>
	<div class="cl h200"></div>
	<div class="user-set-confirm">确定</div>
</div>