<div class="user-info center-view">
	<div class="user-info-pic">
		<div class="user-info-img">
			<img src="../../images/user/pic1.png" alt="">
			<a href="">
				<div class="user-info-camera" data-target="#modify-avatar-dialog" data-toggle="modal">
					<i class="icon-camera"></i>
				</div>
			</a>
		</div>
	</div>
	<div class="cl h20"></div>
	<div class="user-info-name">我是小呀小乐谷</div>
	<div class="cl h16"></div>
	<div class="user-info-infos">
		<ul>
			<li>
				生日
				<select class="user-info-sel1 fr" name="" id="">
					<option value="">1990</option>
					<option value="">1991</option>
					<option value="">1992</option>
					<option value="">1993</option>
					<option value="">1994</option>
					<option value="">1995</option>
					<option value="">1996</option>
					<option value="">1997</option>
					<option value="">1998</option>
					<option value="">1999</option>
					<option value="">2000</option>
				</select>
				<div class="add-address-icons">
					<i class="icon-xiala"></i>
				</div>
			</li>
			<li>
				地区
				<select class="user-info-sel2 fr" name="" id="">
					<option value="">北京</option>
					<option value="">上海</option>
					<option value="">广州</option>
					<option value="">哈尔滨</option>
					<option value="">青岛</option>
				</select>
				<div class="add-address-icons">
					<i class="icon-xiala"></i>
				</div>
			</li>
			<li>
				性别
				<div class="user-info-sex fr">
					<div class="user-info-mans fr">女</div>
					<div class="user-info-mans cur fr">男</div>
				</div>
			</li>
			<li>
				职业
				<select class="user-info-sel2 fr" name="" id="">
					<option value="">学生</option>
					<option value="">学生</option>
					<option value="">学生</option>
					<option value="">学生</option>
					<option value="">学生</option>
				</select>
				<div class="add-address-icons">
					<i class="icon-xiala"></i>
				</div>
			</li>
		</ul>
	</div>
	<div class="cl h40"></div>
	<div class="user-info-confirm">确定</div>
	<modify-avatar-dialog id='modify-avatar-dialog'></modify-avatar-dialog>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$(".user-info").height($(window).height());
	});
</script>