
<div class="user center-view">
	<div class="user-box1">
		<div class="user1-info">
			<div class="left1">
				<a href="#user-info.html">
					<img src="images/user/pic1.png" alt="">
				</a>
			</div>
			<div class="right1">
				<p>我是小呀小乐谷</p>
			</div>
			<div class="user1-poa">
				<i class="icon-ling-xiaoxi" style="margin-right: 5px;"></i>
				<i class="icon-me-sz"></i>
			</div>
		</div>
	</div>
	<div class="cl"></div>
	<div class="user-box3-top">
		<ul>
			<li>
				<a ui-sref="orderhistory.all">
					<div class="user3-left fl">购买记录</div>
					<div class="user3-right fr">
						<i class="icon-arrow"></i>
					</div>
				</a>
			</li>
		</ul>
	 </div>
	 <div class="cl h10"></div>
	<div class="user-box2">
		<ul>
			<li>
				<a ui-sref="orderhistory.all">
					<div class="user2-top">
						<i class="icon-me-qb"></i>
					</div>
					<div class="user2-bottom">全部</div>
				</a>
			</li>
			<li>
				<a ui-sref="orderhistory.topay">
					<div class="user2-top">
						<i class="icon-ME"></i>
					</div>
					<div class="user2-bottom">待支付</div>
				</a>
			</li>
			<li>
				<a ui-sref="orderhistory.paid">
					<div class="user2-top">
						<i class="icon-zb"></i>
					</div>
					<div class="user2-bottom">待发货</div>
				</a>
			</li>
			<li>
				<a ui-sref="orderhistory.delivered">
					<div class="user2-top">
						<i class="icon-logistics"></i>
					</div>
					<div class="user2-bottom">待收货</div>
				</a>
			</li>
		</ul>
	</div>
	<div class="user-box3">
	 		
	 		<div class="cl h10"></div>
	 		<div class="user-box3-bottom">
	 			<ul>
	 				<li>
	 					<a href="#">
		 					<div class="user3-top">
		 						<i class="icon-me-pt"></i>
		 					</div>
		 					<div class="user3-bottom">拼团订单</div>
	 					</a>
	 				</li>
	 				<li>
	 					<a href="#index/auction.html">
		 					<div class="user3-top">
		 						<i class="icon-jingpai-me"></i>
		 					</div>
		 					<div class="user3-bottom">我的竞拍</div>
	 					</a>
	 				</li>
	 				<li>
	 					<a href="#/user/address/list.html">
		 					<div class="user3-top">
		 						<i class="icon-me"></i>
		 					</div>
		 					<div class="user3-bottom">收货地址</div>
	 					</a>
	 				</li>
	 				<li>
	 					<a href="#mycollection.html">
		 					<div class="user3-top">
		 						<i class="icon-shouchang"></i>
		 					</div>
		 					<div class="user3-bottom">收藏夹</div>
	 					</a>
	 				</li>
	 				<li>
	 					<a href="">
		 					<div class="user3-top">
		 						<i class="icon-me-kf"></i>
		 					</div>
		 					<div class="user3-bottom">售后服务</div>
	 					</a>
	 				</li>
	 				<li>
	 					<a href="">
		 					<div class="user3-top" style="color: #fff;background-color:#ff473f;border-radius:13px;">
		 						<i class="icon-wenhao" style="color: #fff;font-size:16px;"></i>
		 					</div>
		 					<div class="user3-bottom">常见问题</div>
	 					</a>
	 				</li>
	 			</ul>
	 		</div>
	 	</div>
</div>
<nav></nav>
<script type="text/javascript">
	$(document).ready(function() {
		$(".user").height($(window).height());
	});
</script>
