<div class="user-info center-view">
	<div class="user-info-pic">
		<div class="user-info-img">
			<img src="../../images/user/pic1.png" alt="">
			<a href="#modify-avatar-dialog.html"><div class="user-info-camera"></div></a>
		</div>
	</div>
	<div class="cl h20"></div>
	<div class="user-info-name">我是小呀小乐谷</div>
	<div class="cl h16"></div>
	<div class="user-info-infos">
		<ul>
			<li>
				生日
				<select class="user-info-sel1 fr" name="" id="">
					<option value="">1990</option>
					<option value="">1991</option>
					<option value="">1992</option>
					<option value="">1993</option>
					<option value="">1994</option>
				</select>
			</li>
			<li>
				地区
				<select class="user-info-sel2 fr" name="" id="">
					<option value="">北京</option>
					<option value="">上海</option>
					<option value="">广州</option>
					<option value="">哈尔滨</option>
					<option value="">青岛</option>
				</select>
			</li>
			<li>
				性别
				<div class="user-info-sex fr">
					<div class="user-info-mans fr">女</div>
					<div class="user-info-mans cur fr">男</div>
				</div>
			</li>
			<li>
				职业
				<select class="user-info-sel2 fr" name="" id="">
					<option value="">学生</option>
					<option value="">学生</option>
					<option value="">学生</option>
					<option value="">学生</option>
					<option value="">学生</option>
				</select>
			</li>
		</ul>
	</div>
	<div class="cl h200"></div>
	<div class="user-info-confirm">确定</div>
</div>