<ul ng-controller="CouponDiscountController">
    <li class="voucher_li" ng-repeat="c in discountcoupons">
        <div class="coupon_left col-70 fl">
            <div class="coupon_name">抵用券</div>
            <div class="coupon_usetime fs12">使用时间： <span>{{c.discountCoupon.start | date:'yyyy-MM-dd'}}-{{c.discountCoupon.end | date:'yyyy-MM-dd'}}</span></div>
        </div>
        <div class="coupon_right col-30 fl">
            <div class="sum">{{c.discountCoupon.value}}<span class="fs12">&nbsp;元</span></div>
            <div class="limit fs12">满{{c.discountCoupon.threshhold}}元可用</div>
            <i></i>
        </div>
    </li>
</ul>
