<ul ng-controller="CouponCashController">
    <li class="p-cash_li" ng-repeat="c in cashcoupons">
        <div class="coupon_left col-70 fl">
            <div class="coupon_name">购物金</div>
            <div class="coupon_usetime fs12">使用时间： <span>2016.02.05-2016.03.04</span></div>
        </div>
        <div class="coupon_right col-30 fl">
            <div class="sum">20<span class="fs12">&nbsp;元</span></div>
            <div class="limit fs12">满299元可用</div>
            <i></i>
        </div>
    </li>
</ul>
