<div class="coupons_wrap" ng-controller="CouponParentController">
    <div class="nav fs14">
        <div class="fl col-50"><span class="col-60 voucher active">抵用券</span></div>
        <div class="fl col-50"><span class="col-60 p-cash ">购物金</span></div>
    </div>
    <div class="coupons_body over">
        <div class="newcoupon">
            <i class="icon-jia"></i>
            <span class="addvoucher">新增抵用券</span>
        </div>
        <div class="coupons_list" ui-view>

        </div>
    </div>
    <div class='curtain hide'></div>
    <div class='addvoucher_body hide'>
        <form action='' name=''>
            <div class='addvoucher_title'>输入充值码</div>
            <i class='close icon-close'></i>
            <input type='text' placeholder='请输入充值码' class='voucher_int coupons_int'>
            <a href='' class='instructions fs12 fr'>使用说明</a>
            <input type='submit' class='coupons_int coupons_sub' value="确定">
        </form>
    </div>
</div>
<nav></nav>
<script>
    $('.coupons_body').height($(window).height()-35)
</script>
