<ul ng-controller="CouponCashController">
    <li class="p-cash_li" ng-repeat="c in cashcoupons">
        <div class="coupon_left col-70 fl">
            <div class="coupon_name">购物金</div>
            <div class="coupon_usetime fs12">使用时间： <span>{{c.cashCoupon.start | date:'yyyy-MM-dd'}}-{{c.cashCoupon.end | date:'yyyy-MM-dd'}}</span></div>
        </div>
        <div class="coupon_right col-30 fl">
            <div class="sum">{{c.cashCoupon.value}}<span class="fs12">&nbsp;元</span></div>
            <div class="limit fs12">满{{c.cashCoupon.threshhold}}元可用</div>
            <i></i>
        </div>
    </li>
</ul>
