.eceipt-address{
	overflow: hidden;
	background-color:#F0F0F0;
	min-height: 500px;
	margin-top:40px;
	margin-bottom:52px;
}
.eceipt-address>ul>li{
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 5px;
	background-color: #fff;
	overflow: hidden;
}
.eceipt-address-top{
	height: 90px;
	border-bottom: 1px solid #BEBEBE;
	padding-left: 4%;
	padding-right: 4%;
}
.eceipt-address-user{
	height: 33px;
	line-height: 33px;
	font-size: 15px;
}
.eceipt-address-tel{
	height: 33px;
	font-size: 16px;
	line-height: 33px;
}
.eceipt-address-info{
	height: 20px;
	line-height: 20px;
	font-size: 14px;
}
.eceipt-address-bottom{
	height: 30px;
	line-height: 30px;
	padding-left: 12%;
	padding-right: 4%;
	font-size: 12px;
}
.eceipt-address-set{
	position: relative;
	cursor: pointer;
}
.eceipt-address-set p::before{
	content: "";
	position: absolute;
	top:7px;
	left:-50%;
	width: 15px;
	height: 15px;
	background: url(../../images/icon.png) no-repeat -252px -125px;
}
.eceipt-address-set.cur p::before{
	background-position:  -224px -125px;
}
.eceipt-address-edit{
	position: relative;
	margin-left: 15%;
	cursor: pointer; 
}
.eceipt-address-edit::before{
	content: "";
	position: absolute;
	top:7px;
	left:-70%;
	width: 14px;
	height: 15px;
	background: url(../../images/icon.png) no-repeat -254px -85px;
}
.eceipt-address-del{
	cursor: pointer;
	position: relative;
}
.eceipt-address-del::before{
	content: "";
	position: absolute;
	top:7px;
	left:-70%;
	width: 13px;
	height: 14px;
	background: url(../../images/icon.png) no-repeat -226px -86px;
}
.eceipt-address-add{
	height: 40px;
	background-color:#FD8842;
	color: #fff;
	line-height: 40px;
	text-align: center;
	font-size: 12px;
	cursor: pointer;
}