.user{
	overflow: hidden;
	background-color:#F6F6F6;
	font-size: 14px;
}
.user-box1{
	overflow: hidden;
	width: 100%;
	height: 100%;
	padding: 10%;
	background: url(../../images/user/bg1.png) no-repeat;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
}
.user1-info{
	overflow: hidden;
}
.left1{
	width: 37%;
	height:100%;
	margin-right: 5%;
}
.left1 img{
	width: 80%;
	height:80%;
	border-radius: 80px;
	border: 2px solid #fff;
}
.right1{
	width: 58%;
	overflow: hidden;
	padding-top: 36px;
	position: relative;
	padding-right: 7%;
}
.right1 p:nth-child(2){
	float: right;
	color: #FD8843;
	margin-top: 20px;
	cursor: pointer;
}
.right1 p:nth-child(2)::after{
	content: "";
	position: absolute;
	top:79px;
	right: 8px;
	width:7px;
	height:15px;
	background-color: #fff;
	background: url(../../images/icon.png) no-repeat -134px -177px;
}
.user-box2{
	padding-top: 15px;
	padding-bottom: 10px;
	padding-left: 2%;
	padding-right: 3%;
	overflow: hidden;
	background-color: #fff;
}
.user-box2>ul>li{
	float: left;
	width: 16%;
	height:44px;
	margin-right: 5%;
}
.user-box2>ul>li:last-child{
	margin-right: 0;
}
.user-box2>ul>li .user2-top{
	padding-left: 27%;
	height: 22px;
	margin-bottom: 5px;
}
.user-box2>ul>li .user2-top .user2-icon{
	width: 22px;
	height: 22px;
	background: url(../../images/icon.png) no-repeat -3px -212px;
}
.user-box2>ul>li:nth-child(2) .user2-top .user2-icon{
	background-position: -49px -212px;
}
.user-box2>ul>li:nth-child(3) .user2-top .user2-icon{
	background-position: -97px -212px;
}
.user-box2>ul>li:nth-child(4) .user2-top .user2-icon{
	background-position: -147px -212px;
}
.user-box2>ul>li:nth-child(5) .user2-top .user2-icon{
	background-position: -191px -212px;
}
.user2-bottom{
	height: 20px;
	text-align: center;
	line-height: 20px;
	color: #3E3E3E;
}
.user-box3{
	width: 100%;
	overflow: hidden;
}
.user-box3>ul>li{
	width: 100%;
	background-color: #fff;
	height: 60px;
	line-height: 60px;
	margin-bottom: 10px;
	padding-left: 2%;
	padding-right: 2%;
}
.user-box3>ul>li.cur .user3-left{
	color: #FE8840;
}
.user3-left{
	color: #3E3E3E;
}
.user3-right{
	position: relative;
}
.user3-icon{
	position: absolute;
	top:22px;
	right: 0;
	width: 7px;
	height: 15px;
	background: url(../../images/icon.png) no-repeat -101px -177px;
}