.user{
	overflow: hidden;
	background-color:#F6F6F6;
	font-size: 14px;
	margin-bottom:52px;
}
.user1-poa{
	position: absolute;
	top:12px;
	right: 20px;
}
.user1-poa i{
	color: #fff;
	font-size: 16px;
}
.user-box1{
	overflow: hidden;
	width: 100%;
	height:140px;
	background-color:#ff473f;
}
.user1-info{
	overflow: hidden;
	padding-top: 15px;
}
.left1{
	width:32%;
	height:100%;
	margin: 0 auto;
}
.left1 img{
	width: 80%;
	height:80%;
	border-radius: 80px;
	border: 2px solid #fff;
}
.right1{
	text-align: center;
	overflow: hidden;
	padding-top:10px;
	color: #fff;
}
.user3-right i.icon-arrow{
	font-size: 20px;
    color: #000;
}
.user-box2{
	padding-top: 15px;
	padding-bottom: 10px;
	padding-left: 2%;
	padding-right: 3%;
	overflow: hidden;
	background-color: #fff;
	border-bottom: 1px solid #E9E9E9;
}
.user-box2>ul>li{
	float: left;
	width: 25%;
	height:44px;
	text-align: center;
}
.user-box2>ul>li a{
	display: block;
}
.user-box2>ul>li:last-child{
	margin-right: 0;
}
.user-box2>ul>li .user2-top{
	width: 26px;
    height: 26px;
    background-color:#808080;
    border-radius: 13px;
    line-height: 26px;
    text-align: center;
    margin: 0 auto;
}
.user-box2>ul>li .user2-top i{
	line-height: 26px;
	text-align: center;
}
/*.user-box2>ul>li:nth-child(2) .user2-top{
	background-color:#21DBB2;
}
.user-box2>ul>li:nth-child(3) .user2-top{
	background-color:#EDA406;
}
.user-box2>ul>li:nth-child(4) .user2-top{
	background-color:#43C7FE;
}
.user-box2>ul>li:nth-child(5) .user2-top{
	background-color:#FB83FF;
}*/
.user2-bottom{
	height: 20px;
	text-align: center;
	line-height: 20px;
	color: #3E3E3E;
}
.user-box3{
	width: 100%;
	overflow: hidden;
}
.user-box3>ul a{
	display: block;
}
.user-box3-top>ul>li{
	width: 100%;
	background-color: #fff;
	height: 60px;
	line-height: 60px;
	padding-left: 2%;
	padding-right: 2%;
}
.user-box3-top>ul>li a{
	display: block;
	height: 60px;
}
.user-box3-top>ul>li.cur .user3-left{
	color: #FE8840;
}
.user3-left{
	color: #3E3E3E;
}
.user3-right{
	position: relative;
}
.user-box3-bottom{
	width: 100%;
	overflow: hidden;
	background-color: #fff;
}
.user-box3-bottom>ul>li{
	float: left;
	width:33.3%;
	height: 100px;
	text-align: center;
	border-right: 1px solid #E9E9E9; 
	border-bottom: 1px solid #E9E9E9; 
	padding-top: 20px;
} 
.user-box3-bottom>ul>li:nth-child(3n){
	border-right: none;
} 
.user-box3-bottom>ul>li a{
	display: block;
}
.user3-top{
	width: 26px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 10px;
	/*color: #ff473f;*/
}
.user3-top i{
	color: #ff473f;
    font-size: 26px;
}
/*.user-box3-bottom>ul>li:nth-child(3) i{    
	color: #21DBB2;
}
.user-box3-bottom>ul>li:nth-child(4) i{    
	color: #21DBB2;
}
.user-box3-bottom>ul>li:nth-child(5) i{
	color: #FC605A;
}
.user-box3-bottom>ul>li:nth-child(6) i{
	color: #FC605A;
}
.user-box3-bottom>ul>li:nth-child(7) i{
	color: #03A8ED;
}
.user-box3-bottom>ul>li:nth-child(8) i{
	color: #03A8ED;
}*/
.user3-bottom{
	height: 20px;
	text-align: center;
	line-height: 20px;
	color: #3E3E3E;
}
.user-box3-bottom{
	color: #000;
}