.user-info{
	overflow: hidden;
	padding-left: 5%;
	padding-right: 5%;
	background: #fff;
}
.user-info-pic{
	height: 120px;
	padding-top: 23px;
}
.user-info-img{
	width: 33%;
	margin-left: 33%;
	position: relative;
	overflow: hidden;
}
.user-info-img img{
	width: 100%;
	border-radius: 100px;
	border: 3px solid #BEBEBE;
}
.user-info-camera{
	position: absolute;
	bottom:5px;
	right: 0;
	width: 22px;
	height: 22px;
	border-radius: 11px;
	cursor: pointer;
	background-color:#40D071;
	line-height: 25px;
	text-align: center;
}
.user-info-camera i.icon-camera{
	color:#fff;
	font-size: 18px;
}
.user-info-name{
	font-size: 14px;
	color: #282737;
	padding-left: 8%;
}
.user-info-infos{
	overflow: hidden;
	font-size:14px;
}
.user-info-infos>ul>li{
	height: 50px;
	line-height: 50px;
	border-top: 1px solid #BEBEBE;
	padding-left: 8%;
	position: relative;
}
.user-info-infos>ul>li select{
	display: none;
}
.user-info-infos>ul>li.cur select{
	display: block;
}
.user-info-infos>ul>li:last-child{
	border-bottom: 1px solid #BEBEBE;
}
.user-info-sex{
	height: 50px;
	width: 60%;
	padding-top: 10px;
}
.user-info-mans{
	height: 30px;
	width: 35%;
	border: 1px solid #bebebe;
	border-radius: 100px;
	line-height: 30px;
	text-align: center;
	color: #454452;
	margin-left: 10%;
	cursor: pointer;
}
.user-info-mans.cur{
	color: #fff;
	background-color:#40D071;
	border: none;
	line-height: 30px;
}
.user-info-confirm{
	position: fixed;
	bottom: 20px;
	width: 90%;
	height: 40px;
	background-color:#FD8842;
	color: #fff;
	border-radius: 4px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
}
.user-info-sel1,.user-info-sel2{
	margin-top: 5px;
    width: 48%;
    height: 40px;
}
.add-address-icons{
	position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
}
.add-address-icons i.icon-xiala{
	font-size: 32px;
	color: #ccc;
}

/********user-set*****/
.user-set{
	font-size: 16px;
	background-color:#F0F0F0;
}
.user-set-top{
	background-color: #fff;
	overflow: hidden;
	padding-left: 6%;
	padding-right: 6%; 
}
.user-set-pic{
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	line-height: 73px;
	padding: 15px 3% 12px 3%;
}
.user-set-pic .user-set-img{
	width: 73px;
	height: 73px;
	border-radius: 40px;
}
.user-set-pic .user-set-img img{
	width: 100%;
	border-radius: 100px;
}
.user-set-bottom{
	padding-left: 3%;
	padding-right: 3%;
}
.user-set-but{
	height: 40px;
	background-color:#ff473f;
	color: #fff;
	border-radius: 4px;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
}
.user-set-name{
	padding-left: 3%;
	padding-right: 3%;
	overflow: hidden;
	padding-top: 24px;
	padding-bottom: 22px;
}