<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <title>我的收藏</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/products/mycollection.css">
</head>
<body>
    <div class="mycollection_wrap">
        <section class="products clearfix">
            <ul>
                <li>
                    <div class="product_body">
                        <div class="product_body_main fl">
                            <div class="product_pic col-35 fl">
                                <img src="../images/shoppingcart/product1.png" alt="">
                            </div>
                            <div class="product_content fl">
                                <div class="p_c_body">
                                    <div class="product_name fs12">拉卡拉收款宝 手机移动pos机刷卡器实时到账 信用卡还款芯片</div> 
                                    <div class="price">
                                        <div class="price_body">
                                            <span class="currentprice fs12">￥228</span>
                                        </div>
                                    </div>
                                    <div class="operation over fs12">
                                        <div class="deselect fl"><i></i>取消收藏</div>
                                        <div class="share fr"><i></i>分享到</div>
                                    </div>
                                </div>
                            </div>
                            <div class="commission_wrap col-20 fl">
                                <div class="commission_body">
                                    <span class="commission_title">佣金</span>
                                    <i></i>
                                    <p class="commission_num">11.40元</p>
                                </div>
                            </div>
                        </div>
                    </div> 
                </li>
                <li>
                    <div class="product_body">
                        <div class="product_body_main fl">
                            <div class="product_pic col-35 fl">
                                <img src="../images/shoppingcart/product1.png" alt="">
                            </div>
                            <div class="product_content fl">
                                <div class="p_c_body">
                                    <div class="product_name fs12">拉卡拉收款宝 手机移动pos机刷卡器实时到账 信用卡还款芯片</div> 
                                    <div class="price">
                                        <div class="price_body">
                                            <span class="currentprice fs12">￥228</span>
                                        </div>
                                    </div>
                                    <div class="operation over fs12">
                                        <div class="deselect fl"><i></i>取消收藏</div>
                                        <div class="share fr"><i></i>分享到</div>
                                    </div>
                                </div>
                            </div>
                            <div class="commission_wrap col-20 fl">
                                <div class="commission_body">
                                    <span class="commission_title">佣金</span>
                                    <i></i>
                                    <p class="commission_num">11.40元</p>
                                </div>
                            </div>
                        </div>
                    </div> 
                </li>
                <li>
                    <div class="product_body">
                        <div class="product_body_main fl">
                            <div class="product_pic col-35 fl">
                                <img src="../images/shoppingcart/product1.png" alt="">
                            </div>
                            <div class="product_content fl">
                                <div class="p_c_body">
                                    <div class="product_name fs12">拉卡拉收款宝 手机移动pos机刷卡器实时到账 信用卡还款芯片</div> 
                                    <div class="price">
                                        <div class="price_body">
                                            <span class="currentprice fs12">￥228</span>
                                        </div>
                                    </div>
                                    <div class="operation over fs12">
                                        <div class="deselect fl"><i></i>取消收藏</div>
                                        <div class="share fr"><i></i>分享到</div>
                                    </div>
                                </div>
                            </div>
                            <div class="commission_wrap col-20 fl">
                                <div class="commission_body">
                                    <span class="commission_title">佣金</span>
                                    <i></i>
                                    <p class="commission_num">11.40元</p>
                                </div>
                            </div>
                        </div>
                    </div> 
                </li>
                <li>
                    <div class="product_body">
                        <div class="product_body_main fl">
                            <div class="product_pic col-35 fl">
                                <img src="../images/shoppingcart/product1.png" alt="">
                            </div>
                            <div class="product_content fl">
                                <div class="p_c_body">
                                    <div class="product_name fs12">拉卡拉收款宝 手机移动pos机刷卡器实时到账 信用卡还款芯片</div> 
                                    <div class="price">
                                        <div class="price_body">
                                            <span class="currentprice fs12">￥228</span>
                                        </div>
                                    </div>
                                    <div class="operation over fs12">
                                        <div class="deselect fl"><i></i>取消收藏</div>
                                        <div class="share fr"><i></i>分享到</div>
                                    </div>
                                </div>
                            </div>
                            <div class="commission_wrap col-20 fl">
                                <div class="commission_body">
                                    <span class="commission_title">佣金</span>
                                    <i></i>
                                    <p class="commission_num">11.40元</p>
                                </div>
                            </div>
                        </div>
                    </div> 
                </li>
                <li>
                    <div class="product_body">
                        <div class="product_body_main fl">
                            <div class="product_pic col-35 fl">
                                <img src="../images/shoppingcart/product1.png" alt="">
                            </div>
                            <div class="product_content fl">
                                <div class="p_c_body">
                                    <div class="product_name fs12">拉卡拉收款宝 手机移动pos机刷卡器实时到账 信用卡还款芯片</div> 
                                    <div class="price">
                                        <div class="price_body">
                                            <span class="currentprice fs12">￥228</span>
                                        </div>
                                    </div>
                                    <div class="operation over fs12">
                                        <div class="deselect fl"><i></i>取消收藏</div>
                                        <div class="share fr"><i></i>分享到</div>
                                    </div>
                                </div>
                            </div>
                            <div class="commission_wrap col-20 fl">
                                <div class="commission_body">
                                    <span class="commission_title">佣金</span>
                                    <i></i>
                                    <p class="commission_num">11.40元</p>
                                </div>
                            </div>
                        </div>
                    </div> 
                </li>
            </ul>
        </section>
        <section class="nav">
            <a href="index.html" class="index">
                <i></i>
                <div class="nav_name">首页</div>
            </a>
            <a href="shoppingcart.html" class="shoppingcart">
                <i></i>
                <div class="nav_name">购物车</div>
            </a>
            <a href="products.html" class="allproducts">
                <i></i>
                <div class="nav_name">所有商品</div>
            </a>
            <a href="" class="myinfo">
                <i></i>
                <div class="nav_name">我</div>
            </a>
        </section>
    </div>
</body>
</html>