<div class="pay-success center-view">
	<div class="pay-success-top">
		<div class="pay-success-icon"> <i class="icon-right"></i>
		</div>
		<div class="cl h10"></div>
		<span class="org-success">支付成功</span>
		<div class="cl h10"></div>
		<span class="pay-success-state">订单状态：等待发货</span>
		<div class="cl h10"></div>
		<p>支付时间：2016-04-29 11:41:14</p>
	</div>
	<div class="cl h20"></div>
	<div class="pay-success-bottom">
		<div class="pay-success-bth" ui-sref="index_app">返回首页</div>
		<div class="cl h10"></div>
		<p>
			<a href="#">查看物流</a>
		</p>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$(".pay-success").height($(window).height());
	});
</script>