<div class="product-details center-view" ng-controller="GoodsDetailsController">
	<div class="pd-share">
		<p>可得佣金：6.25</p>
		<p>立即发送给朋友或分享到朋友圈</p>
	</div>
	<div class="swiper-container" id="product_swiper_container">
		<div class="swiper-wrapper" >
			<div class="swiper-slide"  ng-repeat="img in goods.imgList">
				<img src="{{img.path}}" alt="">
			</div>
		
		</div>
		<div class="swiper-pagination"></div>
	</div>
	<div class="pd-box1">
		<div class="pd1-top">
			<div class="pd1-left fl">{{goods.name}}</div>
			<div class="pd1-right fl">

				<div class="pd1-right-icon" ng-click="fav(goods.gid)">
					<i class="icon-shouchang" ng-show="fav_id != ''"></i>
					<i class="icon-shouchang-1" ng-show="fav_id == ''"></i>
				
				</div>
			</div>
		</div>
		<div class="cl"></div>
		<div class="pd1-price" >
			<span class="p1" ng-show="goods.sale">￥{{goods.salePrice}}</span>
			<span class="p1" ng-show="!goods.sale">￥{{goods.price}}</span>
			<span class="p2" ng-show="goods.sale">
				￥<del>{{goods.price}}</del>
			</span>
		</div>
		<div class="pd1-info">
			<ul>
				<li>快递：0.00</li>
				<!-- <li>评价：{{goods.comment}}条</li> -->
				<li>成交额：{{goods.volume}}</li>
			</ul>
		</div>
	</div>
	<!-- <div class="pd-serve">
		<ul>
			<li>
				<div class="pd1-info-icon fl">
					<i class="icon-right"></i>
				</div>
				<p>&nbsp;100%正品保证</p>
			</li>
			<li>
				<div class="pd1-info-icon fl">
					<i class="icon-right"></i>
				</div>
				<p>&nbsp;7天退换货</p>
			</li>
			<li>
				<div class="pd1-info-icon fl">
					<i class="icon-right"></i>
				</div>
				<p>&nbsp;7X12在线客服</p>
			</li>
		</ul>
	</div> -->
	<!-- <div class="cl h10"></div>
	<div class="pd-box2">
		<div class="pd2-left fl">
			<p>{{goods.mName}}</p>
		</div>
		<div class="pd2-right fr" >
			<i class="icon-arrow fr"></i>
			<p ng-click="toMerchant(goods.mid)">进入店铺</p>
			<i class="icon-sp fl"></i>	

		</div>
	</div>
	<div class="cl h10"></div> -->
	<!-- <div class="pd-box3">
		<div class="pd3-hd">
			<div class="pd3-evaluate fl">
				<p>
					宝贝评价（
					<a href="#">{{goods.comment}}</a>
					）
				</p>
			</div>
			<div class="pd3-evaluates fr">
				<i class="icon-arrow fr"></i>
				<p>
					共累计：
					<a href="#">{{goods.comment}}</a>
					条评价
				</p>
			</div>
		</div>
		<div class="cl"></div>
		<div class="pd3-bd">
			<div class="pd3-info1 fl">东西收到了，质量很好，物流也很快，以后有需要的一定还会再来，商家服务态度好，给5分好评！！</div>
			<div class="pd3-info2 fr">
				<img src="../../images/product-details/pic2.png" alt="">
				<div class="pd3-user">b****f</div>
			</div>
			<div class="cl"></div>
			<div class="pd3-info3 fl">2016-02-01</div>
		</div>
	</div> -->
	<div class="cl h10"></div>
	<div class="pd-box4">
		<div class="pd4-hd">
			<ul>
				<li class="cur">
					<a href="javascript:;">图文详情</a>
				</li>
				<li>
					<a href="javascript:;" ng-click="getInfo(goods.gid)">产品参数</a>
				</li>
				<li >
					<a href="javascript:;">商品推荐</a>
				</li>
			</ul>
		</div>
		<div class="pd4-bd">
			<ul>
				<li class="cur"><div ng-bind-html="goods.content"></div></li>
				<li>
					
							<table width="100%" border="1" >
								<tr>
									<td>参数</td>
									<td>内容</td>
								</tr>
								<tr ng-repeat="info in infos">
									<td>{{info.key}}</td>
									<td>{{info.value}}</td>
								</tr>
							</table>
	
				</li>
				<li >
					<img src="../../images/product-details/pic3.png" alt="">
				</li>
			</ul>
		</div>
	</div>
	<div class="cl"></div>
	<div class="pd-box5">
		<div style="width:34%;" class="pd5-info3 fr" data-target="#now-buy-dialog" data-toggle="modal" 
		ng-click="toBuy(goods.gid)">
			<p>立即购买</p>			
		</div>
		<div class="pd5-info2 fr" data-target="#add-cart-dialog" data-toggle="modal"  ng-click="toCart(goods.gid)">
			<p>加入购物车</p>
		</div>
		<div class="pd5-info1 fr">
			<ul>
				<li>
				<a target=blank href=http://wpa.qq.com/msgrd?V=3&uin={{goods.mQQ}}&Site=中华阿胶网&Menu=yes 	>
					<i class="icon-QQ"></i>
					
				</a>
				<p>客服</p>
				</li>
				<li>
					<i class="icon-sp-1"></i>
					<p ng-click="toMerchant(goods.mid)">店铺</p>
				</li>
			</ul>
		</div>
	</div>
	<now-buy-dialog id='now-buy-dialog'></now-buy-dialog>
	<add-cart-dialog id='add-cart-dialog'></add-cart-dialog>
</div>
<script type="text/javascript">
// $(document).ready(function slide() {
// 	var haha = document.getElementById('slide');
// 		window.mySwipe = Swipe(
// 			haha, 
// 			{	
// 				startSlide: 0,		
// 				auto: 3000,         
// 				continuous: true,   
// 				disableScroll: true,  
// 				stopPropagation: true,   
// 				callback: function(index, element) {
// 					$(".dot ul li").eq(index).addClass("cur").siblings().removeClass("cur");
// 				}
// 			}
// 		);

// 		$(document).on('click','.dot ul li',function(){
// 			mySwipe.slide($(this).index(),1000);
// 	});
// });
var swiper = new Swiper('#product_swiper_container', {
        slidesPerView: 1,
        slidesPerColumn: 1,
        autoplay:5000,
        loop:true,
        pagination: '.swiper-pagination',
		paginationClickable :true,
    });
</script>