<div class="product-details center-view">
	<div class="pd-share">
		<p>可得佣金：6.25</p>
		<p>立即发送给朋友或分享到朋友圈</p>
	</div>
	<div id="slide" class="swipe">
		<div class='swipe-wrap'>
			<div>
				<img src="../../images/product-details/p1.png" />
			</div>
			<div>
				<img src="../../images/product-details/p1.png" />
			</div>
			<div>
				<img src="../../images/product-details/p1.png" />
			</div>
			<div>
				<img src="../../images/product-details/p1.png" />
			</div>
			<div>
				<img src="../../images/product-details/p1.png" />
			</div>
		</div>
		<div class="dot">
			<ul>
				<li class="cur"></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</div>
	<div class="pd-box1">
		<div class="pd1-top">
			<div class="pd1-left fl">拉卡拉 移动POS机秒到刷卡器信用卡刷卡机0.38积分26封顶一清机</div>
			<div class="pd1-right fl">
				<div class="pd1-right-icon"></div>
			</div>
		</div>
		<div class="cl"></div>
		<div class="pd1-price">
			<span class="p1">￥168</span>
			<span class="p2">
				价格： <del>256.00</del>
			</span>
		</div>
		<div class="pd1-info">
			<ul>
				<li>快递：0.00</li>
				<li>评价：2541条</li>
				<li>月成交额：451</li>
			</ul>
		</div>
	</div>
	<div class="pd-serve">
		<ul>
			<li>100%正品保证</li>
			<li>7天退换货</li>
			<li>7X12在线客服</li>
		</ul>
	</div>
	<div class="cl h10"></div>
	<div class="pd-box2">
		<div class="pd2-left fl">
			<p>乐谷微商城</p>
		</div>
		<div class="pd2-right fr">
			<p>进入店铺</p>
		</div>
	</div>
	<div class="cl h10"></div>
	<div class="pd-box3">
		<div class="pd3-hd">
			<div class="pd3-evaluate fl">
				<p>
					宝贝评价（
					<a href="#">4545</a>
					）
				</p>
			</div>
			<div class="pd3-evaluates fr">
				<p>
					共累计：
					<a href="#">4545</a>
					条评价
				</p>
			</div>
		</div>
		<div class="cl"></div>
		<div class="pd3-bd">
			<div class="pd3-info1 fl">东西收到了，质量很好，物流也很快，以后有需要的一定还会再来，商家服务态度好，给5分好评！！</div>
			<div class="pd3-info2 fr">
				<img src="../../images/product-details/pic2.png" alt="">
				<div class="pd3-user">b****f</div>
			</div>
			<div class="cl"></div>
			<div class="pd3-info3 fl">2016-02-01</div>
		</div>
	</div>
	<div class="cl h10"></div>
	<div class="pd-box4">
		<div class="pd4-hd">
			<ul>
				<li>
					<a href="javascript:;">图文详情</a>
				</li>
				<li>
					<a href="javascript:;">产品参数</a>
				</li>
				<li class="cur">
					<a href="javascript:;">商品推荐</a>
				</li>
			</ul>
		</div>
		<div class="pd4-bd">
			<ul>
				<li>1</li>
				<li>2</li>
				<li class="cur">
					<img src="../../images/product-details/pic3.png" alt=""></li>
			</ul>
		</div>
	</div>
	<div class="cl"></div>
	<div class="pd-box5">
		<div class="pd5-info1 fl">
			<ul>
				<li>
					<div class="pd5-icon"></div>
					<p>客服</p>
				</li>
				<li>
					<div class="pd5-icon"></div>
					<p>店铺</p>
				</li>
			</ul>
		</div>
		<div class="pd5-info2 fl" data-target="#add-cart-dialog" data-toggle="modal">
			<p>加入购物车</p>
		</div>
		<div class="pd5-info3 fr" data-target="#add-cart-dialog" data-toggle="modal">
			<p>立即购买</p>			
		</div>
	</div>
	<add-cart-dialog id='add-cart-dialog'></add-cart-dialog>
</div>