
    <div class="allproducts_wrap clearfix" ng-controller="GoodsListController">
        <div>
            <header class="sort"  style="background-color: #fff;color:#999;">
                <span ng-click="byOrder(0)"> 默认排序</span>
          <!--       <span ng-click="byOrder(1)">按价格排序<i class="icon-exchange"></i></span>
                <span ng-click="byOrder(2)">按销量排序<i class="icon-exchange"></i></span> -->
            <i style="border-top-color:#999;"></i>
                <div class="sort_content hide">
                    <div class="sortbysales" style="color:#999;" ng-click="byOrder(2)">按销量排序<i class="icon-exchange"></i></div>
                    <div class="sortbyprice" style="color:#999;" ng-click="byOrder(1)">按价格排序<i class="icon-exchange"></i></div>
                </div> 
            </header>

        </div>
        <section class="products_products clearfix">
            <ul>
                <li ng-repeat="goods in goodsList">
                    <a href="#/product/details.html?gid={{goods.gid}}">
                        <div class="product_pic"><img src="{{goods.path}}" alt="">
                        </div>
                        <div class="product_name fs14">
                            <div>{{goods.name}}</div>
                        </div>
                        <div class="price_info">
                             <div class="price fl" ng-show="{{!goods.sale}}">￥<span class="fs14">{{goods.price}}</span></div>
                            <div class="price fl" ng-show="{{goods.sale}}" sty>￥<span class="fs14">{{goods.salePrice}}</span></div>
                            <!-- <div class="price fl del" ng-show="{{goods.sale}}" >原价:￥{{goods.price}}</div> -->
                            <div class="sales fr">已售<span>{{goods.volume}}</span>笔</div>
                        </div>
                    </a>
                </li>
            </ul>
        </section>
        <section class="nav">
            <a href="index.html" class="index">
                <i></i>
                <div class="nav_name">首页</div>
            </a>
            <a href="" class="shoppingcart">
                <i></i>
                <div class="nav_name">购物车</div>
            </a>
            <a href="products.html" class="allproducts">
                <i></i>
                <div class="nav_name">所有商品</div>
            </a>
            <a href="" class="myinfo">
                <i></i>
                <div class="nav_name">我</div>
            </a>
        </section>
    </div>

    <nav></nav>
    <script type="text/javascript">
                //图片高度自适应
        var img_hei=$('.product_pic img').width()*0.703125;
        $('.product_pic img').height(img_hei)
        
    </script>