
    <div class="allproducts_wrap clearfix" ng-controller="GoodsListController">
        <div>
            <header class="sort" ><span ng-click="byOrder(0)"> 默认排序</span>
            <span ng-click="byOrder(1)">按价格排序<i class="icon-exchange"></i></span>
            <span ng-click="byOrder(2)">按销量排序<i class="icon-exchange"></i></span>
            <i></i>
               <!--  <div class="sort_content hide">
                    <div class="sortbysales" ng-click="byOrder(2)">按销量排序<i></i></div>
                    <div class="sortbyprice" ng-click="byOrder(1)">按价格排序<i></i></div>
                </div> -->
            </header>

        </div>
        <section class="products_products clearfix">
            <div class="title fs12">
                <b>热销商品</b>
                <a href="" class="fr moreproduct"><b>...</b></a>
            </div>
            <ul>
                <li ng-repeat="goods in goodsList">
                    <a href="#/product/details.html?gid={{goods.gid}}">
                        <div class="product_pic"><img src="{{goods.path}}" alt="">
                        </div>
                        <div class="product_name">
                            <b>{{goods.name}}</b>
                        </div>
                        <div class="price_info">
                             <div class="price fl" ng-show="{{!goods.sale}}">￥{{goods.price}}</div>
                            <div class="price fl" ng-show="{{goods.sale}}">￥{{goods.salePrice}}</div>
                            <div class="price fl" ng-show="{{goods.sale}}">原价:￥{{goods.price}}</div>
                            <div class="sales fr">已售<span>{{goods.volume}}</span>笔</div>
							<i class="icon-shouchang-1 shoucang fr"></i>
                        </div>
                    </a>
                </li>
            </ul>
        </section>
        <section class="nav">
            <a href="index.html" class="index">
                <i></i>
                <div class="nav_name">首页</div>
            </a>
            <a href="" class="shoppingcart">
                <i></i>
                <div class="nav_name">购物车</div>
            </a>
            <a href="products.html" class="allproducts">
                <i></i>
                <div class="nav_name">所有商品</div>
            </a>
            <a href="" class="myinfo">
                <i></i>
                <div class="nav_name">我</div>
            </a>
        </section>
    </div>

    <nav></nav>