
    <div class="wrap clearfix">
        <header>
            <div class="sort"><span>默认排序</span><i></i>
                <div class="sort_content hide">
                    <div class="sortbysales">按销量排序<i></i></div>
                    <div class="sortbyprice">按价格排序<i></i></div>
                </div>
            </div>
        </header>
        <section class="products_products clearfix">
            <div class="title">
                <b>热销商品</b>
                <a href="" class="fr moreproduct"><b>...</b></a>
            </div>
            <ul>
                <li>
                    <div class="product_pic"><img src="../images/index/product1.png" alt="">
                    </div>
                    <div class="product_name">
                        <b>拉卡拉收款宝 手机pos机移动刷卡</b>
                    </div>
                    <div class="price_info">
                        <div class="price fl">￥199.00</div>
                        <div class="sales fr">已售<span>244</span>笔</div>
                    </div>
                </li>
                <li>
                    <div class="product_pic"><img src="../images/index/product1.png" alt="">
                    </div>
                    <div class="product_name">
                        <b>拉卡拉收款宝 手机pos机移动刷卡</b>
                    </div>
                    <div class="price_info">
                        <div class="price fl">￥199.00</div>
                        <div class="sales fr">已售<span>244</span>笔</div>
                    </div>
                </li>
                <li>
                    <div class="product_pic"><img src="../images/index/product1.png" alt="">
                    </div>
                    <div class="product_name">
                        <b>拉卡拉收款宝 手机pos机移动刷卡</b>
                    </div>
                    <div class="price_info">
                        <div class="price fl">￥199.00</div>
                        <div class="sales fr">已售<span>244</span>笔</div>
                    </div>
                </li>
                <li>
                    <div class="product_pic"><img src="../images/index/product1.png" alt="">
                    </div>
                    <div class="product_name">
                        <b>拉卡拉收款宝 手机pos机移动刷卡</b>
                    </div>
                    <div class="price_info">
                        <div class="price fl">￥199.00</div>
                        <div class="sales fr">已售<span>244</span>笔</div>
                    </div>
                </li>
                <li>
                    <div class="product_pic"><img src="../images/index/product1.png" alt="">
                    </div>
                    <div class="product_name">
                        <b>拉卡拉收款宝 手机pos机移动刷卡</b>
                    </div>
                    <div class="price_info">
                        <div class="price fl">￥199.00</div>
                        <div class="sales fr">已售<span>244</span>笔</div>
                    </div>
                </li>
                <li>
                    <div class="product_pic"><img src="../images/index/product1.png" alt="">
                    </div>
                    <div class="product_name">
                        <b>拉卡拉收款宝 手机pos机移动刷卡</b>
                    </div>
                    <div class="price_info">
                        <div class="price fl">￥199.00</div>
                        <div class="sales fr">已售<span>244</span>笔</div>
                    </div>
                </li>
            </ul>
        </section>
        <section class="nav">
            <a href="index.html" class="index">
                <i></i>
                <div class="nav_name">首页</div>
            </a>
            <a href="" class="shoppingcart">
                <i></i>
                <div class="nav_name">购物车</div>
            </a>
            <a href="products.html" class="allproducts">
                <i></i>
                <div class="nav_name">所有商品</div>
            </a>
            <a href="" class="myinfo">
                <i></i>
                <div class="nav_name">我</div>
            </a>
        </section>
    </div>