<div class="cart center-view">
	<div class="total-top">
		<p>购物车</p>
	</div>
	<div class="clear"></div>
	 <div class="cart-content">
	 	<div class="shop cur">
				<div class="shop-title">
				<div class="shop-left fl">
					<div class="circle-icon fl"></div>
					<div class="circle-cur-icon fl"></div>
					<div class="shop-name fl">中华阿胶网自营</div>
				</div>
				<div class="shop-right fr">
					<div class="edit">编辑</div>
					<div class="operate">
						<ul>
							<li>完成</li>
							<li>删除</li>
							<li>移至收藏夹</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="clear"></div>
			<div class="shop-content">
				<div class="goods ">
					<div class="circle-icon fl"></div>
					<div class="circle-cur-icon fl"></div>
					<div class="shop-pic fl">
						<img src="images/cart/p1.png" alt="" class="shop-pics">
					</div>
					<div class="shop-text">
						<p>桃花姬阿胶糕225g即食阿胶固元膏ejiao女滋补盒装 225g</p>
					</div>
					<div class="flavor fl">
						<p>口味：</p>
						<div class="shop-flavor fl">蔓越莓型</div>
					</div>
					<div class="number fr">
						<span class="left fl">
							<div class="reduce-icon fl"></div>
						</span>
						<input type="text" class="numbers fl" placeholder="1">
						<span class="right fl">
							<div class="plus-icon fl"></div>
						</span>
					</div>
					<div class="shop-price fr">
						<p>独享价：<span class="red">¥198.00元</span></p>
					</div>
				</div>
			</div>
			<div class="total-price fr">
				<p>应付：<span class="red1">¥198.00</span></p>
				<p>已选择1件商品</p>
			</div>
	 	</div>
	 	<div class="shop">
				<div class="shop-title">
				<div class="shop-left fl">
					<div class="circle-icon fl"></div>
					<div class="circle-cur-icon fl"></div>
					<div class="shop-name fl">中华阿胶网自营</div>
				</div>
				<div class="shop-right fr">
					<div class="edit cur">编辑</div>
					<div class="operate cur">
						<ul>
							<li>完成</li>
							<li>删除</li>
							<li>移至收藏夹</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="clear"></div>
			<div class="shop-content">
				<div class="goods">
					<div class="circle-icon fl"></div>
					<div class="circle-cur-icon fl"></div>
					<div class="shop-pic fl">
						<img src="images/cart/p1.png" alt="" class="shop-pics">
					</div>
					<div class="shop-text">
						<p>桃花姬阿胶糕225g即食阿胶固元膏ejiao女滋补盒装 225g</p>
					</div>
					<div class="flavor fl">
						<p>口味：</p>
						<div class="shop-flavor fl">蔓越莓型</div>
					</div>
					<div class="number fr">
						<span class="left fl">
							<div class="reduce-icon fl"></div>
						</span>
						<input type="text" class="numbers fl" placeholder="1">
						<span class="right fl">
							<div class="plus-icon fl"></div>
						</span>
					</div>
					<div class="shop-price fr">
						<p>独享价：<span class="red">¥198.00元</span></p>
					</div>
				</div>
				<div class="goods">
					<div class="circle-icon fl"></div>
					<div class="circle-cur-icon fl"></div>
					<div class="shop-pic fl">
						<img src="images/cart/p1.png" alt="" class="shop-pics">
					</div>
					<div class="shop-text">
						<p>桃花姬阿胶糕225g即食阿胶固元膏ejiao女滋补盒装 225g</p>
					</div>
					<div class="flavor fl">
						<p>口味：</p>
						<div class="shop-flavor fl">蔓越莓型</div>
					</div>
					<div class="number fr">
						<span class="left fl">
							<div class="reduce-icon fl"></div>
						</span>
						<input type="text" class="numbers fl" placeholder="1">
						<span class="right fl">
							<div class="plus-icon fl"></div>
						</span>
					</div>
					<div class="shop-price fr">
						<p>独享价：<span class="red">¥198.00元</span></p>
					</div>
				</div>
			</div>
			<div class="total-price fr">
				<p>应付：<span class="red1">¥396.00</span></p>
				<p>已选择1件商品</p>
			</div>
	 	</div>
	 	
	 </div>
	 <div class="cart-bottom">
 		<div class="cart-bottom-left fl">
 			<div class="circle-icon fl"></div>
			<div class="circle-cur-icon fl"></div>
	 		<div class="cart-bottom-choose">全选</div>
	 		<div class="total-prices fr">
	 			<p>总计：<span class="red1">¥198.00</span></p>
	 			<p>(含运费，已优惠0.00)</p>
	 		</div>
 		</div>
 		<div class="cart-bottom-right fr">
	 		<div class="settlement">
	 			<p>去结算（1件）</p>
	 		</div>
	 	</div>
 	</div>
</div>