<div class="wrap">
   <div class="main-header">
   	<div class="main-header-nav">
   		
   	</div>
   	<div class="main-header-search">
   		
   	</div>
   	<div class="main-header-login">
   		
   	</div>
   </div>
   <div class="main-banner">
   	
   </div>
   <div class="main-nav">
   	
   </div>
   <div class="main-inner-hot">
   	<div class="main-inner-hot-hd fl">
   		站内热点
   	</div>
   	<div class="main-inner-hot-list">
   		
   	</div>
   </div>
   <div class="main-hot-commodity">
   	<div class="main-hot-commodity-hd">
   		<div class="main-hot-ch-title fl">热门促销</div>
   		<div class="main-hot-ch-more fr">
   			<a href=""></a>
   		</div>
   	</div>
   	<div class="clear"></div>
   	<div class="main-hot-commodity-list">
   		<div class="main-hot-commodity-item">
   			<div class="main-hot-commodity-img">
   				<a href="#">
   					<img src="">
   				</a>	
   			</div>
   			<div class="main-hot-commodity-txt">
   				<a href="#">
   					<p class="main-hot-commodity-name">桃花姬阿胶糕450g（225g*2）即食即食即食</p>
   				</a>
   				<p>
   					<span class="main-hot-commodity-price">486.00</span>
   					<span class="main-hot-commodity-count">已售出260笔</span>
   				</p>
   			</div>
   		</div>
   		<div class="main-hot-commodity-item">
   			<div class="main-hot-commodity-img">
   				<a href="#">
   					<img src="">
   				</a>	
   			</div>
   			<div class="main-hot-commodity-txt">
   				<a href="#">
   					<p class="main-hot-commodity-name">桃花姬阿胶糕450g（225g*2）即食即食即食</p>
   				</a>
   				<p>
   					<span class="main-hot-commodity-price">486.00</span>
   					<span class="main-hot-commodity-count">已售出260笔</span>
   				</p>
   			</div>
   		</div>
   	</div>
   </div>

    <div class="main-hot-commodity">
   	<div class="main-hot-commodity-hd">
   		<div class="main-hot-ch-title fl">热门推荐</div>
   		<div class="main-hot-ch-more fr">
   			<a href=""></a>
   		</div>
   	</div>
   	<div class="clear"></div>
   	<div class="main-hot-commodity-list">
   		<div class="main-hot-commodity-item">
   			<div class="main-hot-commodity-img">
   				<a href="#">
   					<img src="">
   				</a>	
   			</div>
   			<div class="main-hot-commodity-txt">
   				<a href="#">
   					<p class="main-hot-commodity-name">桃花姬阿胶糕450g（225g*2）即食即食即食</p>
   				</a>
   				<p>
   					<span class="main-hot-commodity-price">486.00</span>
   					<span class="main-hot-commodity-count">已售出260笔</span>
   				</p>
   			</div>
   		</div>
   		<div class="main-hot-commodity-item">
   			<div class="main-hot-commodity-img">
   				<a href="#">
   					<img src="">
   				</a>	
   			</div>
   			<div class="main-hot-commodity-txt">
   				<a href="#">
   					<p class="main-hot-commodity-name">桃花姬阿胶糕450g（225g*2）即食即食即食</p>
   				</a>
   				<p>
   					<span class="main-hot-commodity-price">486.00</span>
   					<span class="main-hot-commodity-count">已售出260笔</span>
   				</p>
   			</div>
   		</div>
   	</div>
   </div>

   <div class="main-footer-nav">
   	<ul class="footer-btn clearfix">
		<li class="fl" >
			<a href=""><i class="fa fa-file-text-o"></i>首页</a>
		</li>
		<li class="fl ">
			<a href=""><i class="fa fa-suitcase"></i>购物车</a>
		</li>
		<li class="fl ">
			<a href="" ><i class="fa fa-shield"></i>所有商品</a>
		</li>
		<li class="fl ">
			<a href="" ><i class="fa fa-phone"></i>我</a>
		</li>
	</ul>
   </div>
</div>
