<section class="nav">
    <a class="index" ui-sref="index" ui-sref-active="nav_index_active">
        <i class="icon-home-1"></i>
        <div class="nav_name">首页</div>
    </a>
    <a class="shoppingcart" ui-sref="shoppingcart" ui-sref-active="nav_shoppingcart_active"> 
        <i class="icon-shopping-2"></i>
        <div class="nav_name">购物车</div>
    </a>
    <a class="allproducts" href="#/products?mid=">
        <i class="icon-sp"></i>
        <div class="nav_name">所有商品</div>
    </a>
    <a class="myinfo" ui-sref="user" ui-sref-active="nav_myinfo_active">
        <i class="icon-me-1"></i>
        <div class="nav_name">我</div>
    </a>
</section>