.group-purchase-details{
	overflow: hidden;
	background-color: #F3F3F3;
	margin-bottom: 52px;
}
.pd-box1{
	border-bottom: none;
}
.group-purchase-details .pd1-top{
	height: 56px;
}
.group-purchase-details .pd-box5{
	position: fixed;
	height: 50px;
	bottom: 0;
	left: 0;
	width: 100%;
	font-size: 14px;
}
.group-purchase-details .pd5-info1{
	width: 20%;
	text-align: center;
	padding-top: 4px;
}
.group-purchase-details .pd5-info1 i.icon-home-1{
	font-size: 24px;
	color: #333333;
}
.group-purchase-details .pd5-info3{
	width: 40%;
	padding-top:7px;
	background-color:#FF473F;
}
.group-purchase-details .pd5-info3 p{
	line-height: 20px;
}
.group-purchase-details .pd4-hd>ul>li{
	border-right: none;
}
.group-purchase-details .ad-box2{
	background-color: #fff;
	overflow: hidden;
	padding-top:7px;
	padding-left: 3%;
	padding-right: 3%;
}
.group-purchase-details .ad-box2 .ad2-hd{
	width:22%;
	font-size: 16px;
	height:30px;
	line-height:30px;
	text-align: center;
	border-bottom: 1px solid #FF473F;
}
.group-purchase-details .ad2-bd img{
	width: 100%;
}
.group-info1{
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 12px;
	color: #8C8C8C;
}
.joined-box5-bd>ul>li{
	margin-right: 2% !important;
}
.joined-box5-bd>ul>li:nth-child(1){
	width: 23% !important;
}
.joined-rule-left{
	color: #fff !important;
	background-color:#B9B9B9 !important;
	margin-right: 5% !important;
}
.joined-rule-right{
	color:#B0B0B0 !important;
}
.joined-box5-bd>ul>li.cur .joined-rule-left{
	background-color:#FF473F !important;
}
.group-nums>ul>li{
	float: left;
	width: 50%;
	height: 25px;
	line-height: 25px;
	text-align: left;
	color: #B0B0B0;
	font-size: 12px;
}
.group-purchase-details .pd-box1{
	padding-bottom: 10px;
}
.adm-left{
	font-weight: normal !important;
}
i{
	display: inline-block;
}
.adm-left{
	padding-left: 0;
}
.group-purchase-details .adm-left{
	height: 56px;
}
.group-purchase-details .adm-right{
	line-height: 19px;
	height: 56px;
}
.group-purchase-details .adm-right i.icon-share{
	color: #41D172;
	font-size: 20px;
}
.joined-box5-hd{
	color:#B0B0B0;
	font-size: 16px;
	font-weight: normal;
	padding-right: 3%;
	overflow: hidden;
}
.joined-box5-hd p:nth-child(2){
	border: 1px solid #B0B0B0;
	border-radius: 4px;
	padding: 2px 2%;
}
.swiper-slide img{
	width: 100%;
}
/*层叠小圆点样式*/
.swiper-pagination-bullet{
    width:25px !important;
    height:5px !important;
    display: inline-block !important;
    border-radius:4px !important;
    background:#fff !important;
    opacity:1 !important;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background:#FF473F !important;
}
.gotop{
	position: fixed;
	bottom:60px;
	right: 3%;
	width: 50px;
	height: 50px;
	border-radius: 30px;
	border: 1px solid #ccc;
	text-align: center;
	color: #BFBFBF;
	display: none;
}
.gotop i.icon-arrow{
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	display: inline-block;
	font-size: 20px;
}