.mycollection_wrap{color: #3e3e3e;background: #f0f0f0}
.mycollection_wrap .products ul{padding-bottom: 43px}
.mycollection_wrap .products ul li{background: #fff;margin-bottom: 8px;overflow: hidden}
.mycollection_wrap .products ul li .product_pic{text-align: center;vertical-align: middle}
.mycollection_wrap .products ul li .product_content{position: relative;height: 118px;width: 41%;padding-right: 4%;}
@media screen and (min-width:400px){
    .products ul li .product_pic{width: 25%}
    .products ul li .product_content{width: 60%}
}
.mycollection_wrap .products ul li .product_pic img{width: 90px;padding:12px 0}
.mycollection_wrap .products ul li .p_c_body{padding: 12px 0}
.mycollection_wrap .products ul li .product_name,.products ul li .mycollection_wrap .product_info{width: 100%; height: 48px;position: relative;overflow: hidden;display: block;color: #40404c}
.mycollection_wrap .products ul li .product_info{color: #bebebe;margin-top: 5px}
.mycollection_wrap .products ul li .price{width: 100%;margin-top: 4px}
.mycollection_wrap .products ul li .price .price_body{}
.mycollection_wrap .products ul li .price .currentprice{color: #fd8841}
.mycollection_wrap .operation{line-height: 30px}
.mycollection_wrap .operation i{width:14px;height: 15px;background:#fd8841 url(../../images/icon.png);position: relative;top: 2px;margin-right: 4px}
.mycollection_wrap .commission_wrap{height:94px;padding: 12px 0}
.mycollection_wrap .commission_wrap .commission_body{height: 85px;text-align: center;border-left: 1px solid #bebebe;color: #fd8841}
.mycollection_wrap .commission_body i{width:10px;height: 10px;background: #fd8841 url(../../images/icon.png)}
.mycollection_wrap .commission_wrap .commission_title{padding-top: 18px}
.mycollection_wrap .commission_wrap p.commission_num{padding-top: 10px}
