.mycollection_wrap{color: #3e3e3e;background: #f0f0f0}
.mycollection_wrap .products ul{padding-bottom: 43px}
.mycollection_wrap .products ul li{background: #fff;margin-bottom: 8px;overflow: hidden}
.mycollection_wrap .products ul li .product_pic{text-align: center;vertical-align: middle}
.mycollection_wrap .products ul li .product_content{position: relative;height: 118px;padding-right: 4%;}
.mycollection_wrap .products ul li .product_pic img{width: 90px;padding:12px 0}
.mycollection_wrap .products ul li .p_c_body{padding: 12px 0}
.mycollection_wrap .products ul li .product_name,.products ul li .mycollection_wrap .product_info{width: 100%; height:36px;position: relative;overflow: hidden;display: block;color: #3f3f3f;line-height: 16px;}
.mycollection_wrap .products ul li .product_info{color: #bebebe;margin-top: 5px}
.mycollection_wrap .products ul li .price{width: 100%;margin: 8px 0 5px 0;}
.mycollection_wrap .products ul li .price .currentprice{color: #ff473f}
.mycollection_wrap .operation{line-height: 30px;color: #3f3f3f}
.mycollection_wrap .operation i{width:14px;height: 15px;color:#ff473f;margin-right: 4px;font-size: 14px;position: relative;top: 1px}
.mycollection_wrap .operation .movetocart{margin-left:13%}
.mycollection_wrap .operation .movetocart i{color: #41d071;}
