html,body{background: #f0f0f0} 
.order_wrap{background: #f0f0f0;font-size: 14px;padding:45px 0 33px;min-height: 100%}

/*头部导航*/
.order_nav{position: fixed;top: 0;width: 100%;height: 40px;
	line-height: 40px;z-index: 3;background: #fff}
.order_nav a{width: 25%;text-align: center;float: left;line-height:40px;position: relative;color: #333}  
.order_nav a i{width: 80%;height: 2px;position: absolute;bottom: 0;left: 10%;}
.order_nav a.all.on{
	color:#ff473f;
}

.order_nav a i.all.on{
	background:#ff473f;
}

.order_nav a.payment.on{
	color:#ff473f;
}

.order_nav a i.payment.on{
	background:#ff473f;
}

.order_nav a.paid.on{
	color:#ff473f;
}

.order_nav a i.paid.on{
	background:#ff473f;
}
.order_nav a.delivered.on{
	color:#ff473f;
}

.order_nav a i.delivered.on{
	background:#ff473f;
}
.order_nav a.unfilled.on{
	color:#ff473f;
}

.order_nav a.unfilled.on i{
	background:#ff473f;
}


/*订单列表*/
.order_wrap .order_body ul{margin:0 0 60px 0;}
.order_wrap .order_body ul.cur{
	display: block;
}
.order_wrap .order_body ul li{overflow: hidden;background: #fff;margin-bottom:5px}
.order_wrap ul li .order_pic{text-align: center;height: 76px;overflow: hidden;border: 1px solid #ccc;margin-right:3%;}
.order_wrap ul li .order_pic img{width:100%;vertical-align: middle;height: 100%;}
.order_wrap ul li .order_info_wrap{overflow: hidden;}
.order_wrap ul li .order_info_body{overflow: hidden;}
.order_wrap ul li .order_title a{height:30px;line-height: 15px;overflow: hidden;color: #333333}
.order_wrap ul li .order-prices{color: #ff473f;}
.order_wrap ul li .order_num{text-align: right;margin-right: 2px;}
.order_wrap ul li .order_btn{width: 96%;overflow: hidden;margin:0 2%;padding: 7px 0}
.order_wrap ul li .order_cancel,.order_wrap ul li .order_pay,.order_wrap ul li .order_payagain,.order_wrap ul li .order_evaluate,.order_wrap ul li .order_logistics,.order_wrap ul li .order_confirm{height: 25px;box-sizing: border-box;border-radius: 3px;text-align: center;}
.order_wrap ul li .order_cancel{width:74px;background: #fff;color:#807E7E;border:1px solid #807E7E;line-height: 25px;}
.order_wrap ul li .order_pay{width:65px;color: #ff473f;border: 1px solid #ff473f;line-height: 25px;margin-right:4%}
.order_wrap ul li .order_confirm{width: 65px;border: 1px solid #fd8842;background: #fd8842;color: #fff;margin-right: 10px;line-height: 23px}
.order_wrap ul li .order_evaluate{width: 50px;background: #fff;color: #3f3f3f;line-height: 23px;margin-right:10px;border: 1px solid #bebebe;}
.order_wrap ul li .order_payagain{width: 65px;background: #fd8842;color: #fff;line-height: 25px;margin-right:4%;}
.order_wrap ul li .order_logistics{width: 65px;border: 1px solid #bebebe;background: #fff;color: #3f3f3f;margin-right: 10px;line-height: 23px}

/*待支付订单样式*/
.order_wrap ul .nopay .checkorder{width: 7%}
.order_wrap ul .nopay .order_info_wrap{width: 68%}
.checkorder{height: 90px;line-height: 100px;text-align: right }
.checkorder i{width:18px;height: 18px;border-radius:9px;border: 1px solid #bebebe}
.checkorder i.icon-right{width:18px;height: 18px;line-height: 18px; background:#fd8842;border: none;border-radius: 9px;text-align: center;color: #fff;position: relative;top: -5px}
.order_wrap ul .nopay .order_info_body{margin: 15px 10px 15px 0}

/*合并支付*/
.order_wrap .merge_pay{width: 100%;height: 45px;position: fixed;bottom: 52px;z-index: 2;background: #f3f3f3}
.order_wrap .merge_pay .merge_pay_a{width: 80px;line-height: 30px;background: #fd8842;border-radius: 3px;text-align: center;margin: 7px 5% 0 0}

/****************/
.order-hd1{
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #ccc;
	padding-left: 4%;
	padding-right: 4%;
	color: #807E7E;
}
.order-bd1{
	padding-left: 4%;
	padding-right:4%;
	padding-top: 15px;
	overflow: hidden;
}
.col-67{
	width: 67%;
}

.my-groups .order-prices{
	text-align: right;
}
.my-groups .order-bd1{
	padding-bottom: 5px;
}

.my-auctions .order-prices{
	text-align: right;
}
.my-auctions .order-bd1{
	padding-bottom: 5px;
}
.my-auctions .green{
	color:#34CC67 !important;
	border-color:#34CC67 !important;
}
.my-auctions .red{
	color:#ff473f !important;
	border-color:#ff473f !important;
}

/*************order_nav*/
.groups-all,.groups-ing,.groups-success,.groups-failed{
	color: #ff473f !important;
}
.groups-all i,.groups-ing i,.groups-success i,.groups-failed i{
	background-color:#ff473f !important; 
}

.blank-tips{
	text-align: center;
	padding-top:40px;
}
.blank-tips p{
	margin-top:14px;
	color:#999;
}
.blank-tips i{
	font-size: 56px;
	color:#d3d3d3;
}
