.wrap{color: #3e3e3e}
i{display: inline-block}
/*头部*/
.wrap header{width: 100%;height: 40px;line-height:40px;background: #fd8842;color: #fff;font-size: 13px;position: fixed;top: 0;z-index: 2}

/*头部分类*/
.sort{text-align: center;font-size: 14px}
.sort i{position: relative;top: 1px;left: 4px}
.sort>i{width: 0;height: 0;border-left: 7px solid transparent;border-right: 7px solid transparent;border-top:12px solid #fff;}
.sort_content>div{height: 40px;position: relative;z-index: 2;background: #f0f0f0;color: #fd8841}
.sort_content>div i{width:14px;height: 13px;background: url(../../images/index/icon.png) -95px -131px }

/*热销商品*/
.products{background: #f0f0f0;margin-top: 40px}
.products .title{line-height: 25px;}
.products .title b{margin-left: 3%}
.products .title a{color: #3e3e3e;margin-right: 3%}
.products ul li{width: 49.8%;min-height: 202px;margin-bottom: 2%;float: left;background: #fff;padding-bottom: 5px}
.products ul li:nth-child(2n-1){margin-right: 0.4%}
.products .product_pic img{width: 100%}
.products ul li .product_name{line-height: 20px;white-space:nowrap;text-overflow: ellipsis;overflow: hidden;}
.products ul li .price_info,.products ul li .product_name{padding:0 5px}
.products ul li .price_info .price{font-size: 14px;line-height: 24px;color: #fd8841}
.products ul li .price_info .sales{line-height: 22px;margin-left: 20px;color: #666464}

/*底部导航*/
.nav{width: 100%;height: 52px;position: fixed;bottom: 0;z-index: 2;background: #fff;border-top: 1px solid #fd8841}
.nav>a{width: 25%;text-align: center;height: 50px;display:block;float: left}
.nav>a i{width:22px;height: 19px;margin:8px auto 0}
.nav .nav_name{height: 20px;color:#3e3e3e}
.nav .index i{background: url(../../images/icon.png) -2px -32px}
.nav .index .nav_name{color: #fd8841}
.nav .shoppingcart i{background: url(../../images/icon.png) -47px -79px}
.nav .allproducts i{background: url(../../images/icon.png) -46px -130px}
.nav .myinfo i{background: url(../../images/icon.png) -45px -178px}
