<div class="group-rules">
        <div class="group-rules-hd">拼团规则详情</div>
        <div class="cl h10"></div>
        <div class="group-rules-bd">
            <div class="group-rules-left fl">
                <ul>
                    <li>
                        <p>挑选心仪商品</p>
                        <p>精选商品</p>
                        <p>超低价团购</p>
                    </li>
                    <li>
                        <p></p>
                        <p></p>
                        <p></p>
                    </li>
                    <li>
                        <p>邀请好友参团</p>
                        <p>分享链接</p>
                        <p>和好友共享实惠</p>
                    </li>
                    <li>
                        <p>未达人数 参团失败</p>
                        <p>规定的参团时间内参团人数不足</p>
                        <p>系统自动退款至支付账户</p>
                        <p>3-7日到账</p>
                    </li>
                </ul>
            </div>
            <div class="group-rules-mid fl">
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                </ul>
            </div>
            <div class="group-rules-left fr"style="width:45%">
                <ul style="border-right:none;padding-right:0;margin-right:0;">
                    <li style="margin-bottom:22px;">
                        <p></p>
                        <p></p>
                        <p></p>
                    </li>
                    <li style="text-align:left;">
                        <p>开团或参团</p>
                        <p>(24小时之内支付成功)开团成功or加入团成功</p>
                    </li>
                    <li>
                        <p></p>
                        <p></p>
                        <p></p>
                    </li>
                    <li style="text-align:left;">
                        <p>达到人数 参团成功</p>
                        <p>规定的参团时间内邀请足够好友加入</p>
                        <p>团购成功</p>
                        <p>卖家安排发货</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<nav></nav>
<script type="text/javascript">
    $(document).ready(function() {
        $(".group-rules").height($(window).height());
    });
</script>