<div class="problem-total">
	<div class="problem-hd">秒杀规则详情</div>
	<div class="problem-bd">
		<p><span class="fw">秒杀是什么</span><br/>秒杀是一款涵盖吃喝玩乐价格超低的频道活动，每天限时限量，吃喝玩乐任你选。</p>
		<p><span class="fw">如何秒杀</span><br/>
		当秒杀开始后，选择中意的商品，点击抢购按钮即可参与秒杀。（记得先登记或者注册成功哦~）</p>
		<p><span class="fw">什么时间可以参加秒杀</span><br/>
		每天不定时秒杀活动，相继多款商品，敬请关注。</p>
		<p><span class="fw">一个账号可以购买几款商品</span><br/>
		由于推出的秒杀商品数量有限，价格劲爆，所以规定每人，每个商品，限购一单。以您的微信号和您的手机号码作为参考。</p>
		<p><span class="fw">何时能收到抢拍的商品</span><br/>
		商品在秒杀结束后统一配送，请您耐心等待！</p>
		<p><span class="fw">如何退款</span><br/>
		由于推出的秒杀商品超低价，超实惠，不予退款，超期作废。</p>
	</div>
</div>
<nav></nav>