<div class="partner-help_wrap">
    <div class="help_list" ui-sref="problem1">
        <div class="help_list_body col-95">
            <div class="help_title fs14 fl">我拍下的产品什么时候发货？</div>
            <i class="icon-arrow fr"></i>
        </div> 
    </div>
    <div class="help_list" ui-sref="problem2">
        <div class="help_list_body col-95">
            <div class="help_title fs14 fl">没有收到货/商家发错地址了怎么办？</div>
            <i class="icon-arrow fr"></i>
        </div> 
    </div>
    <div class="help_list" ui-sref="problem3">
        <div class="help_list_body col-95">
            <div class="help_title fs14 fl">收到产品有问题怎么办？</div>
            <i class="icon-arrow fr"></i>
        </div> 
    </div>
    <div class="help_list" ui-sref="problem4">
        <div class="help_list_body col-95">
            <div class="help_title fs14 fl">收到的产品能退换货吗？</div>
            <i class="icon-arrow fr"></i>
        </div> 
    </div>
    <div class="help_list" ui-sref="group-rules">
        <div class="help_list_body col-95">
            <div class="help_title fs14 fl">拼团规则详情</div>
            <i class="icon-arrow fr"></i>
        </div> 
    </div>
    <div class="help_list" ui-sref="problem7">
        <div class="help_list_body col-95">
            <div class="help_title fs14 fl">秒杀规则详情</div>
            <i class="icon-arrow fr"></i>
        </div> 
    </div>
    <div class="help_list" ui-sref="auction-rules">
        <div class="help_list_body col-95">
            <div class="help_title fs14 fl">竞拍规则详情</div>
            <i class="icon-arrow fr"></i>
        </div> 
    </div>
    <div class="help_list" ui-sref="problem5">
        <div class="help_list_body col-95">
            <div class="help_title fs14 fl">如何联系客服？</div>
            <i class="icon-arrow fr"></i>
        </div> 
    </div>
    <div class="help_list" ui-sref="problem6">
        <div class="help_list_body col-95">
            <div class="help_title fs14 fl">关于我们</div>
            <i class="icon-arrow fr"></i>
        </div> 
    </div>
</div>
<nav></nav>
<script>
    $('.partner-help_wrap').height($(window).height());
    $('.nav .myinfo').addClass('nav_myinfo_active');
    console.log($('.nav').height())
</script>